Repository IntersectMBO/govtool, pull requests merged in 2024-06, with the labels that each got.

#1147 fix/new-line-in-test-ids
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/ReviewCreatedGovernanceAction.tsx
Labels: 🖥 Frontend, ⌛️waiting for CR

#1164 fix/test-ids
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RegisterAsDRepForm.tsx
Labels: 🖥 Frontend

#1161 fix/1079-bug-multiple-wallet-popups
  govtool/frontend/src/components/atoms/Button.tsx
Labels: 🖥 Frontend

#1156 fix/509-ga-submit-where-there-is-not-enough-founds-no-info-modal-view-is-shown-info-desing-ready-todo
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/WhatGovernanceActionIsAbout.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ProposeGovActionDashboardCard.tsx
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
Labels: 🖥 Frontend

#1170 fix/1169-wrong-references-object-keys-in-metadata
  govtool/frontend/src/utils/generateMetadataBody.ts
  govtool/frontend/src/utils/tests/generateMetadataBody.test.ts
Labels: 🖥 Frontend

#1191 fix/direct-voter-delegation-card
  govtool/frontend/src/components/organisms/DashboardCards/DelegateDashboardCard.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Labels: 🖥 Frontend

#1196 [#1195] Remove unnecessary deployment config dependancy
  scripts/govtool/Makefile
Labels: 🐛 Bug, 🏗 Infrastructure

#955 [#262] GovTool architecture documentation
  README.md
  docs/architecture/Architecture diagram.png
  docs/architecture/README.md
  infra/terraform/README.md
  scripts/govtool/README.md
Labels: 📜 Documentation, 🏗 Infrastructure

#1219 1210-drep-registration-json-file-name-beyond-view-when-drep-title-is-long
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStorageInformation.tsx
Labels: 🖥 Frontend, ⌛️waiting for CR

#1227 fix/1211-when-submitting-a-drep-registration-the-transaction-does-not-contain-a-vote-delegation-to-self
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStorageInformation.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
Labels: 🖥 Frontend, ⌛️waiting for CR

#1228 chore/cleanup-code
  govtool/frontend/src/hooks/forms/index.ts
  govtool/frontend/src/hooks/forms/useUpdatedRepMetadataForm.tsx
  govtool/frontend/src/hooks/forms/useUrlAndHashFormController.tsx
  govtool/frontend/src/i18n/locales/en.ts
Labels: 🖥 Frontend, ⌛️waiting for CR

#1229 fix/1207-dashboard-drep-card-drep_name-is-shown-instead-title-of-drep-passed-during-registration
  govtool/frontend/src/components/molecules/DelegationAction.tsx
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/DashboardCards/DelegateDashboardCard.tsx
  govtool/frontend/src/context/pendingTransaction/utils.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Labels: 🖥 Frontend, ⌛️waiting for CR

#1242 fix/1076-bug-missing-link-for-tracking-registration-confirmation-in-drep-registration-confirmation-modal
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
Labels: 🖥 Frontend

#1251 fix/1231-ga-treasury-unable-to-add-proposal-with-this-type-when-bech32-receiving-address-is-used
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/utils/isValidFormat.ts
  govtool/frontend/src/utils/tests/isValidFormat.test.ts
Labels: 🖥 Frontend

#1262 fix/1257-dashboard-shows-delegation-in-two-places-should-be-one-after-becoming-a-drep
  govtool/frontend/src/components/organisms/DashboardCards/DelegateDashboardCard.tsx
  govtool/frontend/src/context/pendingTransaction/utils.tsx
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Labels: 🖥 Frontend

#1258 fix/1243-bug-incorrect-labelling-of-governance-action-metadata-field-about-abstract
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
Labels: 🖥 Frontend

#1259 fix/1253-dashboard-drep-explorer-drep-details-drep-name-appears-beyond-label
  govtool/frontend/src/components/molecules/DataMissingHeader.tsx
  govtool/frontend/src/components/molecules/DelegationAction.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/pages/DRepDetails.tsx
Labels: 🖥 Frontend

#1292 fix/1119-bug-wallet-disconnect-unexpected-redirection-to-dashboard-from-governancedrep-pages
  govtool/frontend/src/components/molecules/WalletInfoCard.tsx
  govtool/frontend/src/components/molecules/WalletOption.tsx
  govtool/frontend/yarn.lock
Labels: 🖥 Frontend, ⌛️waiting for CR

#1276 fix/1244-bug-cip-108-metadata-markdown-text-styling-not-shown
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/components/molecules/governanceActionCardElement.test.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/yarn.lock
Labels: 🖥 Frontend, ⌛️waiting for CR

#1362 [#1218] Resolve CSP issue blocking Sentry requests in Traefik configuration
  scripts/govtool/config/templates/docker-compose.yml.tpl
Labels: 🐛 Bug, 🏗 Infrastructure

#1397 fix/1389-bug-clearing-name-field-on-edit-drep-form-causes-it-to-reappear-and-adds-extra-link-input
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepForm.tsx
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/pages/EditDRepMetadata.tsx
Labels: 🖥 Frontend
