Repository IntersectMBO/govtool, pull requests merged in 2024-07, with the labels that each got.

#1572 chore: bump @intersect.mbo/pdf-ui to v0.2.9
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Labels: 🖥 Frontend

#1553 backend: allow using metadata directly from db-sync
  govtool/backend/example-config.json
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/Config.hs
  govtool/backend/src/VVA/Metadata.hs
  govtool/backend/src/VVA/Types.hs
Labels: DBSync5.0.0

#1552 list-proposals: fix SQL
  govtool/backend/sql/list-proposals.sql
Labels: DBSync5.0.0

#1570 [#1472] Bump CSL version to 12.0.0-beta.2
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/patches/@emurgo+cardano-serialization-lib-asmjs+12.0.0-beta.2.patch
  govtool/frontend/yarn.lock
Labels: 🖥 Frontend

#1584 [#1413] remove balance check on redirect to GA propose
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ProposeGovActionDashboardCard.tsx
Labels: 🖥 Frontend

#1532 [#1404] improve query data type from any
  govtool/frontend/src/context/pendingTransaction/utils.tsx
Labels: 🖥 Frontend

#1593 chore(#1575): Provide pdf api url from the env variables
  .github/workflows/build-and-deploy-beta.yml
  .github/workflows/build-and-deploy-dev.yml
  .github/workflows/build-and-deploy-staging.yml
  .github/workflows/build-and-deploy-test-stack.yml
  .github/workflows/build-and-deploy-test.yml
  CHANGELOG.md
  govtool/frontend/.env.example
  govtool/frontend/Dockerfile
  govtool/frontend/default.nix
  govtool/frontend/src/pages/ProposalDiscussion.tsx
  govtool/frontend/src/types/@intersect.mbo.d.ts
  scripts/govtool/config.mk
  scripts/govtool/config/templates/docker-compose.yml.tpl
  scripts/govtool/frontend.mk
Labels: 🏗 Infrastructure

#1610 [#1117] redirect to private drep directory url
  CHANGELOG.md
  govtool/frontend/src/App.tsx
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
  govtool/frontend/src/pages/DRepDirectory.tsx
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/pages/EditDRepMetadata.tsx
  govtool/frontend/src/pages/PublicRoute.tsx
  govtool/frontend/src/pages/RegisterAsDirectVoter.tsx
  govtool/frontend/src/pages/RegisterAsdRep.tsx
  govtool/frontend/src/pages/RetireAsDirectVoter.tsx
  govtool/frontend/src/pages/RetireAsDrep.tsx
  govtool/frontend/src/utils/checkIsWalletConnected.ts
  govtool/frontend/src/utils/tests/checkIsWalletConnected.test.ts
Labels: 🖥 Frontend

#1611 [#1442] Add redirect to dashboard cards after connect
  CHANGELOG.md
  govtool/frontend/src/components/organisms/HomeCards.tsx
Labels: 🖥 Frontend
