Repository IntersectMBO/govtool, pull requests merged in 2024-05, with the labels that each got.

#902 fix/879-alingment-items-in-drep-card
  govtool/frontend/src/components/atoms/StatusPill.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/utils/adaFormat.ts
  govtool/frontend/src/utils/tests/adaFormat.test.ts
Labels: 🖥 Frontend

#946 Fix building analytics image for multiple environments
  scripts/govtool/analytics-dashboard.mk
Labels: 🐛 Bug, 🏗 Infrastructure

#943 chore/898-wrapper-wrap-up-wallet-interface-into-package-and-export-out
  CHANGELOG.md
  govtool/packages/wallet-connector/README.md
  govtool/packages/wallet-connector/WalletProvider.tsx
  govtool/packages/wallet-connector/WalletService.ts
  govtool/packages/wallet-connector/index.ts
  govtool/packages/wallet-connector/package.json
  govtool/packages/wallet-connector/types.ts
  govtool/packages/wallet-connector/yarn.lock
Labels: 🖥 Frontend

#956 Set participation.sanchogov.tools domain to dev service only
  .github/workflows/build-and-deploy-beta.yml
  .github/workflows/build-and-deploy-dev.yml
  .github/workflows/build-and-deploy-staging.yml
  .github/workflows/build-and-deploy-test.yml
  govtool/analytics-dashboard/Dockerfile
  scripts/govtool/config/templates/docker-compose.yml.tpl
Labels: 🏗 Infrastructure

#977 fix/929-drep-links-are-appended-to-govtool-url
  govtool/frontend/src/pages/DRepDetails.tsx
Labels: 🖥 Frontend, ⌛️waiting for CR

#1023 Update backend config with metadata-validation service address
  scripts/govtool/config/templates/backend-config.json.tpl
Labels: ⚙ Backend

#1022 fix/1019-empty-drep-directory-with-extra-result
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Labels: 🖥 Frontend

#1018 fix/928-not-404-page-in-drep-directory
  govtool/frontend/src/components/molecules/EmptyStateDrepDirectory.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Labels: 🖥 Frontend

#1064 [#1035] Bump cardano-node and cardano dbsync
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Labels: 🏗 Infrastructure

#1082 chore/1050-bug-missing-test-ids-drep-directory
  govtool/frontend/src/components/atoms/StatusPill.tsx
  govtool/frontend/src/components/atoms/VotingPowerChips.tsx
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/Card.tsx
  govtool/frontend/src/components/molecules/Field/Input.tsx
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepForm.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RegisterAsDRepForm.tsx
  govtool/frontend/src/pages/DRepDetails.tsx
Labels: 🖥 Frontend, ⌛️waiting for CR

#1100 fix/911-registed-as-a-drep-but-dashboard-says-vote-on-governance-actions-as-a-sole-voter
  govtool/frontend/src/i18n/locales/en.ts
Labels: 🖥 Frontend

#1098 fix/987-my-drep-detail-page-with-delegation-details-needed
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDetails.tsx
Labels: 🖥 Frontend

#1096 fix/649-design-bug-payment-address-needs-to-be-copyablereadable
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
Labels: 🖥 Frontend
