Repository IntersectMBO/govtool, pull requests merged in 2024-04, with the labels that each got.

#765 [#714] Updating and restarting Cardano infrastructure on SanchoNet
  scripts/govtool/Makefile
Labels: 🏗 Infrastructure

#745 feat/464-missing-info-icon-next-to-the-ga-type-already-assigned
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/ChooseGovernanceActionType.tsx
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/i18n/locales/en.ts
Labels: 🖥 Frontend

#757 fix/drep-directory
  govtool/frontend/src/components/molecules/WalletOption.tsx
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/Modal/ChooseWalletModal.tsx
  govtool/frontend/src/pages/DRepDetails.tsx
Labels: 🖥 Frontend

#774 [#714] Update Cardano DB Sync with fixed configuration files
  scripts/govtool/Makefile
Labels: 🐛 Bug, 🏗 Infrastructure

#819 [#742] Missing context for the status service fails deploy to dev
  govtool/metadata-validation/Makefile
  govtool/status-service/Makefile
  infra/terraform/main.tf
  scripts/govtool/Makefile
  scripts/govtool/config/templates/docker-compose.yml.tpl
  scripts/govtool/info.mk
  scripts/govtool/utils.mk
Labels: 🐛 Bug, 🏗 Infrastructure

#777 chore/utils-test
  govtool/frontend/src/utils/dRep.ts
  govtool/frontend/src/utils/tests/canonizeJSON.test.ts
  govtool/frontend/src/utils/tests/checkIsMaintenanceOn.test.ts
  govtool/frontend/src/utils/tests/checkIsWalletConnected.test.ts
  govtool/frontend/src/utils/tests/dRep.test.ts
  govtool/frontend/src/utils/tests/generateAnchor.test.ts
  govtool/frontend/src/utils/tests/getDRepID.test.ts
  govtool/frontend/src/utils/tests/localStorage.test.ts
  govtool/frontend/src/utils/tests/numberValidation.test.ts
  govtool/frontend/src/utils/tests/openInNewTab.test.ts
  govtool/frontend/src/utils/tests/validateMetadataHash.test.ts
  govtool/frontend/src/utils/tests/wait.test.ts
Labels: 🖥 Frontend

#862 chore/add-data-test-id-in-drep-directory
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/Share.tsx
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/Footer.tsx
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/testIdFromLabel.ts
  govtool/frontend/src/utils/tests/testIdFromLabel.test.ts
Labels: 🖥 Frontend

#863 chore/add-supported-links
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardLinks.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/services/requests/getProposal.ts
Labels: 🖥 Frontend

#874 Fix configuration for analytics dashboard
  govtool/analytics-dashboard/Dockerfile
  scripts/govtool/analytics-dashboard.mk
  scripts/govtool/config/templates/docker-compose.yml.tpl
Labels: 🏗 Infrastructure

#871 fix/716-drep-explorer-visual-defects
  govtool/frontend/src/components/atoms/StatusPill.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
Labels: 🖥 Frontend

#890 change/880-change-terminology-of-sole-voter-to-direct-voter
  CHANGELOG.md
  govtool/frontend/README.md
  govtool/frontend/public/images/GovActionsDirectVoter.png
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/molecules/DelegationAction.tsx
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DirectVoterDashboardCard.tsx
  govtool/frontend/src/components/organisms/HomeCards.tsx
  govtool/frontend/src/components/organisms/RegisterAsDirectVoterBox.tsx
  govtool/frontend/src/components/organisms/RegisterAsDirectVoterBoxContent.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/images.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/context/pendingTransaction/types.ts
  govtool/frontend/src/context/pendingTransaction/usePendingTransaction.ts
  govtool/frontend/src/context/pendingTransaction/utils.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/hooks/queries/useGetDRepListQuery.ts
  govtool/frontend/src/hooks/queries/useGetVoterInfoQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/RegisterAsDirectVoter.tsx
  govtool/frontend/src/pages/RetireAsDirectVoter.tsx
  govtool/frontend/src/pages/index.ts
  govtool/frontend/src/utils/tests/dRep.test.ts
Labels: 🖥 Frontend

#895 Fix/888 for sole voter view details button should be hidden
  govtool/frontend/src/components/organisms/DRepCard.tsx
Labels: 🖥 Frontend

#892 fix/878-change-padding-on-button
  govtool/frontend/src/components/atoms/Button.tsx
  govtool/frontend/src/components/atoms/LoadingButton.test.tsx
  govtool/frontend/src/components/atoms/LoadingButton.tsx
  govtool/frontend/src/components/atoms/index.ts
  govtool/frontend/src/components/atoms/types.ts
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/CenteredBoxBottomButtons.tsx
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/BgCard.tsx
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/stories/Button.stories.ts
  govtool/frontend/src/stories/LoadingButton.stories.tsx
Labels: 🖥 Frontend

#896 fix/877-change-padding-on-chip
  govtool/frontend/src/components/atoms/StatusPill.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
Labels: 🖥 Frontend
