Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski
*.tsx                                                                       @MSzalowski
*.ts                                                                        @MSzalowski
*.css                                                                       @MSzalowski

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

chore: update workflow triggers for backend and integration tests to depend on the test stack
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

chore: make default test runner env to govtool.cardanoapi.io
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

chore: update test workflow to run only on deployment success
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

fix: increase timeout for visibility checks in DRep registration and proposal functionality tests
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski

fix: crypto not found issue
  tests/govtool-frontend/playwright/lib/helpers/dRep.ts
Owners: @MSzalowski

fix: update assertion order in test 3I for consistency
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
Owners: @MSzalowski

fix: increase timeout for delegated voting power visibility assertion
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
Owners: @MSzalowski

fix: update wallet address generation according to network
  tests/govtool-frontend/playwright/generate_wallets.ts
Owners: @MSzalowski

fix test-2F,2E and 2S
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
Owners: @MSzalowski

fix: update proposal discussion link
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

fix: increase timeout for visibility checks in governance actions and proposal submission tests
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

fix: update fetch first dRep filtering logic to exclude script-based elements
  tests/govtool-frontend/playwright/lib/helpers/dRep.ts
  tests/govtool-frontend/playwright/lib/types.ts
Owners: @MSzalowski

fix: update Usersnap API response status to 403 for testing purposes
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.spec.ts
Owners: @MSzalowski

fix: update reward address retrieval in proposal submission tests
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

fix: update payment address generation
  tests/govtool-frontend/playwright/lib/helpers/metadata.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

chore: conditionally initialize Sentry based on DSN availability
  govtool/frontend/src/main.tsx
Owners: @MSzalowski

fix(#1841): fix unhandled missing index exception
  CHANGELOG.md
  govtool/backend/src/VVA/API/Types.hs
Owners: @Ryun1, @MSzalowski

feat: register Sentry only if sentryEnv is not 'qa'
  govtool/backend/app/Main.hs
Owners: @Ryun1, @MSzalowski

chore: remove VITE_SENTRY_DSN build argument check from Dockerfile
  govtool/frontend/Dockerfile
Owners: @MSzalowski

chore: add treasury mock proposal
  tests/govtool-frontend/playwright/lib/_mock/treasuryProposedGAs.json
Owners: @Ryun1, @MSzalowski

feat: check both treasury and info proposals for categorized proposals
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski

fix: filter proposal before show all button action
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski

fix: check on current category only instead of all
  tests/govtool-frontend/playwright/lib/pages/proposalDiscussionPage.ts
Owners: @MSzalowski

feat: display not voted in drep submitted votes
  govtool/backend/sql/list-proposals.sql
  govtool/frontend/src/components/atoms/VotePill.tsx
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/types/global.d.ts
Owners: @Ryun1, @MSzalowski

fix: displaying vote pill on voted on card
  CHANGELOG.md
  govtool/frontend/src/components/atoms/VotePill.tsx
Owners: @Ryun1, @MSzalowski

dummy: nothing changed:
  govtool/frontend/src/components/organisms/DashboardCards.tsx
Owners: @MSzalowski

fix(#2680): remove redundant sentry reports an handled wallet exceptions
  CHANGELOG.md
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useVoteContextForm.tsx
Owners: @Ryun1, @MSzalowski

chore: update GitHub Actions to use upload and download artifact v4
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

fix: add wait for dRep list to render properly on filter
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
Owners: @MSzalowski

feat(#2880): add suffixes to governance actions votes
  CHANGELOG.md
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/utils/adaFormat.ts
  govtool/frontend/src/utils/tests/adaFormat.test.ts
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

fix(#2891): change vote rationale character limit to 10000
  CHANGELOG.md
  govtool/frontend/src/components/organisms/VoteContext/VoteContextText.tsx
  govtool/frontend/src/i18n/locales/en.json
Owners: @Ryun1, @MSzalowski

feat(#2893): move ratification threshold label below voters title
  CHANGELOG.md
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
Owners: @Ryun1, @MSzalowski

fix: incorrect link to docs for direct voters
  CHANGELOG.md
  govtool/frontend/src/pages/RegisterAsDirectVoter.tsx
  govtool/frontend/src/pages/RetireAsDirectVoter.tsx
Owners: @Ryun1, @MSzalowski

fix(#2889): missing "No DRep found" on DRep directory
  CHANGELOG.md
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Owners: @Ryun1, @MSzalowski

fix(#2888): fix displaying givenName placeholder instead of value
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
Owners: @Ryun1, @MSzalowski

fix(#2878): Fix executing insert on undefined node
  CHANGELOG.md
  govtool/frontend/index.html
Owners: @Ryun1, @MSzalowski

fix(#2683): handle missing usersnap api key exception
  CHANGELOG.md
  govtool/frontend/src/context/usersnapContext.tsx
Owners: @Ryun1, @MSzalowski

feat(#2724): move drep pagination directly into sql
  CHANGELOG.md
  govtool/backend/app/Main.hs
  govtool/backend/example-config.json
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Common/Types.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
  govtool/backend/vva-be.cabal
Owners: @Ryun1, @MSzalowski, @jankun4

chore: bump GovTool to v2.0.11
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4

feat: change visual representation of vote threshold
  CHANGELOG.md
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski
