Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @kickloop, @Sworzen1, @JanJaroszczak, @jankun4, @adgud, @placek, @mesudip

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
src/vva-fe/*                                                                @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @Sworzen1 @JanJaroszczak @kickloop

# Backend
src/vva-be/*                                                                @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @adgud @placek @kickloop
src/config/*                                                                @adgud @placek @kickloop
src/scripts/*                                                               @adgud @placek @kickloop
src/terraform/*                                                             @adgud @placek @kickloop

# Testing
src/load-testing/*                                                          @mesudip @kickloop
src/governance-action-loader/*                                              @mesudip @kickloop
tests/*                                                                     @mesudip @kickloop

docs: init next changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

docs: init next changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

remove concept app environment
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_idea.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/test_integration_cypress.yml
  .github/workflows/toggle-maintenance.yml
  src/.env.example
  src/docker-compose.preprod.yml
  src/docker-compose.sanchonet.yml
  src/terraform/main.tf
Owners: @Ryun1, @kickloop, @adgud, @placek

Multiple app windows wallet fixes
  src/vva-fe/src/App.tsx
  src/vva-fe/src/hooks/index.ts
  src/vva-fe/src/hooks/useWalletConnectionListener.ts
Owners: @Sworzen1, @JanJaroszczak, @kickloop

Commit verification test
  src/vva-fe/src/App.tsx
Owners: @Sworzen1, @JanJaroszczak, @kickloop

test GPG
  node_modules/.yarn-integrity
  yarn.lock
Owners: @Ryun1, @kickloop

test
  src/vva-fe/src/pages/DelegateTodRep.tsx
Owners: @Sworzen1, @JanJaroszczak, @kickloop

test
  src/vva-fe/src/pages/DelegateTodRep.tsx
Owners: @Sworzen1, @JanJaroszczak, @kickloop

test
  src/vva-fe/src/pages/DelegateTodRep.tsx
Owners: @Sworzen1, @JanJaroszczak, @kickloop

update urls to docker images, update repo owner condition
  .github/workflows/lighthouse.yml
  src/docker-compose.sanchonet.yml
  tests/test-infrastructure/docker-compose.yml
Owners: @adgud, @placek, @kickloop, @Ryun1

[57] Update SQL queries for sancho-3-0-0
  src/vva-be/sql/get-all-proposal-stake-keys.sql
  src/vva-be/sql/get-network-metrics.sql
  src/vva-be/sql/get-votes.sql
  src/vva-be/sql/list-proposals.sql
  src/vva-be/src/VVA/API.hs
Owners: @Ryun1, @kickloop

chore: bumped cardano node and db-sync versions
  CHANGELOG.md
  src/docker-compose.sanchonet.yml
Owners: @Ryun1, @kickloop

[64] feat: add alwaysAbstain and noConfidence voting powers to the network/metrics endpoint
  src/vva-be/src/VVA/API/Types.hs
  src/vva-be/src/VVA/Network.hs
  src/vva-be/src/VVA/Types.hs
Owners: @Ryun1, @kickloop

Subject
  src/vva-fe/src/components/organisms/TopNav.tsx
Owners: @Sworzen1, @JanJaroszczak, @kickloop

add optional CI step to destroy cardano node and db sync data before deploy to force resync
  .github/workflows/build-and-deploy.yml
  src/Makefile
Owners: @adgud, @placek, @kickloop, @Ryun1

imp: add a nix flake with the vva-be package
  flake.lock
  flake.nix
  src/vva-be/default.nix
Owners: @Ryun1, @kickloop, @jankun4

docs rewrite working conventions
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  docs/architecture/documentation.md
Owners: @Ryun1, @kickloop

docs: adjusted changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

docs: fix contributing contents table
  CONTRIBUTING.md
Owners: @Ryun1, @kickloop

docs: added PO and tech lead working conventions
  CONTRIBUTING.md
Owners: @Ryun1, @kickloop

rough node upgrade info
  CONTRIBUTING.md
Owners: @Ryun1, @kickloop

add basic auth for dev/test environments
  .github/workflows/build-and-deploy.yml
  src/docker-compose.sanchonet.yml
  src/scripts/prepare-config.sh
Owners: @adgud, @placek, @kickloop, @Ryun1

fix for prepare-config makefile invocation in actions
  .github/workflows/build-and-deploy.yml
Owners: @adgud, @placek, @kickloop

export DOMAIN variable in actions
  .github/workflows/build-and-deploy.yml
Owners: @adgud, @placek, @kickloop

export NGINX_BASIC_AUTH var in actions
  .github/workflows/build-and-deploy.yml
Owners: @adgud, @placek, @kickloop

fix for basic auth exclusion
  src/scripts/prepare-config.sh
Owners: @adgud, @placek, @kickloop

[59] Fixed vote counting problem
  CHANGELOG.md
  src/vva-be/sql/list-proposals.sql
Owners: @Ryun1, @kickloop

config CSP for FE app
  src/vva-fe/index.html
  src/vva-fe/yarn.lock
Owners: @Sworzen1, @JanJaroszczak, @kickloop

Update README.md
  README.md
Owners: @Ryun1, @kickloop

add img-src in CSP
  src/vva-fe/index.html
Owners: @Sworzen1, @JanJaroszczak, @kickloop

add usersnap into CSP
  src/vva-fe/index.html
Owners: @Sworzen1, @JanJaroszczak, @kickloop

delete 2x choose wallet modal render
  src/vva-fe/src/components/organisms/TopNav.tsx
  src/vva-fe/src/context/index.tsx
Owners: @Sworzen1, @JanJaroszczak, @kickloop

add loading state everywhere is wallet triggering
  src/vva-fe/src/components/atoms/LoadingButton.tsx
  src/vva-fe/src/components/molecules/DashboardActionCard.tsx
  src/vva-fe/src/components/molecules/VoteActionForm.tsx
  src/vva-fe/src/components/organisms/DashboardCards.tsx
  src/vva-fe/src/components/organisms/DelegateTodRepStepOne.tsx
  src/vva-fe/src/components/organisms/DelegateTodRepStepTwo.tsx
  src/vva-fe/src/hooks/forms/useDelegateTodRepForm.tsx
  src/vva-fe/src/hooks/forms/useVoteActionForm.tsx
Owners: @Sworzen1, @JanJaroszczak, @kickloop

[82] fix get-current-delegation sql squery
  src/vva-be/sql/get-current-delegation.sql
Owners: @Ryun1, @kickloop

[82] update changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop
