Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

fix: use logger import from helper instead of cypress logger
  tests/govtool-frontend/playwright/lib/helpers/transaction.ts
  tests/govtool-frontend/playwright/lib/services/kuberService.ts
Owners: @MSzalowski, @jdyczka

change: no DRep found copy text
  CHANGELOG.md
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

Update govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @jdyczka

Update govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @jdyczka

chore: bump GovTool to v1.0.22
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix: searching for metadatas in proposal list
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/Proposal.hs
Owners: @Ryun1, @MSzalowski

fix: searching for metadatas in drep list
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/DRep.hs
Owners: @Ryun1, @MSzalowski

fix: hlint warning on using maybe
  govtool/backend/src/VVA/Proposal.hs
Owners: @Ryun1, @MSzalowski

fix(#2191): protocol parameter change ga is not displayed correctly
  CHANGELOG.md
  govtool/backend/sql/get-current-epoch-params.sql
  govtool/backend/sql/list-proposals.sql
  govtool/frontend/src/components/atoms/VotePill.tsx
  govtool/frontend/src/components/molecules/DataMissingHeader.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/main.tsx
  govtool/frontend/src/theme.ts
  govtool/frontend/src/utils/filterOutNullParams.ts
  govtool/frontend/src/utils/filterUpdatableProtocolParams.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/mapArrayToObjectByKeys.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: voting power chip missing padding
  govtool/frontend/src/components/atoms/VotingPowerChips.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/main.tsx
Owners: @MSzalowski, @jdyczka

fix: validation request cancelation
  govtool/metadata-validation/src/app.module.ts
  govtool/metadata-validation/src/app.service.ts
Owners: @MSzalowski, @jdyczka

fix(#2233): enforce validating metadata against the specified standard
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionCard.tsx
  govtool/frontend/src/models/metadataValidation.ts
  govtool/frontend/src/utils/mapDtoToDrep.ts
  govtool/frontend/src/utils/mapDtoToProposal.ts
  govtool/metadata-validation/src/app.service.ts
  govtool/metadata-validation/src/dto/validateMetadata.dto.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: add 128 words validation on invalid url
  tests/govtool-frontend/playwright/lib/_mock/index.ts
Owners: @MSzalowski, @jdyczka

chore: update the assertion of metadata anchor error
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add validation for 128-word limit on metadata anchor field only
  tests/govtool-frontend/playwright/lib/_mock/index.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

chore: update test ids of metadata download and url of govAction details page
  tests/govtool-frontend/playwright/lib/pages/governanceActionDetailsPage.ts
Owners: @MSzalowski, @jdyczka

test: vote context metadata anchor validation
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: use metadata url input testId instead of getByPlaceholder
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

fix: searching for metadatas in proposal list
  govtool/backend/sql/list-proposals.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/Proposal.hs
Owners: @Ryun1, @MSzalowski

fix: hlint warning on using maybe
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/Proposal.hs
Owners: @Ryun1, @MSzalowski

fix: searching for metadatas in drep list
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/DRep.hs
Owners: @Ryun1, @MSzalowski

Update govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @jdyczka

chore: update dRep form references url and link error testId
  tests/govtool-frontend/playwright/lib/forms/dRepForm.ts
Owners: @MSzalowski, @jdyczka

fix: drep list sql
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/AdaHolder.hs
  govtool/backend/src/VVA/DRep.hs
Owners: @Ryun1, @MSzalowski

fix(#2247): fix counting the CC votes on governance actions
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @MSzalowski

chore: bump GovTool to v1.0.23
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

chore: update GovTool-v1.0.23 release date
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

fix: handle no results on get votes query
  govtool/backend/src/VVA/DRep.hs
Owners: @Ryun1, @MSzalowski

feat: replace hero image with jack o lantern
  govtool/frontend/public/images/HeroImage-old.png
  govtool/frontend/public/images/HeroImage.png
Owners: @Ryun1, @MSzalowski

chore: bump node version
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

chore: bump cardano-db-sync version
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

feat: revert halloween decorations
  govtool/frontend/public/images/HeroImage-old.png
  govtool/frontend/public/images/HeroImage.png
Owners: @Ryun1, @MSzalowski

fix(#2285): fix infinite DRep list loading
  CHANGELOG.md
  govtool/frontend/src/context/dataActionsBar.tsx
  govtool/frontend/src/hooks/queries/useGetDRepListQuery.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool to v1.0.24
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix: fix searching by drep name; fix: displaying of wallet connected snackabar
  CHANGELOG.md
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/Types.hs
  govtool/frontend/src/context/dataActionsBar.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

feat: revert halloween decorations
  govtool/frontend/public/images/HeroImage-old.png
  govtool/frontend/public/images/HeroImage.png
Owners: @Ryun1, @MSzalowski

feat: revert halloween decorations
  govtool/frontend/public/images/HeroImage-old.png
  govtool/frontend/public/images/HeroImage.png
Owners: @Ryun1, @MSzalowski

feat: revert halloween decorations
  govtool/frontend/public/images/HeroImage-old.png
  govtool/frontend/public/images/HeroImage.png
Owners: @Ryun1, @MSzalowski

feat: revert halloween decorations
  govtool/frontend/public/images/HeroImage-old.png
  govtool/frontend/public/images/HeroImage.png
Owners: @Ryun1, @MSzalowski

fix(#2307): fix viewing DRep details
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/DRep.hs
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
  govtool/frontend/src/hooks/queries/useGetDrepDetailsQuery.ts
  govtool/frontend/src/pages/RegisterAsdRep.tsx
  govtool/frontend/src/services/requests/getDRepList.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
Owners: @Ryun1, @MSzalowski, @jdyczka
