Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

chore: update test-metrics-api dependencies
  tests/test-metrics-api/yarn.lock
Owners: @Ryun1, @MSzalowski

chore: update test-metadata-api dependencies
  tests/test-metadata-api/yarn.lock
Owners: @Ryun1, @MSzalowski

chore: update test-govtool-frontend dependencies
  tests/govtool-frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

chore: update requests package version on test-govtool-backend
  tests/govtool-backend/requirements.txt
Owners: @Ryun1, @MSzalowski

chore: update bouncycastle dependency version on test-load-testing
  tests/load-testing/pom.xml
Owners: @Ryun1, @MSzalowski

fix(#2085): fix counting the SPO votes
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2125): fix counting governance action expiration
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @MSzalowski

fix: correct DRep votes ada symbol
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
Owners: @MSzalowski, @jdyczka

fix(#2000): fix counting ada holder voting power
  CHANGELOG.md
  govtool/backend/sql/get-stake-key-voting-power.sql
Owners: @Ryun1, @MSzalowski

chore: bump GovTool to v1.0.21
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
  govtool/metadata-validation/yarn.lock
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix: fix stake key sql error
  govtool/backend/sql/get-stake-key-voting-power.sql
Owners: @Ryun1, @MSzalowski

fix: correct testId for CC committee yes votes
  tests/govtool-frontend/playwright/lib/pages/governanceActionDetailsPage.ts
Owners: @MSzalowski, @jdyczka

fix(#2125): fix counting Governance Action expiration
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @MSzalowski

fix: target start date of the expiration epoch in GAs
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @MSzalowski

[#1951] return isScriptBased flag from BE for listDReps and getDRepInfo
  govtool/backend/sql/get-drep-info.sql
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
Owners: @Ryun1, @MSzalowski

[#2171] eliminate duplicate DReps
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @MSzalowski

chore: add workflow to assign project to new issues
  .github/workflows/add-issue-to-project.yml
Owners: @placek, @adgud

chore: add workflow to assign project to new issues
  .github/workflows/add-issue-to-project.yml
Owners: @placek, @adgud

[#1897] fix unwanted horizontal page scroll on Governance Actions page
  CHANGELOG.md
  govtool/frontend/src/components/organisms/GovernanceActionsToVote.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1965] fix duplicate testIds for reference errors and hints
  CHANGELOG.md
  govtool/frontend/src/components/atoms/FormErrorMessage.tsx
  govtool/frontend/src/components/atoms/FormHelpfulText.tsx
  govtool/frontend/src/components/atoms/types.ts
  govtool/frontend/src/components/molecules/DRepDataForm.tsx
  govtool/frontend/src/components/molecules/Field/Input.tsx
  govtool/frontend/src/components/molecules/Field/types.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1965] fix duplicate testIds for reference errors and hints
  CHANGELOG.md
  govtool/frontend/src/components/atoms/FormErrorMessage.tsx
  govtool/frontend/src/components/atoms/FormHelpfulText.tsx
  govtool/frontend/src/components/atoms/types.ts
  govtool/frontend/src/components/molecules/DRepDataForm.tsx
  govtool/frontend/src/components/molecules/Field/Input.tsx
  govtool/frontend/src/components/molecules/Field/types.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#2171] eliminate duplicate DReps
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @MSzalowski

[#1951] return isScriptBased flag from BE for listDReps and getDRepInfo
  govtool/backend/sql/get-current-delegation.sql
  govtool/backend/sql/get-drep-info.sql
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/AdaHolder.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
Owners: @Ryun1, @MSzalowski

[#1951] handle scripe based DReps on FE
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DashboardCards/DelegateDashboardCard.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/hooks/forms/index.ts
  govtool/frontend/src/hooks/forms/useDelegateTodRepForm.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/services/requests/getAdaHolderCurrentDelegation.ts
  govtool/frontend/src/services/requests/getDRepList.ts
  govtool/frontend/src/utils/dRep.ts
  govtool/frontend/src/utils/getDRepID.ts
  govtool/frontend/src/utils/mapDtoToDrep.ts
  govtool/frontend/src/utils/tests/dRep.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

nix frontend: fix yarn install w/ node_nixpkgs bump
  flake.lock
  flake.nix
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

nix frontend: fix yarn build fail in nix build
  govtool/frontend/default.nix
Owners: @MSzalowski, @jdyczka

nix backend: fix nix build
  govtool/backend/default.nix
Owners: @MSzalowski, @jankun4

nix backend: fix nix impure builds
  govtool/backend/default.nix
Owners: @MSzalowski, @jankun4

test: gov action expiry epoch and date validation
  tests/govtool-backend/test_cases/test_proposal.py
Owners: @Ryun1, @MSzalowski

chore: add get genesis params on kuber api
  tests/govtool-backend/lib/kuber_api.py
Owners: @Ryun1, @MSzalowski

fix: ga epoch boundary for preprod
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @MSzalowski

[#1951] fix delegation cert hash for script DReps
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @jdyczka

[#1951] add workaround for multiple rows for one drep view in drep_hash table
  govtool/backend/sql/get-current-delegation.sql
  govtool/backend/sql/get-drep-info.sql
Owners: @Ryun1, @MSzalowski

[#1951] remove calculating view on FE
  govtool/frontend/src/components/molecules/DRepInfoCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DelegateDashboardCard.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepForm.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/hooks/queries/index.ts
  govtool/frontend/src/hooks/queries/useGetDrepDetailsQuery.ts
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/pages/RegisterAsdRep.tsx
  govtool/frontend/src/utils/getDRepID.ts
  govtool/frontend/src/utils/tests/getDRepID.test.ts
Owners: @MSzalowski, @jdyczka

feat: set markdown alignment unset
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
Owners: @MSzalowski, @jdyczka

chore: bump node version
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

chore: bump Cardano node to 10.0.0-pre
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

chore: bump Cardano node to 10.0.0-pre
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

chore: update cookie dependencies version on test-metrics-api and test-metadata-api
  tests/test-metadata-api/yarn.lock
  tests/test-metrics-api/yarn.lock
Owners: @Ryun1, @MSzalowski

chore: update @types/node version in govtool-frontend
  tests/govtool-frontend/package.json
  tests/govtool-frontend/yarn.lock
Owners: @Ryun1, @MSzalowski
