Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski
*.tsx                                                                       @MSzalowski
*.ts                                                                        @MSzalowski
*.css                                                                       @MSzalowski

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

feat: enhance ADA formatting with precision and suffixes for large values
  tests/govtool-frontend/playwright/lib/helpers/adaFormat.ts
Owners: @MSzalowski

feat: add assertion to verify unvoted DRep counts on governance details page
  tests/govtool-frontend/playwright/lib/pages/governanceActionDetailsPage.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
Owners: @MSzalowski

fix: vote context validation for 10,000 character
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski

fix: resize governance action card columns
  CHANGELOG.md
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
Owners: @Ryun1, @MSzalowski

feat: split dRep not voted calculation; assert only if totalStakeControlledByDReps is in metrics
  tests/govtool-frontend/playwright/lib/pages/governanceActionDetailsPage.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
Owners: @MSzalowski

test: increase timeout for visibility checks in proposal discussion tests
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.loggedin.spec.ts
Owners: @MSzalowski

fix: governance action votes calculation
  CHANGELOG.md
  govtool/backend/sql/get-network-metrics.sql
  govtool/backend/sql/list-proposals.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Network.hs
  govtool/backend/src/VVA/Types.hs
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

chore: remove abstain from total drep votes calculation
  CHANGELOG.md
  govtool/backend/sql/get-network-metrics.sql
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardVotes.tsx
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/components/organisms/Modal/SubmittedVotesModal.tsx
Owners: @Ryun1, @MSzalowski

chore: upgrade outcomes package version and setup access urls
  govtool/frontend/package.json
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/molecules/WalletInfoCard.tsx
  govtool/frontend/src/components/molecules/WalletOption.tsx
  govtool/frontend/src/components/organisms/DrawerMobile.tsx
  govtool/frontend/src/components/organisms/TopNav.tsx
  govtool/frontend/src/consts/navItems.tsx
  govtool/frontend/src/i18n/locales/en.json
Owners: @MSzalowski, @Ryun1

feat: add commit status for playwright/backend test
  .github/scripts/set_commit_status.sh
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @Ryun1, @MSzalowski, @placek, @adgud

fix: checkout and set pending commit status order
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

feat: add concurrency settings to test workflows
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

fix(#2920): fix unhandled exception on missing proposal for vote
  CHANGELOG.md
  govtool/backend/src/VVA/API.hs
Owners: @Ryun1, @MSzalowski

feat(#2911): show drep metadata url and hash on detailed profile view
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
  govtool/frontend/src/i18n/locales/en.json
Owners: @Ryun1, @MSzalowski

fix: remove abstain governance action votes from total stake
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
Owners: @Ryun1, @MSzalowski

fix: typos in IntersectMBO GitHub Pages
  .github/scripts/set_commit_status.sh
Owners: @Ryun1, @MSzalowski

chore: set default report link to intersectMBO
  .github/scripts/set_commit_status.sh
Owners: @Ryun1, @MSzalowski

feat: add CC ratification threshold, not voted and votes percentages
  CHANGELOG.md
  govtool/backend/sql/get-network-metrics.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Network.hs
  govtool/backend/src/VVA/Types.hs
  govtool/frontend/src/components/atoms/VotePill.tsx
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
Owners: @Ryun1, @MSzalowski

fix: lint issue on unused import; update package-lock
  govtool/frontend/package-lock.json
  govtool/frontend/src/consts/navItems.tsx
  govtool/frontend/yarn.lock
Owners: @MSzalowski

fix: update intercept logic for usersnap and bucket
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.spec.ts
Owners: @MSzalowski

chore: remove sensitive AWS credentials from user snap test
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.spec.ts
Owners: @MSzalowski

feat(#2258): add support for submitting new governance actions inside wrapper
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/CreateGovernanceActionForm.tsx
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/types/governanceAction.ts
Owners: @MSzalowski, @Ryun1

feat(#2258): add support for submitting all governance action types
  CHANGELOG.md
  docs/GOVERNANCE_ACTION_SUBMISSION.md
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/types/governanceAction.ts
Owners: @Ryun1, @MSzalowski

fix: ts error on outcomes pillar
  govtool/frontend/src/pages/GovernanceActionOutComes.tsx
Owners: @MSzalowski

chore: bump @intersect.mbo/pdf-ui to v0.6.0
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

chore: add outcomes pillar feature flag to merge pipeline
  .github/workflows/merge.yaml
Owners: @placek, @adgud

chore: commit to rebuild the frontend service
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski

Enable VITE_IS_GOVERNANCE_OUTCOMES_PILLAR_ENABLED flag on test/qa stack
  tests/test-infrastructure/docker-compose-govtool.yml
Owners: @Ryun1, @MSzalowski

chore: redeploy frontend
  govtool/frontend/src/components/molecules/Step.tsx
Owners: @MSzalowski

chore: add outcome pillars feature flag argument
  govtool/frontend/Dockerfile
  govtool/frontend/Dockerfile.qovery
Owners: @MSzalowski

fix(#2948): committee members calculation
  CHANGELOG.md
  govtool/backend/sql/get-network-metrics.sql
Owners: @Ryun1, @MSzalowski

feat: add mergeUtXos function to handle UTXO merging with proposal faucet wallet
  tests/govtool-frontend/playwright/lib/services/kuberService.ts
Owners: @MSzalowski

feat: update proposalWallet to include multiple proposals and consolidate allStaticWallets
  tests/govtool-frontend/playwright/lib/constants/staticWallets.ts
Owners: @MSzalowski

feat: refactor faucet teardown to use mergeUtXos with all test wallets
  tests/govtool-frontend/playwright/tests/faucet.teardown.ts
Owners: @MSzalowski

feat: rename proposalWallet to proposalWallets for consistency
  tests/govtool-frontend/playwright/lib/constants/staticWallets.ts
Owners: @MSzalowski

feat: add proposalFaucetWallet to static wallets
  tests/govtool-frontend/playwright/lib/constants/staticWallets.ts
Owners: @MSzalowski

feat: simplify input handling in kuberService by removing redundant selections
  tests/govtool-frontend/playwright/lib/services/kuberService.ts
Owners: @MSzalowski

feat: add validation test for constitution proposal
  tests/govtool-frontend/playwright/lib/_mock/index.ts
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

feat: update review submission test for new constitution
  tests/govtool-frontend/playwright/lib/_mock/index.ts
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

feat: add support for updates to the constitution in proposal creation
  tests/govtool-frontend/playwright/lib/helpers/metadata.ts
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/lib/types.ts
Owners: @MSzalowski
