Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

feat: add support for governance actions outcomes
  govtool/frontend/package.json
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/organisms/DashboardDrawerMobile.tsx
  govtool/frontend/src/components/organisms/Drawer.tsx
  govtool/frontend/src/consts/navItems.tsx
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/pages/GovernanceActionOutComes.tsx
  govtool/frontend/src/types/global.d.ts
Owners: @MSzalowski, @Ryun1

fix(#2609): fix wrong SPO vote totals
  CHANGELOG.md
  govtool/backend/sql/get-network-metrics.sql
  govtool/backend/sql/list-proposals.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Network.hs
  govtool/backend/src/VVA/Types.hs
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/models/api.ts
Owners: @Ryun1, @MSzalowski

chore: add a feature flag for the outcomes pillar
  govtool/frontend/.env.example
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/organisms/DashboardDrawerMobile.tsx
  govtool/frontend/src/components/organisms/Drawer.tsx
  govtool/frontend/src/context/featureFlag.tsx
  govtool/frontend/src/pages/GovernanceActionOutComes.tsx
Owners: @MSzalowski

chore: add the single governance action outcomes page path
  govtool/frontend/src/consts/paths.ts
Owners: @MSzalowski

chore: bump @intersect.mbo/pdf-ui to v0.5.6
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

fix: opening relative paths in external links
  CHANGELOG.md
  govtool/frontend/src/components/organisms/Modal/ExternalLinkModal.tsx
  govtool/frontend/src/utils/openInNewTab.ts
Owners: @Ryun1, @MSzalowski

fix: passing random sorting to governance actions request
  CHANGELOG.md
  govtool/frontend/src/context/dataActionsBar.tsx
  govtool/frontend/src/pages/GovernanceActions.tsx
Owners: @Ryun1, @MSzalowski

chore: bump GovTool to v2.0.5
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4

chore: sync current branch to develop
  govtool/frontend/yarn.lock
Owners: @MSzalowski

feat(#2633): add support for base64 encoded images
  CHANGELOG.md
  govtool/frontend/src/components/molecules/DataMissingHeader.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/utils/getBase64ImageDetails.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/tests/getBase64ImageDetails.test.ts
Owners: @Ryun1, @MSzalowski

feat(#2634): add metadata searching;
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
  govtool/frontend/src/utils/drepSearchPhraseProcessor.ts
Owners: @Ryun1, @MSzalowski

fix(#2472): trim whitespace from search input
  CHANGELOG.md
  govtool/frontend/src/context/dataActionsBar.tsx
Owners: @Ryun1, @MSzalowski

feat(#2589): allow delegation to inactive DReps
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
Owners: @Ryun1, @MSzalowski

fix: correct URL path for dRep directory
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
Owners: @MSzalowski

test: increase timeout for various DRep-related assertions
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.ga.spec.ts
Owners: @MSzalowski

test: increase timeout for dRep in-progress assertion
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
Owners: @MSzalowski

chore: bump GovTool to v2.0.6
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4

chore: add outcomes_enabled variable to example env
  govtool/frontend/.env.example
Owners: @MSzalowski

fix(#2653): stake key voting power calculation
  CHANGELOG.md
  govtool/backend/sql/get-stake-key-voting-power.sql
Owners: @Ryun1, @MSzalowski

fix: drep activity calculation
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @MSzalowski

chore: bump @intersect.mbo/pdf-ui to v0.5.7
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

fix: lint errors
  govtool/frontend/src/components/organisms/DashboardDrawerMobile.tsx
  govtool/frontend/src/components/organisms/Drawer.tsx
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/pages/GovernanceActionOutComes.tsx
Owners: @MSzalowski

fix: fetching governance actions
  CHANGELOG.md
  govtool/frontend/src/context/dataActionsBar.tsx
Owners: @Ryun1, @MSzalowski

chore: bump GovTool to v2.0.7
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4

chore: bump cardano-node to 10.1.4
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

hotfix: remove pre-line from root component
  govtool/frontend/index.html
Owners: @MSzalowski

feat: add random data generation methods using Faker
  tests/load-testing/pom.xml
  tests/load-testing/src/test/java/org/cardano/govtool/Utils.java
Owners: @Ryun1, @MSzalowski

feat: enhance RandomDataFeeder with additional random data generation methods
  tests/load-testing/src/test/java/org/cardano/govtool/feeders/RandomDataFeeder.java
Owners: @Ryun1, @MSzalowski

feat: add ProposalListFetcher for fetching proposal IDs from the API
  tests/load-testing/src/test/java/org/cardano/govtool/feeders/ProposalListFetcher.java
Owners: @Ryun1, @MSzalowski

feat: add proposal discussion page visit
  tests/load-testing/src/test/java/org/cardano/govtool/feeders/PageVisits.java
Owners: @Ryun1, @MSzalowski

feat: add API service methods for pdf api
  tests/load-testing/src/test/java/org/cardano/govtool/ApiService.java
Owners: @Ryun1, @MSzalowski

feat: add load testing actions for proposal interactions
  tests/load-testing/src/test/java/org/cardano/govtool/actions/ProposalAction.java
Owners: @Ryun1, @MSzalowski

feat: add PDF API URL and enhance load testing scenarios with proposal interactions
  tests/load-testing/README.md
  tests/load-testing/src/test/java/org/cardano/govtool/actions/AuthenticationAction.java
  tests/load-testing/src/test/java/org/cardano/govtool/simulations/VvaSimulation.java
Owners: @Ryun1, @MSzalowski

feat: make CIP-129 identifiers default ones
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionCard.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/i18n/locales/en.json
Owners: @Ryun1, @MSzalowski

feat: add authentication script with wallet generation and signing functionality
  tests/load-testing/auth_script/generate_auth.ts
  tests/load-testing/auth_script/lib/_mock/index.ts
  tests/load-testing/auth_script/lib/helpers/auth.ts
  tests/load-testing/auth_script/lib/helpers/generateWallets.ts
  tests/load-testing/auth_script/lib/types.ts
  tests/load-testing/auth_script/package-lock.json
  tests/load-testing/auth_script/package.json
  tests/load-testing/auth_script/tsconfig.json
Owners: @MSzalowski, @Ryun1

feat: add utils to extract jwt and bech32 stake address from auth json
  tests/load-testing/src/test/java/org/cardano/govtool/Utils.java
Owners: @Ryun1, @MSzalowski

feat: grouping proposal action
  tests/load-testing/src/test/java/org/cardano/govtool/actions/ProposalAction.java
  tests/load-testing/src/test/java/org/cardano/govtool/feeders/RandomDataFeeder.java
Owners: @Ryun1, @MSzalowski

feat: update header and fix metadata validation test
  tests/load-testing/src/test/java/org/cardano/govtool/ApiService.java
  tests/load-testing/src/test/java/org/cardano/govtool/feeders/DrepListFetcher.java
  tests/load-testing/src/test/java/org/cardano/govtool/feeders/PageVisits.java
  tests/load-testing/src/test/java/org/cardano/govtool/simulations/VvaSimulation.java
Owners: @Ryun1, @MSzalowski

feat: update readme for auth setup and add metadata api url
  tests/load-testing/.gitignore
  tests/load-testing/README.md
Owners: @Ryun1, @MSzalowski

fix: usage of trim on missing label
  CHANGELOG.md
  govtool/frontend/src/utils/testIdFromLabel.ts
Owners: @Ryun1, @MSzalowski

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski
*.tsx                                                                       @MSzalowski
*.ts                                                                        @MSzalowski
*.css                                                                       @MSzalowski

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose
