Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

[#1925] query time from vote tx instead of gov action tx
  CHANGELOG.md
  govtool/backend/sql/get-votes.sql
Owners: @Ryun1, @MSzalowski

[#1916] change the spelling of ADA
  CHANGELOG.md
  govtool/frontend/src/components/atoms/VotingPowerChips.test.tsx
  govtool/frontend/src/context/getUtxos.ts
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/utils/tests/adaFormat.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1924] map references from validation service to format expected by FE
  CHANGELOG.md
  govtool/frontend/src/models/metadataValidation.ts
  govtool/frontend/src/utils/mapDtoToProposal.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool version to v1.0.16
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
  govtool/metadata-validation/yarn.lock
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix(#1934): make displaying own DRep in DRep directory available
  CHANGELOG.md
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1940): handle CIP-119 doNotList field
  CHANGELOG.md
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1928] make testIds for link and identity references in drep form unique
  CHANGELOG.md
  govtool/frontend/src/components/molecules/DRepDataForm.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1923] temporary fix
  govtool/frontend/src/components/atoms/StakeRadio.tsx
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @jdyczka

[#1940] add doNotList as accepted key on DRep registration
  CHANGELOG.md
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool version to v1.0.17
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
  tests/govtool-frontend/playwright/package-lock.json
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

draft changes needed for sript dreps
  govtool/backend/sql/get-drep-info.sql
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/DRep.hs
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/utils/getDRepID.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix terms and conditions link
  govtool/frontend/src/components/organisms/Footer.tsx
  govtool/frontend/src/i18n/locales/en.ts
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
Owners: @MSzalowski, @jdyczka

fix: broken terms and conditions link
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

add tags to merged pr
  .github/workflows/merge.yaml
Owners: @placek, @adgud

add tags to merged pr
  .github/workflows/merge.yaml
Owners: @placek, @adgud

add tags to merged pr
  .github/workflows/merge.yaml
Owners: @placek, @adgud

add tags to merged pr
  .github/workflows/merge.yaml
Owners: @placek, @adgud

test: add test 5L to restrict votes to info gov action during bootstrap
  tests/govtool-frontend/playwright/lib/pages/governanceActionDetailsPage.ts
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

test: add test 6T to display proper network name
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.spec.ts
Owners: @MSzalowski, @jdyczka

fix: test 8B with missing filter button and extra sort button
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski, @jdyczka

chore: filter info type only on bootstraping phase
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski, @jdyczka

test: add test 3Q to ensure dRep is excluded from dRep directory when 'doNotList' is checked
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
  tests/govtool-frontend/playwright/lib/types.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/dRep.setup.ts
Owners: @MSzalowski, @jdyczka

chore: update govAction type and generalize view proposal logic for all govactions
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
  tests/govtool-frontend/playwright/lib/types.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

fix: dRep registration dependent test due to additional link and description field
  tests/govtool-frontend/playwright/lib/forms/dRepForm.ts
  tests/govtool-frontend/playwright/lib/types.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

enhance: JSON.stringify formatting with pretty-printing while upload to metadata
  tests/govtool-frontend/playwright/lib/services/metadataBucketService.ts
Owners: @MSzalowski, @jdyczka

chore: skip bootstrap and teardown test if not hardfork
  tests/govtool-frontend/playwright/tests/auth.setup.ts
  tests/govtool-frontend/playwright/tests/dRep.setup.ts
  tests/govtool-frontend/playwright/tests/delegation.teardown.ts
  tests/govtool-frontend/playwright/tests/governance-action.setup.ts
Owners: @MSzalowski, @jdyczka

chore: update network name and warn bootstrap test by testid and network intercept
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add function to skip tests if not hardfork
  tests/govtool-frontend/playwright/lib/helpers/cardano.ts
  tests/govtool-frontend/playwright/lib/types.ts
Owners: @MSzalowski, @jdyczka

test: add test 6s
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.spec.ts
Owners: @MSzalowski, @jdyczka

chore: skip treasury proposal for bootstrap phase
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski, @jdyczka

fix: change vote button and proposal sort
  tests/govtool-frontend/playwright/lib/pages/governanceActionDetailsPage.ts
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
Owners: @MSzalowski, @jdyczka

chore: skip hardfork dependent test if not hardfork
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.ga.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.spec.ts
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add wallet bootstrap dependencies on dRep project
  tests/govtool-frontend/playwright/playwright.config.ts
Owners: @MSzalowski, @jdyczka

chore: use multiple stake adaholder for delegated ada visibility test
  tests/govtool-frontend/playwright/lib/fixtures/createWallet.ts
  tests/govtool-frontend/playwright/lib/helpers/auth.ts
  tests/govtool-frontend/playwright/lib/pages/loginPage.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
  tests/govtool-frontend/playwright/tests/auth.setup.ts
Owners: @MSzalowski, @jdyczka

chore: add condition to create and view info proposal only on bootstrap
  tests/govtool-frontend/playwright/lib/helpers/cardano.ts
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/lib/types.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: update dRep info content testids
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: update package-lock.json with latest package versions
  tests/govtool-frontend/playwright/package-lock.json
Owners: @Ryun1, @MSzalowski

chore: rename isTreasuryAndBootStraping function to skipIfTreasuryAndBootstrapping
  tests/govtool-frontend/playwright/lib/helpers/cardano.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

Update guardrail script
  gov-action-loader/backend/app/data/gov-script.plutus
Owners: @Ryun1, @MSzalowski

Add preview/preprod config on gov-action-loader build
  tests/test-infrastructure/.env.example
  tests/test-infrastructure/docker-compose-govaction-loader.yml
Owners: @Ryun1, @MSzalowski
