Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

chore: update guardrail script for sancho
  govtool/frontend/src/consts/index.ts
Owners: @MSzalowski, @jdyczka

fix(#2446): fix mzero parsing error on /proposal/list
  CHANGELOG.md
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Proposal.hs
  govtool/backend/src/VVA/Types.hs
Owners: @Ryun1, @MSzalowski

fix: misalignment of votes on connected governance actions
  CHANGELOG.md
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

feat: integrate matomo analytics
  CHANGELOG.md
  govtool/frontend/src/App.tsx
  govtool/frontend/src/hooks/useMatomo.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2044): fix missing validation for url length
  CHANGELOG.md
  govtool/frontend/src/components/organisms/VoteContext/VoteContextStoringInformation.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2511): fix app crash on governance action details page
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardLinks.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardVotes.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionsVotedOn.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/components/organisms/GovernanceActionsToVote.tsx
  govtool/frontend/src/hooks/forms/useVoteActionForm.tsx
  govtool/frontend/src/models/api.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool to v2.0.1
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

Update CHANGELOG.md
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

fix: fix wrong DRep voting conditions
  CHANGELOG.md
  govtool/frontend/src/context/featureFlag.test.tsx
  govtool/frontend/src/context/featureFlag.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

hotfix: fix typo in matomo hook
  govtool/frontend/src/hooks/useMatomo.ts
Owners: @MSzalowski, @jdyczka

hotfix: depend on network on matomo init
  govtool/frontend/src/hooks/useMatomo.ts
Owners: @MSzalowski, @jdyczka

cleanup: remove unused create proposal function
  tests/govtool-frontend/playwright/lib/pages/proposalDiscussionPage.ts
Owners: @MSzalowski, @jdyczka

chore: use wallet stake address for proposal creation
  tests/govtool-frontend/playwright/lib/fixtures/proposal.ts
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.ga.spec.ts
Owners: @MSzalowski, @jdyczka

chore: remove old matomo initialization code
  CHANGELOG.md
  govtool/frontend/index.html
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: fix matomo tracking inside react
  CHANGELOG.md
  govtool/frontend/index.html
  govtool/frontend/src/App.tsx
  govtool/frontend/src/hooks/useMatomo.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: show total dRep votes for all governance actions on full governance
  tests/govtool-frontend/playwright/lib/helpers/featureFlag.ts
Owners: @MSzalowski, @jdyczka

chore: remove restrictions and check on all governance actions for dRep
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: replace viewFirstDRepVoteEnabledGovAction with viewFirstGovAction
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

cleanup: remove unnecessary viewFirstDRepVoteEnabledGovernanceAction
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
Owners: @MSzalowski, @jdyczka

fix(#2546): handle errors on fetching drep images
  CHANGELOG.md
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/mapDtoToDrep.ts
  govtool/frontend/src/utils/tests/uniqBy.test.ts
  govtool/frontend/src/utils/uniqBy.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2493): fix mobile responsiveness issue
  CHANGELOG.md
  govtool/frontend/src/components/molecules/DataActionsFilters.tsx
  govtool/frontend/src/components/molecules/DataActionsSorting.tsx
  govtool/frontend/src/components/molecules/DataMissingHeader.tsx
  govtool/frontend/src/components/molecules/DataMissingInfoBox.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
  govtool/frontend/src/components/organisms/DashboardDrawerMobile.tsx
  govtool/frontend/src/components/organisms/DrawerMobile.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: add utility to fetch first active dRep from directory
  tests/govtool-frontend/playwright/lib/helpers/dRep.ts
Owners: @MSzalowski, @jdyczka

refactor(tests): streamline delegation tests and remove redundant cases
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
Owners: @MSzalowski, @jdyczka

feat(#2547): add preprod adjustments
  CHANGELOG.md
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/context/wallet.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: enhance dRep fetch logic for dynamic queries
  tests/govtool-frontend/playwright/lib/helpers/dRep.ts
Owners: @MSzalowski, @jdyczka

fix: add assertion instead of wait for timeout on dRepList
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
Owners: @MSzalowski, @jdyczka

chore: relocate test 2L to delection spec
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
Owners: @MSzalowski, @jdyczka

chore: bump GovTool to v2.0.2
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

refactor: move bad proposal tests 5G and 5H to independent tests
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.spec.ts
Owners: @MSzalowski, @jdyczka

fix: update networkId logic and utilize it in wallet connection tests
  tests/govtool-frontend/playwright/lib/constants/environments.ts
  tests/govtool-frontend/playwright/lib/fixtures/loadExtension.ts
  tests/govtool-frontend/playwright/tests/1-wallet-connect/walletConnect.spec.ts
Owners: @MSzalowski, @jdyczka

fix: skip ada dependent test for mainnet
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.ga.spec.ts
  tests/govtool-frontend/playwright/tests/dRep.setup.ts
  tests/govtool-frontend/playwright/tests/dRep.teardown.ts
  tests/govtool-frontend/playwright/tests/delegation.teardown.ts
  tests/govtool-frontend/playwright/tests/faucet.setup.ts
  tests/govtool-frontend/playwright/tests/faucet.teardown.ts
  tests/govtool-frontend/playwright/tests/wallet.bootstrap.ts
Owners: @MSzalowski, @jdyczka

fix: add timeout to ensure dRep list renders correctly
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
Owners: @MSzalowski, @jdyczka

chore: remove unnecessary assertions and add text assertions on delegation popup modal
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

fix: dynamically fetch proposal titles in governance actions for search
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

fix: align proposal type creation logic with protocol version
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

Update CHANGELOG.md
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

fix: remove temporary workaround for blank proposals issue in proposal view
  tests/govtool-frontend/playwright/lib/pages/proposalDiscussionPage.ts
Owners: @MSzalowski, @jdyczka

chore: increase timeout for identity verification button visibility
  tests/govtool-frontend/playwright/lib/helpers/auth.ts
Owners: @MSzalowski, @jdyczka

feat: configure gov.tools inputs and align network variables for deployment
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

feat: split new committe on-chain details into tabs
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/src/components/molecules/GovernanceActionNewConstitutionDetailsTabContent.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka
