Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

[#536] make filtering and sorting actions reusable
  govtool/frontend/src/components/molecules/DataActionsBar.tsx
  govtool/frontend/src/components/molecules/DataActionsFilters.tsx
  govtool/frontend/src/components/molecules/DataActionsSorting.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/pages/DashboardGovernanceActionsCategory.tsx
  govtool/frontend/src/pages/GovernanceActions.tsx
  govtool/frontend/src/pages/GovernanceActionsCategory.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#220] changes after CR
  govtool/frontend/src/components/atoms/StatusPill.tsx
  govtool/frontend/src/hooks/useDelegateToDrep.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Vote Context
  govtool/frontend/src/components/atoms/TextArea.tsx
  govtool/frontend/src/components/atoms/types.ts
  govtool/frontend/src/components/molecules/Field/TextArea.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextCheckResult.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextModal.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextStoringInformation.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextTerms.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextText.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextWrapper.tsx
  govtool/frontend/src/components/organisms/VoteContext/index.ts
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/context/modal.tsx
  govtool/frontend/src/hooks/forms/index.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/hooks/forms/useVoteActionForm.tsx
  govtool/frontend/src/hooks/forms/useVoteContextForm.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#569] Fix Dockerfile to correctly build backend module
  govtool/backend/Dockerfile
Owners: @MSzalowski, @jankun4, @kickloop

[#541] move individual dashboard cards into separate components
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DelegateDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ListGovActionsDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ProposeGovActionDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/SoleVoterDashboardCard.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#541] refactor dashboard cards
  govtool/frontend/src/components/atoms/types.ts
  govtool/frontend/src/components/molecules/Card.tsx
  govtool/frontend/src/components/molecules/CopyableInfo.tsx
  govtool/frontend/src/components/molecules/DRepInfoCard.tsx
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/components/molecules/WalletInfoCard.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DelegateDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ListGovActionsDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ProposeGovActionDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/SoleVoterDashboardCard.tsx
  govtool/frontend/src/stories/DashboardCard.stories.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#257 #374] Display GA using data from BE
  govtool/frontend/src/components/molecules/GovernanceActionCard.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardOnChainData.tsx
  govtool/frontend/src/components/molecules/GovernanceActionsDatesBox.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/types/global.d.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#566] add optional 'search' query param
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Proposal.hs
  govtool/backend/src/VVA/Types.hs
Owners: @Ryun1, @kickloop

Update vva-be.cabal
  govtool/backend/vva-be.cabal
Owners: @MSzalowski, @jankun4, @kickloop

[#257 #374] Fixes
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/utils/tests/removeDuplicatedProposals.test.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Update Cardano DB Sync version to the newest release
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

[#555] Fix missing environment variable for domain in resync workflow
  .github/workflows/resync-cardano-node-and-db-sync.yml
Owners: @placek, @adgud, @kickloop

[#122] update drep metadata/ re-register as drep
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepForm.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStoreDataInfo.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/index.ts
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/dRepActions/fields.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/hooks/forms/index.ts
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/EditDRepMetadata.tsx
  govtool/frontend/src/pages/UpdatedRepMetadata.tsx
  govtool/frontend/src/pages/index.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#555] Update Cardano Node to version 8.9.0
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

[#541] fix dashboard infinite loading
  govtool/frontend/src/components/organisms/DashboardCards.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#216] add Automated Voting Options component
  CHANGELOG.md
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#217] use translations in menu items
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#216] use Accordion from MUI to improve user experience
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/DRepDirectoryContent.tsx
  govtool/frontend/src/theme.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#217] add dRep directory page and nav items
  govtool/frontend/public/icons/DRepDirectory.svg
  govtool/frontend/public/icons/DRepDirectoryActive.svg
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/ContentBox.tsx
  govtool/frontend/src/components/atoms/PagePaddingBox.tsx
  govtool/frontend/src/components/atoms/index.ts
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/PageTitle.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/DRepDirectoryContent.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/icons.ts
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDirectory.tsx
  govtool/frontend/src/pages/index.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#219] fetch data for DRep details page
  govtool/frontend/src/pages/DRepDetails.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#220] add styling for DRepCard in default state
  govtool/frontend/src/components/atoms/Button.tsx
  govtool/frontend/src/components/atoms/StatusPill.tsx
  govtool/frontend/src/components/atoms/index.ts
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/stories/StatusPill.stories.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#219] fetch data for DRep details page
  govtool/frontend/src/hooks/queries/useGetDRepListQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/services/requests/getDRepList.ts
  govtool/frontend/src/theme.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#219] reorder translations
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#219] create details page for drep in drep directory
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/StakeRadio.tsx
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/Share.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/pages/DRepDirectory.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/pages/index.ts
  govtool/frontend/src/theme.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#216] add logic for automated voting options
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#220] fetch data for drep list
  govtool/frontend/src/components/atoms/StatusPill.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/hooks/index.ts
  govtool/frontend/src/hooks/queries/useGetDRepListQuery.ts
  govtool/frontend/src/hooks/useDelegateToDrep.ts
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/stories/StatusPill.stories.ts
  govtool/frontend/src/utils/dRep.ts
  govtool/frontend/src/utils/index.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#220] changes after CR
  govtool/frontend/src/components/atoms/StatusPill.tsx
  govtool/frontend/src/hooks/useDelegateToDrep.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#220] fix drep list infinite loader for unnconnected users
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#221] add search, filter and sort to drep list
  govtool/frontend/src/components/atoms/StatusPill.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/consts/dRepDirectory/filters.ts
  govtool/frontend/src/consts/dRepDirectory/index.ts
  govtool/frontend/src/consts/dRepDirectory/sorting.ts
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/hooks/queries/useGetDRepListQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/services/requests/getDRepList.ts
  govtool/frontend/src/stories/StatusPill.stories.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#582] make proposal/list search case insensitive
  CHANGELOG.md
  govtool/backend/src/VVA/API.hs
Owners: @Ryun1, @kickloop

[#530] Fix broken Haskell backend developers' configuration
  govtool/backend/default.nix
Owners: @MSzalowski, @jankun4, @kickloop

[#530] Make the direnv nix-shell helpers more reliable and responsive
  govtool/backend/.envrc
  govtool/backend/default.nix
Owners: @MSzalowski, @jankun4, @kickloop

[#530] Add stylish-haskell to the developer's toolset
  govtool/backend/default.nix
Owners: @MSzalowski, @jankun4, @kickloop

[#530] Add hlint to the developer's toolset
  govtool/backend/default.nix
Owners: @MSzalowski, @jankun4, @kickloop

[#530] Add stylish-haskell configuration
  CONTRIBUTING.md
  govtool/backend/.stylish-haskell.yaml
Owners: @Ryun1, @kickloop, @MSzalowski, @jankun4

[#530] Update shell information to connect with readme files
  govtool/frontend/default.nix
  scripts/govtool/default.nix
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop, @Ryun1

[#530] Apply contribution tools documentation on backend module
  govtool/backend/README.md
Owners: @MSzalowski, @jankun4, @kickloop

[#530] Move flake configuration to flake parts
  flake.lock
  flake.nix
Owners: @Ryun1, @kickloop

[#530] Install pre-commit tool with basic configuration
  .gitignore
  .pre-commit-config.yaml
  flake.nix
Owners: @Ryun1, @kickloop

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @placek @adgud @kickloop
config/govtool/*                                                            @placek @adgud @kickloop
infra/terraform/*                                                           @placek @adgud @kickloop

# Testing
gov-action-loader/*                                                         @IntersectMBO/govtool-test @kickloop
tests/*                                                                     @IntersectMBO/govtool-test @kickloop
