Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

chore: add generate exact length text utils
  tests/govtool-frontend/playwright/lib/_mock/index.ts
  tests/govtool-frontend/playwright/lib/helpers/string.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

fix: invalid proposal character issue by specifing the max character
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
Owners: @MSzalowski, @jdyczka

fix: test 2F due to multiple dRep card of delegated dRep
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
Owners: @MSzalowski, @jdyczka

fix: incorrect test id assertion in test 2A and add card assertion
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
Owners: @MSzalowski, @jdyczka

[#1941] fix passing DRep votes to the modal
  CHANGELOG.md
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextModal.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

change base readme for header image and mainnet launch
  .github/images/cardano-govtool-header.png
  CHANGELOG.md
  README.md
Owners: @Ryun1, @MSzalowski

fix: broken terms and conditions link
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

fix terms and conditions link
  govtool/frontend/src/components/organisms/Footer.tsx
  govtool/frontend/src/i18n/locales/en.ts
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
Owners: @MSzalowski, @jdyczka

fix failing storybook test
  govtool/frontend/src/stories/Footer.stories.ts
Owners: @MSzalowski, @jdyczka

[#1817] add Matomo Analytics script
  CHANGELOG.md
  govtool/frontend/index.html
Owners: @Ryun1, @MSzalowski, @jdyczka

chore / bump pdf-ui to v0.3.9
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1941] show all kinds of votes in the modal showing vote numbers
  CHANGELOG.md
  govtool/frontend/src/components/atoms/modal/ModalWrapper.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardVotes.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/components/organisms/Modal/SubmittedVotesModal.tsx
  govtool/frontend/src/components/organisms/Modal/VotingPowerModal.tsx
  govtool/frontend/src/components/organisms/Modal/index.ts
  govtool/frontend/src/context/modal.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/stories/modals/SubmittedVotesModal.stories.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1982] hide Delegate button if already delegated to this DRep
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCardHeader.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/stories/DRepDetailsCard.stories.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#2008] fix condition for disabling voting on different GA types
  CHANGELOG.md
  govtool/frontend/src/context/featureFlag.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix incorrect copy
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/stories/Step.stories.tsx
Owners: @MSzalowski, @jdyczka

add to changelog
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

add to changelog
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

fix incorrect copy
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/stories/Step.stories.tsx
Owners: @MSzalowski, @jdyczka

[#1923] display value of Ada holder voting power
  govtool/frontend/src/components/atoms/StakeRadio.tsx
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @jdyczka

new phrasing for direct voter registration
  CHANGELOG.md
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

new phrasing for direct voter registration
  CHANGELOG.md
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool version to v1.0.18
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

add new dockerfile
  govtool/frontend/Dockerfile.qovey
Owners: @MSzalowski, @jdyczka

add new dockerfile
  govtool/frontend/Dockerfile.qovey
Owners: @MSzalowski, @jdyczka

update private policy link to use Intersect one
  govtool/frontend/src/components/organisms/Footer.tsx
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
Owners: @MSzalowski, @jdyczka

update support link
  govtool/frontend/src/components/organisms/DrawerMobile.tsx
  govtool/frontend/src/components/organisms/Footer.tsx
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
Owners: @MSzalowski, @jdyczka

update changelog
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

[#2036] fix broken translation in DRep Details
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DRepDetailsCardHeader.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#2036] fix broken translation in DRep Details
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DRepDetailsCardHeader.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

Bump Cardano DB Sync to 13.5.0.2
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/custom-cardano-db-sync.Dockerfile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

[#2002] add Mainnet link to network banner
  CHANGELOG.md
  govtool/frontend/src/components/organisms/TopBanners.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#2013] prepare FE for randomized DRep list
  govtool/frontend/src/components/molecules/DataActionsBar.tsx
  govtool/frontend/src/components/molecules/OrderActionsChip.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/consts/dRepDirectory/sorting.ts
  govtool/frontend/src/context/dataActionsBar.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/stories/ActionsBar.stories.ts
Owners: @MSzalowski, @jdyczka

chore: bump to csl 12.1.0
  docs/architecture/README.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

remove explicit transaction outputs
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @jdyczka

update changelog
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

chore: bump frontend to use CSL 12.1.0
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

[#2013] randomize DRep list
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/vva-be.cabal
Owners: @Ryun1, @MSzalowski, @jankun4

chore: bump GovTool version to v1.0.19
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix csl errors
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @jdyczka

chore: bump to csl 12.1.0
  docs/architecture/README.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose
