Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @placek @adgud @kickloop
config/govtool/*                                                            @placek @adgud @kickloop
infra/terraform/*                                                           @placek @adgud @kickloop

# Testing
gov-action-loader/*                                                         @IntersectMBO/govtool-test @kickloop
tests/*                                                                     @IntersectMBO/govtool-test @kickloop

[#436] Remove phony Cardano config targets with actual file targets
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor deployment makefiles to use file targets instead of phony targets
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Change explicit file targets to a more generic target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor grafana provisioning target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor usage of `directories` variable for improved structuring
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#364] fix: i18n labels of storage information screen
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#364] fix: i18n labels of storage information screen
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#462] [#463] fix cards width and fonts for RWDs
  govtool/frontend/src/components/atoms/Typography.tsx
  govtool/frontend/src/components/molecules/ActionCard.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/ReviewCreatedGovernanceAction.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/Hero.tsx
  govtool/frontend/src/components/organisms/HomeCards.tsx
  govtool/frontend/src/components/organisms/TopNav.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#451] fix: whitelist any jsonld file in CSP
  CHANGELOG.md
  scripts/govtool/config/templates/docker-compose.yml.tpl
Owners: @Ryun1, @kickloop

[#481] ]wrap too long link
  govtool/frontend/src/components/organisms/ExternalLinkModal.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#484] Add GitHub Action workflow to automate deployment to the test server
  .github/workflows/build-and-deploy-test.yml
Owners: @placek, @adgud, @kickloop

[#484] Add GitHub Action workflow to automate deployment to the staging server
  .github/workflows/build-and-deploy-staging.yml
Owners: @placek, @adgud, @kickloop

[#484] Add GitHub Action workflow to automate deployment to the beta server
  .github/workflows/build-and-deploy-beta.yml
Owners: @placek, @adgud, @kickloop

[#484] Add manually triggered workflow for resyncing the Cardano state on selected server
  .github/workflows/resync-cardano-node-and-db-sync.yml
Owners: @placek, @adgud, @kickloop

[#481] ]wrap too long link
  govtool/frontend/src/components/organisms/ExternalLinkModal.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#462] [#463] fix cards width and fonts for RWDs
  govtool/frontend/src/components/atoms/Typography.tsx
  govtool/frontend/src/components/molecules/ActionCard.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/ReviewCreatedGovernanceAction.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/Hero.tsx
  govtool/frontend/src/components/organisms/HomeCards.tsx
  govtool/frontend/src/components/organisms/TopNav.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#451] fix: whitelist any jsonld file in CSP
  CHANGELOG.md
  scripts/govtool/config/templates/docker-compose.yml.tpl
Owners: @Ryun1, @kickloop

[#377] fix: validation of ada amount
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

fix: drep_always_[abstain|no_confidence] coalesce sql failure
  govtool/backend/sql/get-network-metrics.sql
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @kickloop

[#436] Refactor configuration output list
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Remove the invalid phony statement
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Move the upload target to the top to expose it more
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#444] Refactor maintenance mode workflow
  .github/workflows/toggle-maintenance.yml
  scripts/govtool/Makefile
Owners: @placek, @adgud, @kickloop, @Ryun1

[#484] Restrict manual deployment to the dev server only
  .github/workflows/build-and-deploy-dev.yml
Owners: @placek, @adgud, @kickloop

[#501] fix sql error
  CHANGELOG.md
  govtool/backend/sql/get-network-metrics.sql
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @kickloop

[#501] fix sql error
  CHANGELOG.md
  govtool/backend/sql/get-network-metrics.sql
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @kickloop

[#503] Parametrize the configuration files for PostgreSQL with ENVs
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @kickloop

[#503] Update Cardano DB Sync version to 4.1.0
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @kickloop

[#457] Enable skipping Basic Auth for connections from VPN
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#457] Add VPN addresses as environment variables for Basic Auth bypass
  .github/workflows/resync-cardano-node-and-db-sync.yml
Owners: @placek, @adgud, @kickloop

[#507] chore: change file name
  .github/workflows/test_frontend.yml
Owners: @placek, @adgud, @kickloop

[#507] chore: add frontend test github workflow
  .github/workflows/test_frontentd.yml
  CHANGELOG.md
Owners: @placek, @adgud, @kickloop, @Ryun1

[#512] chore: add type checking & lint workflow to github actions
  .github/workflows/code_style_check_frontend.yml
  CHANGELOG.md
  govtool/frontend/package.json
Owners: @placek, @adgud, @kickloop, @Ryun1, @MSzalowski, @Sworzen1, @JanJaroszczak

[#512] chore: split jobs to work in parallel; add emoji to label actions
  .github/workflows/code_check_frontend.yml
Owners: @placek, @adgud, @kickloop

[#512] chore: join test & code check workflows into one
  .github/workflows/code_check_frontend.yml
  .github/workflows/code_style_check_frontend.yml
Owners: @placek, @adgud, @kickloop

[#512] chore: set .nvmrc as node version source
  .github/workflows/code_check_frontend.yml
Owners: @placek, @adgud, @kickloop

[#512] chore: fix tsc execution
  .github/workflows/code_check_frontend.yml
  govtool/frontend/package.json
Owners: @placek, @adgud, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#516] Update deployment workflows to include missing variables
  .github/workflows/build-and-deploy-beta.yml
  .github/workflows/build-and-deploy-dev.yml
  .github/workflows/build-and-deploy-staging.yml
  .github/workflows/build-and-deploy-test.yml
Owners: @placek, @adgud, @kickloop

refactor step1 and step2 for drep registration
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RegisterAsDRepForm.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RolesAndResponsibilities.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/index.ts
  govtool/frontend/src/components/organisms/RegisterAsdRepStepThree.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/hooks/forms/index.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/RegisterAsdRep.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Store data for drep
  govtool/frontend/public/icons/Download.svg
  govtool/frontend/src/components/molecules/Step.tsx
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStoreDataInfo.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/index.ts
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/RegisterAsdRep.tsx
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak
