Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @Sworzen1, @JanJaroszczak, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @Sworzen1 @JanJaroszczak
*.tsx                                                                       @MSzalowski @Sworzen1 @JanJaroszczak
*.ts                                                                        @MSzalowski @Sworzen1 @JanJaroszczak
*.css                                                                       @MSzalowski @Sworzen1 @JanJaroszczak

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @IntersectMBO/govtool-test
gov-action-loader/*                                                         @IntersectMBO/govtool-test

[#589] Vote context fix (plus small fix to supporting links in GA)
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardLinks.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardVotes.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/consts/queryKeys.ts
  govtool/frontend/src/hooks/queries/index.ts
  govtool/frontend/src/hooks/queries/useGetVoteContextTextFromFile.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/services/requests/getVoteContextTextFromFile.ts
  govtool/frontend/src/services/requests/index.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak

[#594] Display cast vote dates fetched from endpoint
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardVotes.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/hooks/queries/useGetProposalQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/models/api.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak

feat: init nestjs boilerplate
  govtool/submission-tool/.eslintrc.js
  govtool/submission-tool/.gitignore
  govtool/submission-tool/.nvmrc
  govtool/submission-tool/.prettierrc
  govtool/submission-tool/README.md
  govtool/submission-tool/nest-cli.json
  govtool/submission-tool/package.json
  govtool/submission-tool/src/app.controller.spec.ts
  govtool/submission-tool/src/app.controller.ts
  govtool/submission-tool/src/app.module.ts
  govtool/submission-tool/src/app.service.ts
  govtool/submission-tool/src/main.ts
  govtool/submission-tool/test/app.e2e-spec.ts
  govtool/submission-tool/test/jest-e2e.json
  govtool/submission-tool/tsconfig.build.json
  govtool/submission-tool/tsconfig.json
  govtool/submission-tool/yarn.lock
Owners: @Ryun1, @MSzalowski, @Sworzen1, @JanJaroszczak

[#535] check governance actions are valid
  govtool/frontend/src/components/molecules/Breadcrumbs.tsx
  govtool/frontend/src/components/molecules/DataMissingInfoBox.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCard.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCardHeader.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardHeader.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionsVotedOn.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/components/organisms/GovernanceActionsToVote.tsx
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/hooks/queries/useGetDRepVotesQuery.ts
  govtool/frontend/src/hooks/queries/useGetProposalQuery.ts
  govtool/frontend/src/hooks/queries/useGetProposalsInfiniteQuery.ts
  govtool/frontend/src/hooks/queries/useGetProposalsQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/pages/GovernanceActionsCategory.tsx
  govtool/frontend/src/pages/RetireAsDrep.tsx
  govtool/frontend/src/services/requests/getDRepVotes.ts
  govtool/frontend/src/services/requests/getProposal.ts
  govtool/frontend/src/types/global.d.ts
  govtool/frontend/src/utils/areObjectsTheSame.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/removeDuplicatedProposals.ts
  govtool/frontend/src/utils/tests/removeDuplicatedProposals.test.ts
  govtool/frontend/src/utils/validateMetadataHash.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak

feat: prepare metadata endpoints
  govtool/submission-tool/src/app.controller.spec.ts
  govtool/submission-tool/src/app.controller.ts
  govtool/submission-tool/src/app.service.ts
  govtool/submission-tool/test/app.e2e-spec.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak

fix lint
  govtool/frontend/src/components/molecules/Breadcrumbs.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCardHeader.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardHeader.tsx
  govtool/frontend/src/hooks/queries/useGetProposalsInfiniteQuery.ts
  govtool/frontend/src/hooks/queries/useGetProposalsQuery.ts
  govtool/frontend/src/pages/RetireAsDrep.tsx
  govtool/frontend/src/services/requests/getDRepVotes.ts
  govtool/frontend/src/services/requests/getProposal.ts
  govtool/frontend/src/services/requests/getProposals.ts
  govtool/frontend/src/utils/areObjectsTheSame.ts
  govtool/frontend/src/utils/tests/areObjectsTheSame.test.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak

add types
  govtool/frontend/src/hooks/queries/useGetProposalsQuery.ts
  govtool/frontend/src/types/global.d.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak

add to changlog/ fix types
  CHANGELOG.md
  govtool/frontend/src/hooks/queries/useGetProposalsInfiniteQuery.ts
  govtool/frontend/src/hooks/queries/useGetProposalsQuery.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/services/requests/getProposals.ts
  govtool/frontend/src/utils/validateMetadataHash.ts
Owners: @Ryun1, @MSzalowski, @Sworzen1, @JanJaroszczak

feat: add body validation
  govtool/submission-tool/package.json
  govtool/submission-tool/src/app.controller.spec.ts
  govtool/submission-tool/src/app.controller.ts
  govtool/submission-tool/src/app.service.ts
  govtool/submission-tool/src/dto/validateMetadata.dto.ts
  govtool/submission-tool/src/main.ts
  govtool/submission-tool/test/app.e2e-spec.ts
  govtool/submission-tool/yarn.lock
Owners: @Ryun1, @MSzalowski, @Sworzen1, @JanJaroszczak

feat: handle metadata validation
  govtool/submission-tool/package.json
  govtool/submission-tool/src/app.controller.spec.ts
  govtool/submission-tool/src/app.controller.ts
  govtool/submission-tool/src/app.module.ts
  govtool/submission-tool/src/app.service.ts
  govtool/submission-tool/src/enums/ValidationError.ts
  govtool/submission-tool/src/types/index.ts
  govtool/submission-tool/src/types/validateMetadata.ts
  govtool/submission-tool/src/utils/canonizeJSON.ts
  govtool/submission-tool/src/utils/index.ts
  govtool/submission-tool/test/app.e2e-spec.ts
  govtool/submission-tool/yarn.lock
Owners: @Ryun1, @MSzalowski, @Sworzen1, @JanJaroszczak

feat: add validation test
  govtool/submission-tool/src/app.controller.spec.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak

feat: add health check
  govtool/submission-tool/.env.example
  govtool/submission-tool/package.json
  govtool/submission-tool/src/app.module.ts
  govtool/submission-tool/src/health/health.controller.spec.ts
  govtool/submission-tool/src/health/health.controller.ts
  govtool/submission-tool/src/health/health.module.ts
  govtool/submission-tool/src/main.ts
  govtool/submission-tool/yarn.lock
Owners: @Ryun1, @MSzalowski, @Sworzen1, @JanJaroszczak

feat: add docker
  govtool/submission-tool/Dockerfile
  govtool/submission-tool/docker-compose.yml
Owners: @Ryun1, @MSzalowski

docs: add README
  govtool/submission-tool/README.md
Owners: @Ryun1, @MSzalowski

feat: add swagger documentation
  govtool/submission-tool/package.json
  govtool/submission-tool/src/main.ts
  govtool/submission-tool/yarn.lock
Owners: @Ryun1, @MSzalowski, @Sworzen1, @JanJaroszczak

update stories and chromatic
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/components/molecules/Field/TextArea.tsx
  govtool/frontend/src/components/organisms/Slider.tsx
  govtool/frontend/src/components/organisms/StatusModal.tsx
  govtool/frontend/src/hooks/queries/useGetVoterInfoQuery.ts
  govtool/frontend/src/pages/DashboardGovernanceActionsCategory.tsx
  govtool/frontend/src/stories/GovernanceAction.stories.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/src/stories/GovernanceActionVoted.stories.ts
  govtool/frontend/src/stories/Slider.stories.tsx
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak

feat: replace bad request exception with the status of the validation
  govtool/submission-tool/src/app.controller.spec.ts
  govtool/submission-tool/src/app.module.ts
  govtool/submission-tool/src/app.service.ts
  govtool/submission-tool/src/enums/ValidationError.ts
  govtool/submission-tool/src/health/health.controller.spec.ts
  govtool/submission-tool/src/types/validateMetadata.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak
