Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @placek @adgud @kickloop
config/govtool/*                                                            @placek @adgud @kickloop
infra/terraform/*                                                           @placek @adgud @kickloop

# Testing
gov-action-loader/*                                                         @IntersectMBO/govtool-test @kickloop
tests/*                                                                     @IntersectMBO/govtool-test @kickloop

Use more descriptive name for the Docker Compose target
  scripts/govtool/utils.mk
Owners: @Ryun1, @kickloop

[#442] Use the same UID in the datasource definition as in the panel configuration
  scripts/govtool/config/templates/grafana-provisioning/dashboards/govtool.json
  scripts/govtool/config/templates/grafana-provisioning/datasources/datasource.yml
Owners: @Ryun1, @kickloop

[#442] Remove redundant basicAuth field from datasource.yml
  scripts/govtool/config/templates/grafana-provisioning/datasources/datasource.yml
Owners: @Ryun1, @kickloop

[#365] governance action certs (info and treasury)
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add getRewardAddress to builders dependencies
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add working logic to GA builders
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/models/wallet.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

move generateAnchor to untils
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/utils/generateAnchor.tsx
  govtool/frontend/src/utils/index.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#446] extend drep/list endpoint
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
  govtool/status-service/app.py
Owners: @Ryun1, @kickloop

[#446] extend drep/list endpoint
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
  govtool/status-service/app.py
Owners: @Ryun1, @kickloop

fix copy for cancel governance action creation
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#188] Prepare Nix shell configuration for frontend and backend
  govtool/backend/default.nix
  govtool/backend/shell.nix
  govtool/frontend/shell.nix
Owners: @MSzalowski, @jankun4, @kickloop, @Sworzen1, @JanJaroszczak

fix copy for cancel governance action creation
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#377, #432] feat: form inputs validation
  CHANGELOG.md
  govtool/frontend/src/components/atoms/TextArea.tsx
  govtool/frontend/src/components/molecules/Field/TextArea.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/ReviewCreatedGovernanceAction.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/WhatGovernanceActionIsAbout.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/index.ts
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/governanceActionFields.ts
  govtool/frontend/src/consts/governanceActionTypes.ts
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/context/contextProviders.tsx
  govtool/frontend/src/context/index.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
  govtool/frontend/src/types/global.d.ts
  govtool/frontend/src/types/governanceAction.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#364] add download icon into download json button
  govtool/frontend/public/icons/Download.svg
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/consts/icons.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#453] Storybook update
  govtool/frontend/.storybook/preview.tsx
  govtool/frontend/src/stories/DashboardCard.stories.ts
  govtool/frontend/src/stories/DashboardTopNav.stories.ts
  govtool/frontend/src/stories/DelegateActionRadio.stories.ts
  govtool/frontend/src/stories/Input.stories.tsx
  govtool/frontend/src/stories/LinkWithIcon.stories.tsx
  govtool/frontend/src/stories/LoadingButton.stories.tsx
  govtool/frontend/src/stories/Step.stories.tsx
  govtool/frontend/src/stories/TextArea.stories.tsx
  govtool/frontend/src/stories/modals/ExternalLinkModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusWithLink.stories.tsx
  govtool/frontend/src/stories/modals/VotingPowerModal.stories.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add Card atom
  govtool/frontend/src/components/molecules/Card.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/consts/colors.ts
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/stories/Card.stories.tsx
  govtool/frontend/src/theme.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#451] create json
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/consts/governanceActionFields.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#451] change json extension to jsonld
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/utils/jsonUtils.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#451] uncoment and add to changelog
  CHANGELOG.md
  govtool/frontend/src/consts/governanceActionFields.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#453] Fixes after CR
  govtool/frontend/src/stories/Input.stories.tsx
  govtool/frontend/src/stories/TextArea.stories.tsx
  govtool/frontend/src/stories/modals/ExternalLinkModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusWithLink.stories.tsx
  govtool/frontend/src/stories/modals/VotingPowerModal.stories.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Introduce frontend image build environment tag
  govtool/frontend/Makefile
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#378] feat: add hash and validation of the metadata
  CHANGELOG.md
  govtool/frontend/package.json
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/StatusModal.tsx
  govtool/frontend/src/consts/governanceActionFields.ts
  govtool/frontend/src/context/modal.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/utils/canonizeJSON.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/validateMetadataHash.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#378] feat: create gov action transaction builder & submit
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/consts/governanceAction/filters.ts
  govtool/frontend/src/consts/governanceAction/index.ts
  govtool/frontend/src/consts/governanceAction/metadataHashValidationErrors.ts
  govtool/frontend/src/consts/governanceAction/modalConfig.ts
  govtool/frontend/src/consts/governanceAction/sorting.ts
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/types/governanceAction.ts
  govtool/frontend/src/utils/generateJsonld.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/validateMetadataHash.ts
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#378] remove console.log of hash
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add pending transaction for governance action creation
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/utils/localStorage.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#453] Storybook update
  govtool/frontend/.storybook/preview.tsx
  govtool/frontend/src/stories/DashboardCard.stories.ts
  govtool/frontend/src/stories/DashboardTopNav.stories.ts
  govtool/frontend/src/stories/DelegateActionRadio.stories.ts
  govtool/frontend/src/stories/Input.stories.tsx
  govtool/frontend/src/stories/LinkWithIcon.stories.tsx
  govtool/frontend/src/stories/LoadingButton.stories.tsx
  govtool/frontend/src/stories/Step.stories.tsx
  govtool/frontend/src/stories/TextArea.stories.tsx
  govtool/frontend/src/stories/modals/ExternalLinkModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusWithLink.stories.tsx
  govtool/frontend/src/stories/modals/VotingPowerModal.stories.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#453] Fixes after CR
  govtool/frontend/src/stories/Input.stories.tsx
  govtool/frontend/src/stories/TextArea.stories.tsx
  govtool/frontend/src/stories/modals/ExternalLinkModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusWithLink.stories.tsx
  govtool/frontend/src/stories/modals/VotingPowerModal.stories.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Introduce frontend image build environment tag
  govtool/frontend/Makefile
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#378] fix text wrapping on review governance action submission
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/ReviewCreatedGovernanceAction.tsx
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#436] Implement a generic target to create a directory structure for configuration files
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor the `prepare-nginx-config` phony target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor the prepare-loki-config target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor prepare-promtail-config target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor the `prepare-prometheus-config` target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor `prepare-backend-config` target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor target configuration in `config.mk` to include `govtool.htpasswd`
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor deployment makefiles to use file targets instead of phony targets
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor prepare-dbsync-secrets target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor generate-docker-compose-file target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop

[#436] Refactor backend-config generation to use a template file target instead of a plain file target
  scripts/govtool/config.mk
Owners: @Ryun1, @kickloop
