Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

fix: replace json diff library to avoid using the force installation
  .github/workflows/code_check_frontend.yml
  .github/workflows/frontend_sonar_scan.yml
  .github/workflows/test_integration_playwright.yml
  .github/workflows/test_storybook.yml
  CHANGELOG.md
  govtool/frontend/Dockerfile
  govtool/frontend/Dockerfile.qovery
  govtool/frontend/README.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/components/molecules/GovernanceActionDetailsDiffView.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/react-diff-view.overrides.css
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/types/unidiff.d.ts
  govtool/frontend/storybook.Dockerfile
  govtool/frontend/yarn.lock
Owners: @placek, @adgud, @Ryun1, @MSzalowski, @jdyczka

[#1847] delete duplicate text on DRep registration form
  CHANGELOG.md
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RegisterAsDRepForm.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump @intersect.mbo/pdf-ui to v0.3.7
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1842] fix modals on ios
  CHANGELOG.md
  govtool/frontend/src/components/atoms/modal/ModalWrapper.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1838): fix counting CC and SPO votes
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: limit validation request with a timeout and content lenght
  govtool/metadata-validation/src/app.service.ts
  govtool/metadata-validation/src/dto/validateMetadata.dto.ts
  govtool/metadata-validation/src/main.ts
  govtool/metadata-validation/tsconfig.json
Owners: @MSzalowski, @jdyczka, @Ryun1

[#1851] change logo to Cardano GovTool
  CHANGELOG.md
  govtool/frontend/public/images/CardanoLogo.svg
  govtool/frontend/src/consts/images.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1852] change copy to Cardano GovTool
  CHANGELOG.md
  README.md
  govtool/frontend/index.html
  govtool/frontend/maintenance-page/index.html
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1601): get rid of junk data in protocol parameter change Gov Action
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionDetailsDiffView.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/services/requests/metadataValidation/postValidate.ts
  govtool/frontend/src/utils/filterOutNullParams.ts
  govtool/frontend/src/utils/filterUpdatableProtocolParams.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/replaceNullValues.ts
  govtool/frontend/src/utils/tests/filterOutNullParams.test.ts
  govtool/frontend/src/utils/tests/filterUpdatableProtocolParams.test.ts
  govtool/metadata-validation/package.json
  govtool/metadata-validation/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1601): fix parsing falsy values except null and undefined
  govtool/frontend/src/utils/filterUpdatableProtocolParams.ts
  govtool/frontend/src/utils/tests/filterUpdatableProtocolParams.test.ts
Owners: @MSzalowski, @jdyczka

fix(#1601): fix parsing falsy values in filterOutNullParams util
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardLinks.tsx
  govtool/frontend/src/utils/filterOutNullParams.ts
  govtool/frontend/src/utils/tests/filterOutNullParams.test.ts
Owners: @MSzalowski, @jdyczka

fix: remove package manager in validation service
  govtool/frontend/junit-report.xml
  govtool/frontend/package.json
  govtool/frontend/vite.config.ts
  govtool/metadata-validation/package.json
Owners: @MSzalowski, @jdyczka, @Ryun1

fix: remove json resolving causing unfinished validation service build
  govtool/metadata-validation/src/main.ts
  govtool/metadata-validation/tsconfig.json
Owners: @MSzalowski, @jdyczka, @Ryun1

fix(#1876): fix voting on info actions in bootstrapping phase
  CHANGELOG.md
  govtool/frontend/src/context/featureFlag.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1873): fix missing DRep name whitespace validation
  CHANGELOG.md
  govtool/frontend/src/consts/dRepActions/fields.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1866): fix formatting governance action id
  CHANGELOG.md
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1866): fix wrong test condition
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
Owners: @MSzalowski, @jdyczka

fix(#1863): add missing DRep Details test IDs
  CHANGELOG.md
  govtool/frontend/src/pages/DRepDetails.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1871): make payment address validation optional
  CHANGELOG.md
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/utils/isValidFormat.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1889): fix displaying on-chain governance action details
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionDetailsDiffView.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/hooks/queries/useGetProposalQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

Fix frontend PDF_API_URL
  tests/test-infrastructure/.env.example
  tests/test-infrastructure/docker-compose-cardano.yml
  tests/test-infrastructure/docker-compose-govtool.yml
  tests/test-infrastructure/playbook.yml
Owners: @Ryun1, @MSzalowski

fix(#1887): replace mocked MrDRep with CIP-119 compliant metadata
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/models/api.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1839): add missing test ids for system banners
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/components/organisms/TopBanners.tsx
  govtool/frontend/vite.config.ts
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

Update CHANGELOG.md
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

[#1903] change home page hero copy
  CHANGELOG.md
  govtool/frontend/src/components/organisms/Hero.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: dRep registry issue caused by dRep registration field update
  tests/govtool-frontend/playwright/lib/forms/dRepForm.ts
  tests/govtool-frontend/playwright/lib/helpers/transaction.ts
Owners: @MSzalowski, @jdyczka

fix: test 2N due to updated field on dRep registration
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: update dRep Info type
  tests/govtool-frontend/playwright/lib/types.ts
Owners: @MSzalowski, @jdyczka

feat: add cc and spo corret vote assertion on test 4K and 4G
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
Owners: @MSzalowski, @jdyczka

chore: update in dRep in progress assertion
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

fix: test 3E_2 reject invalid data in drep form by updating field and assertion
  tests/govtool-frontend/playwright/lib/forms/dRepForm.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add cc, spo field on IProposal
  tests/govtool-frontend/playwright/lib/types.ts
Owners: @MSzalowski, @jdyczka

fix: test 3L_2 due to incorrect test id of registerBtn
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

fix: test 2R and 2E by adding assertion and timeout
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
Owners: @MSzalowski, @jdyczka

chore: extend timeout for registration-transaction-submitted-modal in retire direct voter test
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: bump cardano test wallet version to 2.1.1
  tests/govtool-frontend/playwright/package-lock.json
  tests/govtool-frontend/playwright/package.json
Owners: @Ryun1, @MSzalowski

chore: update testids of dRep information details
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
Owners: @MSzalowski, @jdyczka

fix: test 3H should update dRep data
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: update assertion timeout of 5K and 3F
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

fix: 4C2 sort by highest test due to field name change
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose
