Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @placek @adgud @kickloop
config/govtool/*                                                            @placek @adgud @kickloop
infra/terraform/*                                                           @placek @adgud @kickloop

# Testing
gov-action-loader/*                                                         @IntersectMBO/govtool-test @kickloop
tests/*                                                                     @IntersectMBO/govtool-test @kickloop

[#360] [#110] add to changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#358] delete console.log
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#362] fix display data only for one type of GA
  govtool/frontend/src/components/organisms/CreateGovernanceActionForm.tsx
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Streamlined domain configuration in CI/CD workflow
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Remove unused fake DB sync configurations from deployment setup
  .github/workflows/build-and-deploy.yml
  scripts/govtool/config/templates/backend-config.json.tpl
Owners: @placek, @adgud, @kickloop, @Ryun1

Added Grafana provisioning reload target to utility makefile
  .github/workflows/build-and-deploy.yml
  scripts/govtool/utils.mk
Owners: @placek, @adgud, @kickloop, @Ryun1

add to changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#427] Fetch full repo history during deployment for proper Docker images tagging
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Log a targets indicators in deployment process
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

[#364] add information storage screens
  govtool/frontend/src/components/molecules/LinkWithIcon.tsx
  govtool/frontend/src/components/molecules/Step.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/index.ts
  govtool/frontend/src/components/organisms/ReviewCreatedGovernanceAction.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/jsonUtils.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

change type on @type
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

replace link with sancho dosc
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#427] Fetch full repo history during deployment for proper Docker images tagging
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Log a targets indicators in deployment process
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Hotfix for 'why' debug option in make
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Update changelog to reflect recent changes
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#361] Use the highest dashboard version for deployment traceability
  scripts/govtool/config/templates/grafana-provisioning/dashboards/govtool.json
Owners: @Ryun1, @kickloop

change type on @type
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#364] add information storage screens
  govtool/frontend/src/components/molecules/LinkWithIcon.tsx
  govtool/frontend/src/components/molecules/Step.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/index.ts
  govtool/frontend/src/components/organisms/ReviewCreatedGovernanceAction.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/jsonUtils.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

replace link with sancho dosc
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Hotfix for 'why' debug option in make
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Update changelog to reflect recent changes
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#361] Use the highest dashboard version for deployment traceability
  scripts/govtool/config/templates/grafana-provisioning/dashboards/govtool.json
Owners: @Ryun1, @kickloop

[#217] use translations in menu items
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#216] add Automated Voting Options component
  CHANGELOG.md
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#217] use translations in menu items
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#217] add dRep directory page and nav items
  govtool/frontend/public/icons/DRepDirectory.svg
  govtool/frontend/public/icons/DRepDirectoryActive.svg
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/ContentBox.tsx
  govtool/frontend/src/components/atoms/PagePaddingBox.tsx
  govtool/frontend/src/components/atoms/index.ts
  govtool/frontend/src/components/molecules/PageTitle.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/DRepDirectoryContent.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/icons.ts
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDirectory.tsx
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/pages/index.ts
  govtool/frontend/src/theme.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#427] Fetch full repo history during deployment for proper Docker images tagging
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Log a targets indicators in deployment process
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

[#364] add information storage screens
  govtool/frontend/src/components/molecules/LinkWithIcon.tsx
  govtool/frontend/src/components/molecules/Step.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/index.ts
  govtool/frontend/src/components/organisms/ReviewCreatedGovernanceAction.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/jsonUtils.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

change type on @type
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

replace link with sancho dosc
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Hotfix for 'why' debug option in make
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Update changelog to reflect recent changes
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#361] Use the highest dashboard version for deployment traceability
  scripts/govtool/config/templates/grafana-provisioning/dashboards/govtool.json
Owners: @Ryun1, @kickloop

[#216] use Accordion from MUI to improve user experience
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/DRepDirectoryContent.tsx
  govtool/frontend/src/theme.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#365] governance action certs (info and treasury)
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

move generateAnchor to untils
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/utils/generateAnchor.tsx
  govtool/frontend/src/utils/index.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add working logic to GA builders
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/models/wallet.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add getRewardAddress to builders dependencies
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop
