Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @placek @adgud @kickloop
config/govtool/*                                                            @placek @adgud @kickloop
infra/terraform/*                                                           @placek @adgud @kickloop

# Testing
gov-action-loader/*                                                         @IntersectMBO/govtool-test @kickloop
tests/*                                                                     @IntersectMBO/govtool-test @kickloop

[#385] Refactor Makefile structure for enhanced modularity and deployment efficiency
  govtool/backend/Makefile
  govtool/frontend/Makefile
  scripts/govtool/Makefile
  scripts/govtool/README.md
  scripts/govtool/common.mk
  scripts/govtool/info.mk
  scripts/govtool/utils.mk
  scripts/govtool/utils/backend-base-version
  scripts/govtool/utils/backend-version
  scripts/govtool/utils/frontend-version
Owners: @MSzalowski, @jankun4, @kickloop, @Sworzen1, @JanJaroszczak, @Ryun1

[#385] Integrate prepare-config script functionality into Makefile system
  govtool/frontend/Makefile
  scripts/govtool/Makefile
  scripts/govtool/common.mk
  scripts/govtool/config.mk
  scripts/govtool/config/secrets/backend-config.json
  scripts/govtool/config/secrets/postgres_db
  scripts/govtool/config/secrets/postgres_password
  scripts/govtool/config/secrets/postgres_user
  scripts/govtool/config/templates/backend-config.json.tpl
  scripts/govtool/config/templates/grafana-provisioning/alerting/alerting.yml
  scripts/govtool/config/templates/grafana-provisioning/dashboards/dashboard.yml
  scripts/govtool/config/templates/grafana-provisioning/dashboards/govtool.json
  scripts/govtool/config/templates/grafana-provisioning/dashboards/traefik_rev4.json
  scripts/govtool/config/templates/grafana-provisioning/datasources/datasource.yml
  scripts/govtool/config/templates/prometheus.yml
  scripts/govtool/info.mk
  scripts/govtool/prepare-config.sh
  scripts/govtool/utils.mk
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop, @Ryun1

[#385] Centralize Docker Compose configurations using a dynamic template
  scripts/govtool/Makefile
  scripts/govtool/README.md
  scripts/govtool/config.mk
  scripts/govtool/config/templates/docker-compose.yml.tpl
  scripts/govtool/docker-compose.beta.yml
  scripts/govtool/docker-compose.dev.yml
  scripts/govtool/docker-compose.test.yml
Owners: @Ryun1, @kickloop

Update CHANGELOG.md with Docker tagging policy and Makefile reorganisation
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#385] Refine GitHub Actions workflow for optimized Docker image handling
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

[#385] Simplify GitHub Actions deployment workflow
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Remove unused fake DB sync configurations from deployment setup
  .github/workflows/build-and-deploy.yml
  scripts/govtool/config/templates/backend-config.json.tpl
Owners: @placek, @adgud, @kickloop, @Ryun1

[#385] Unify placeholder usage in configuration templates
  scripts/govtool/config.mk
  scripts/govtool/config/templates/backend-config.json.tpl
  scripts/govtool/config/templates/grafana-provisioning/alerting/alerting.yml
Owners: @Ryun1, @kickloop

[#385] Centralize Docker Compose configurations using a dynamic template
  scripts/govtool/Makefile
  scripts/govtool/README.md
  scripts/govtool/config.mk
  scripts/govtool/config/templates/docker-compose.yml.tpl
  scripts/govtool/docker-compose.beta.yml
  scripts/govtool/docker-compose.dev.yml
  scripts/govtool/docker-compose.test.yml
Owners: @Ryun1, @kickloop

[#385] Integrate prepare-config script functionality into Makefile system
  govtool/frontend/Makefile
  scripts/govtool/Makefile
  scripts/govtool/common.mk
  scripts/govtool/config.mk
  scripts/govtool/config/secrets/backend-config.json
  scripts/govtool/config/secrets/postgres_db
  scripts/govtool/config/secrets/postgres_password
  scripts/govtool/config/secrets/postgres_user
  scripts/govtool/config/templates/backend-config.json.tpl
  scripts/govtool/config/templates/grafana-provisioning/alerting/alerting.yml
  scripts/govtool/config/templates/grafana-provisioning/dashboards/dashboard.yml
  scripts/govtool/config/templates/grafana-provisioning/dashboards/govtool.json
  scripts/govtool/config/templates/grafana-provisioning/dashboards/traefik_rev4.json
  scripts/govtool/config/templates/grafana-provisioning/datasources/datasource.yml
  scripts/govtool/config/templates/prometheus.yml
  scripts/govtool/info.mk
  scripts/govtool/prepare-config.sh
  scripts/govtool/utils.mk
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop, @Ryun1

[#385] Refine GitHub Actions workflow for optimized Docker image handling
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

[#385] Refactor Makefile structure for enhanced modularity and deployment efficiency
  govtool/backend/Makefile
  govtool/frontend/Makefile
  scripts/govtool/Makefile
  scripts/govtool/README.md
  scripts/govtool/common.mk
  scripts/govtool/info.mk
  scripts/govtool/utils.mk
  scripts/govtool/utils/backend-base-version
  scripts/govtool/utils/backend-version
  scripts/govtool/utils/frontend-version
Owners: @MSzalowski, @jankun4, @kickloop, @Sworzen1, @JanJaroszczak, @Ryun1

[#385] Simplify GitHub Actions deployment workflow
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Remove unused fake DB sync configurations from deployment setup
  .github/workflows/build-and-deploy.yml
  scripts/govtool/config/templates/backend-config.json.tpl
Owners: @placek, @adgud, @kickloop, @Ryun1

Update CHANGELOG.md with Docker tagging policy and Makefile reorganisation
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#385] Unify placeholder usage in configuration templates
  scripts/govtool/config.mk
  scripts/govtool/config/templates/backend-config.json.tpl
  scripts/govtool/config/templates/grafana-provisioning/alerting/alerting.yml
Owners: @Ryun1, @kickloop

[#358] delete console.log
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#358] [#359] [#151] choose GA type/ abadoning registration and creation modals
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/ActionRadio.tsx
  govtool/frontend/src/components/molecules/BackToButton.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/BgCard.tsx
  govtool/frontend/src/components/organisms/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepOne.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/governanceActionTypes.ts
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/hooks/forms/index.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add to changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#358] delete console.log
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#360] [#110] add to changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#360] [#110] add textarea atom/ form for GAs
  govtool/frontend/src/components/atoms/FormHelpfulText.tsx
  govtool/frontend/src/components/atoms/InfoText.tsx
  govtool/frontend/src/components/atoms/Input.tsx
  govtool/frontend/src/components/atoms/TextArea.tsx
  govtool/frontend/src/components/atoms/index.ts
  govtool/frontend/src/components/atoms/types.ts
  govtool/frontend/src/components/molecules/Field/Input.tsx
  govtool/frontend/src/components/molecules/Field/TextArea.tsx
  govtool/frontend/src/components/molecules/Field/index.tsx
  govtool/frontend/src/components/molecules/Field/types.ts
  govtool/frontend/src/components/organisms/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/ControlledField/Input.tsx
  govtool/frontend/src/components/organisms/ControlledField/TextArea.tsx
  govtool/frontend/src/components/organisms/ControlledField/index.tsx
  govtool/frontend/src/components/organisms/ControlledField/types.ts
  govtool/frontend/src/components/organisms/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/governanceActionTypes.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#360] [#110] add to changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#360] [#110] add textarea atom/ form for GAs
  govtool/frontend/src/components/atoms/FormHelpfulText.tsx
  govtool/frontend/src/components/atoms/InfoText.tsx
  govtool/frontend/src/components/atoms/Input.tsx
  govtool/frontend/src/components/atoms/TextArea.tsx
  govtool/frontend/src/components/atoms/index.ts
  govtool/frontend/src/components/atoms/types.ts
  govtool/frontend/src/components/molecules/Field/Input.tsx
  govtool/frontend/src/components/molecules/Field/TextArea.tsx
  govtool/frontend/src/components/molecules/Field/index.tsx
  govtool/frontend/src/components/molecules/Field/types.ts
  govtool/frontend/src/components/organisms/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/ControlledField/Input.tsx
  govtool/frontend/src/components/organisms/ControlledField/TextArea.tsx
  govtool/frontend/src/components/organisms/ControlledField/index.tsx
  govtool/frontend/src/components/organisms/ControlledField/types.ts
  govtool/frontend/src/components/organisms/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/governanceActionTypes.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#379] create the propose a governance action card
  govtool/frontend/public/images/ProposeGovAction.png
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/ScrollToManage.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionsToVote.tsx
  govtool/frontend/src/components/organisms/HomeCards.tsx
  govtool/frontend/src/components/organisms/Slider.tsx
  govtool/frontend/src/consts/images.ts
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/hooks/forms/useVoteActionForm.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/pages/DashboardGovernanceActionsCategory.tsx
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/pages/GovernanceActions.tsx
  govtool/frontend/src/pages/GovernanceActionsCategory.tsx
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#379] create the propose a governance action card
  govtool/frontend/public/images/ProposeGovAction.png
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/ScrollToManage.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionsToVote.tsx
  govtool/frontend/src/components/organisms/HomeCards.tsx
  govtool/frontend/src/components/organisms/Slider.tsx
  govtool/frontend/src/consts/images.ts
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/hooks/forms/useVoteActionForm.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/pages/DashboardGovernanceActionsCategory.tsx
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/pages/GovernanceActions.tsx
  govtool/frontend/src/pages/GovernanceActionsCategory.tsx
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#382] add create governance action information screen
  govtool/frontend/src/components/organisms/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/WhatGovernanceActionIsAbout.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#382] add create governance action information screen
  govtool/frontend/src/components/organisms/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/WhatGovernanceActionIsAbout.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

change cancel to back/ fix card layout
  govtool/frontend/src/components/organisms/BgCard.tsx
  govtool/frontend/src/components/organisms/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/WhatGovernanceActionIsAbout.tsx
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#362] add review submission page
  CHANGELOG.md
  govtool/frontend/public/icons/Link.svg
  govtool/frontend/src/components/molecules/BackToButton.tsx
  govtool/frontend/src/components/molecules/LinkWithIcon.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/ReviewCreatedGovernanceAction.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/governanceActionTypes.ts
  govtool/frontend/src/consts/icons.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
  govtool/frontend/src/pages/RegisterAsdRep.tsx
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

Optimized Docker Compose execution in deployment script
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

Added Grafana provisioning reload target to utility makefile
  .github/workflows/build-and-deploy.yml
  scripts/govtool/utils.mk
Owners: @placek, @adgud, @kickloop, @Ryun1

Streamlined domain configuration in CI/CD workflow
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

Restored missing deployment step for conditional infrastructure reset
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop

[#361] Integrated Loki and Promtail into Deployment Stack
  scripts/govtool/config.mk
  scripts/govtool/config/templates/docker-compose.yml.tpl
  scripts/govtool/config/templates/grafana-provisioning/datasources/datasource.yml
  scripts/govtool/config/templates/loki.yml
  scripts/govtool/config/templates/promtail.yml
Owners: @Ryun1, @kickloop

[#361] Initialized deployment log in EC2 user data script
  infra/terraform/modules/govtool-ec2/user_data.sh
Owners: @Ryun1, @kickloop

[#361] Implement deployment traceability and streamline notification process
  scripts/govtool/Makefile
  scripts/govtool/info.mk
Owners: @Ryun1, @kickloop

[#361] Integrate Loki panel for deployment log visualization in Grafana
  scripts/govtool/config/templates/grafana-provisioning/dashboards/govtool.json
Owners: @Ryun1, @kickloop

[#361] Implement deployment traceability and streamline notification process
  scripts/govtool/Makefile
  scripts/govtool/info.mk
Owners: @Ryun1, @kickloop

Streamlined domain configuration in CI/CD workflow
  .github/workflows/build-and-deploy.yml
Owners: @placek, @adgud, @kickloop
