Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

add condition for deployment
  .github/workflows/merge.yaml
Owners: @placek, @adgud

feat(#1601): add support for protocol parameter change governance action
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Proposal.hs
  govtool/backend/src/VVA/Types.hs
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/services/requests/getProposal.ts
  govtool/frontend/src/services/requests/getProposals.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/replaceNullValues.ts
  govtool/frontend/yarn.lock
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: fix ts errors
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/stories/GovernanceAction.stories.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/src/stories/GovernanceActionVoted.stories.ts
  govtool/frontend/src/utils/tests/removeDuplicatedProposals.test.ts
Owners: @MSzalowski, @jdyczka

chore: force frontend packages installation
  .github/workflows/code_check_frontend.yml
  .github/workflows/frontend_sonar_scan.yml
  .github/workflows/test_integration_playwright.yml
  .github/workflows/test_storybook.yml
  govtool/frontend/Dockerfile
  govtool/frontend/Dockerfile.qovery
  govtool/frontend/README.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/storybook.Dockerfile
  govtool/frontend/yarn.lock
Owners: @placek, @adgud, @MSzalowski, @jdyczka

[#1702][#1708] Add warning banners for network name and bootstrapping phase
  CHANGELOG.md
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/organisms/TopBanners.tsx
  govtool/frontend/src/components/organisms/TopNav.tsx
  govtool/frontend/src/context/appContext.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/pages/GovernanceActions.tsx
  govtool/frontend/src/pages/GovernanceActionsCategory.tsx
  govtool/frontend/src/pages/Home.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

Add governance script support for gov action loader
  gov-action-loader/backend/app/data/gov-script.plutus
  gov-action-loader/backend/app/main.py
  gov-action-loader/backend/app/transaction.py
  gov-action-loader/frontend/src/views/SpecificLoad.vue
Owners: @Ryun1, @MSzalowski

feat(#1704): show cc committee and spo total gov action votes
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardVotes.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump @intersect.mbo/pdf-ui to v0.3.6
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

feat(#1600): add support for hard fork initiation governance action details
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @MSzalowski

feat(#1600): add support for previous governance action data
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Types.hs
Owners: @Ryun1, @MSzalowski

[#1600] display hard fork initiation governance action details
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/stories/GovernanceAction.stories.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/src/stories/GovernanceActionVoted.stories.ts
  govtool/frontend/src/utils/tests/removeDuplicatedProposals.test.ts
Owners: @MSzalowski, @jdyczka

chore: adjust copy for cc votes
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @jdyczka

chore: add mainnet govtool domain to bug issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @Ryun1, @MSzalowski

docs: fix broken link in base readme
  README.md
Owners: @Ryun1, @MSzalowski

chore: add mainnet govtool domain to bug issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @Ryun1, @MSzalowski

chore: bump @intersect.mbo/pdf-ui to v0.3.7
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: adjust copy for cc votes
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @jdyczka

fix: add missing CIP-119 doNotList to metadata-validation
  govtool/metadata-validation/src/schemas/cipStandardSchema.test.ts
  govtool/metadata-validation/src/schemas/cipStandardSchema.ts
  govtool/metadata-validation/src/utils/parseMetadata.ts
Owners: @MSzalowski, @jdyczka

feat: cip-119 support on haskell backend
  CHANGELOG.md
  govtool/backend/sql/get-drep-info.sql
  govtool/backend/sql/list-dreps.sql
  govtool/backend/sql/list-proposals-my.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
Owners: @Ryun1, @MSzalowski

feat: cip-119 support on metadata-validation service
  govtool/backend/sql/list-proposals-my.sql
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/yarn.lock
  govtool/metadata-validation/src/app.service.test.ts
  govtool/metadata-validation/src/schemas/cipStandardSchema.test.ts
  govtool/metadata-validation/src/schemas/cipStandardSchema.ts
  govtool/metadata-validation/src/types/validateMetadata.ts
  govtool/metadata-validation/src/utils/parseMetadata.ts
  govtool/metadata-validation/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

chore(#1699): remove unneeded wallet related sentry reports
  CHANGELOG.md
  govtool/frontend/src/context/wallet.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1801] refactor passing props to GA details, fix ts problems
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardVotes.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/components/organisms/GovernanceActionsToVote.tsx
  govtool/frontend/src/hooks/queries/useGetProposalQuery.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/DashboardGovernanceActionsCategory.tsx
  govtool/frontend/src/pages/GovernanceActionDetails.tsx
  govtool/frontend/src/pages/GovernanceActionsCategory.tsx
  govtool/frontend/src/stories/GovernanceAction.stories.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/src/stories/GovernanceActionVoted.stories.ts
  govtool/frontend/src/utils/getGovActionId.ts
  govtool/frontend/src/utils/tests/removeDuplicatedProposals.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1600] hide hadfork initiation details outside details tab
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
Owners: @MSzalowski, @jdyczka

switch to tar images
  .github/workflows/merge.yaml
  .github/workflows/pr.yaml
Owners: @placek, @adgud

trigger
  .github/workflows/pr.yaml
Owners: @placek, @adgud

chore(#1809): bump infra to use cardano-db-sync@13.3.0.0
  CHANGELOG.md
  govtool/frontend/src/context/wallet.tsx
  scripts/govtool/Makefile
  scripts/govtool/custom-cardano-db-sync.Dockerfile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1774): fix & update gitbook links
  CHANGELOG.md
  govtool/frontend/src/components/molecules/DataMissingInfoBox.tsx
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DirectVoterDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ListGovActionsDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ProposeGovActionDashboardCard.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStoreDataInfo.tsx
  govtool/frontend/src/components/organisms/Footer.tsx
  govtool/frontend/src/components/organisms/HomeCards.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStoreDataInfo.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RolesAndResponsibilities.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextTerms.tsx
  govtool/frontend/src/consts/navItems.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1733): fix accessing drep deposit from possibly empty epoch params
  CHANGELOG.md
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RolesAndResponsibilities.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/pages/RegisterAsDirectVoter.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1733): fix reading property `trim` of nullish label
  CHANGELOG.md
  govtool/frontend/src/utils/testIdFromLabel.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1760] add CIP-119 support on frontend
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DelegateDashboardCard.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepForm.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RegisterAsDRepForm.tsx
  govtool/frontend/src/consts/dRepActions/fields.ts
  govtool/frontend/src/consts/dRepActions/jsonContext.ts
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/models/metadataValidation.ts
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/utils/generateMetadataBody.ts
  govtool/frontend/src/utils/isValidFormat.ts
  govtool/frontend/src/utils/mapDtoToDrep.ts
  govtool/frontend/src/utils/tests/dRep.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: fix backend build providing postgresql@14 in be base Dockerile
  govtool/backend/Dockerfile.base
Owners: @MSzalowski, @jankun4

fix: fix storybook tests
  govtool/frontend/src/stories/Footer.stories.ts
  govtool/frontend/src/stories/GovernanceAction.stories.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/src/stories/GovernanceActionVoted.stories.ts
  govtool/frontend/src/stories/modals/StatusWithLink.stories.tsx
  govtool/frontend/src/stories/modals/VotingPowerModal.stories.tsx
Owners: @MSzalowski, @jdyczka

feat: HF, PPC and guardrails script support for Governance Action builders
  CHANGELOG.md
  docs/GOVERNANCE_ACTION_SUBMISSION.md
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/setProtocolParameterUpdate.ts
  govtool/frontend/src/utils/tests/setProtocolParameterUpdate.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool to v1.0.14
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
  govtool/metadata-validation/yarn.lock
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix: backend checks
  .pre-commit-config.yaml
Owners: @Ryun1, @MSzalowski

fix: fix payment address validation
  govtool/frontend/src/consts/dRepActions/fields.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/utils/isValidFormat.ts
Owners: @MSzalowski, @jdyczka

ci: reduce dockle clutter & remove commented step
  .github/workflows/merge.yaml
  .github/workflows/pr.yaml
Owners: @placek, @adgud

fix: update storing information links
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextStoringInformation.tsx
Owners: @MSzalowski, @jdyczka

fail fast disable
  .github/workflows/merge.yaml
  .github/workflows/pr.yaml
Owners: @placek, @adgud

Update Proposal to include cc, pool and dRep votes
  tests/govtool-backend/models/TestData.py
Owners: @Ryun1, @MSzalowski
