Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

remove explicit transaction outputs
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @jdyczka

[#2002] add Mainnet link to network banner
  CHANGELOG.md
  govtool/frontend/src/components/organisms/TopBanners.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: add generate exact length text utils
  tests/govtool-frontend/playwright/lib/_mock/index.ts
  tests/govtool-frontend/playwright/lib/helpers/string.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

fix csl errors
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @jdyczka

Bump Cardano DB Sync to 13.5.0.2
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/custom-cardano-db-sync.Dockerfile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

[#2013] randomize DRep list
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/vva-be.cabal
Owners: @Ryun1, @MSzalowski, @jankun4

fix: test 2F due to multiple dRep card of delegated dRep
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
Owners: @MSzalowski, @jdyczka

update changelog
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

update private policy link to use Intersect one
  govtool/frontend/src/components/organisms/Footer.tsx
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
Owners: @MSzalowski, @jdyczka

fix: invalid proposal character issue by specifing the max character
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
Owners: @MSzalowski, @jdyczka

chore: bump GovTool version to v1.0.19
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

update changelog
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

update support link
  govtool/frontend/src/components/organisms/DrawerMobile.tsx
  govtool/frontend/src/components/organisms/Footer.tsx
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
Owners: @MSzalowski, @jdyczka

[#2013] prepare FE for randomized DRep list
  govtool/frontend/src/components/molecules/DataActionsBar.tsx
  govtool/frontend/src/components/molecules/OrderActionsChip.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/consts/dRepDirectory/sorting.ts
  govtool/frontend/src/context/dataActionsBar.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/stories/ActionsBar.stories.ts
Owners: @MSzalowski, @jdyczka

chore: bump frontend to use CSL 12.1.0
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

fix: incorrect test id assertion in test 2A and add card assertion
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
Owners: @MSzalowski, @jdyczka

chore: replace file path with read wallets for registerDRep and registeredDRep copy file
  tests/govtool-frontend/playwright/lib/walletManager.ts
  tests/govtool-frontend/playwright/tests/dRep.teardown.ts
Owners: @MSzalowski, @jdyczka

feat: add teardown to refund remaining balance to faucet
  tests/govtool-frontend/playwright/lib/constants/environments.ts
  tests/govtool-frontend/playwright/playwright.config.ts
  tests/govtool-frontend/playwright/tests/faucet.teardown.ts
Owners: @MSzalowski, @jdyczka

chore: remove copy register drep wallet used for direct voter
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
Owners: @MSzalowski, @jdyczka

chore: remove copy registered DRep wallet for dRep retirement
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add multiple dRepDeRegistration on kuber service
  tests/govtool-frontend/playwright/lib/services/kuberService.ts
Owners: @MSzalowski, @jdyczka

feat: add dRep deRegestration teardown
  tests/govtool-frontend/playwright/lib/walletManager.ts
  tests/govtool-frontend/playwright/playwright.config.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/dRep.setup.ts
  tests/govtool-frontend/playwright/tests/dRep.teardown.ts
Owners: @MSzalowski, @jdyczka

[#1856] add off chain data error to listDreps response
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
Owners: @Ryun1, @MSzalowski

chore: update temporary proposal wallets message
  tests/govtool-frontend/playwright/tests/governance-action.setup.ts
Owners: @MSzalowski, @jdyczka

chore: update delegation doc url
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
Owners: @MSzalowski, @jdyczka

chore: add assertion to wait for governance actions loaded
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

[#1875] add missing testIds for submitted votes
  CHANGELOG.md
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

[#2062] change CC vote totals labels
  CHANGELOG.md
  govtool/frontend/junit-report.xml
  govtool/frontend/src/components/atoms/VotePill.test.tsx
  govtool/frontend/src/components/atoms/VotePill.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/src/stories/VotePill.stories.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: intercept epoch/params instead of using local storage to update protocol parameter version
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add test ids for dRep, spos and ccCommittee votes
  tests/govtool-frontend/playwright/lib/pages/governanceActionDetailsPage.ts
Owners: @MSzalowski, @jdyczka

chore: add assertion for dRep, spos and ccCommittes votes visiblity
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

fix: test 4G by update test ids and its assertion
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

fix: test 4K by update test ids and its assertion
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
Owners: @MSzalowski, @jdyczka

chore/test: Remove auto system prune on build
  .github/workflows/build-and-deploy-test-stack.yml
Owners: @placek, @adgud

fix: test 2k_2 due to status
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
Owners: @MSzalowski, @jdyczka

test: add test 2k_3 to check random dRep sorting behaviour
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
Owners: @MSzalowski, @jdyczka

refactor: arrow functions of status sort and validate to remove redundant return statements
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
Owners: @MSzalowski, @jdyczka

Fail build when any of the service update fail
  .github/workflows/build-and-deploy-test-stack.yml
Owners: @placek, @adgud

fix: update network name assertion in test 6T to improve accuracy
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.spec.ts
Owners: @MSzalowski, @jdyczka

chore: gov-action-loader minor ui fixes
  gov-action-loader/frontend/src/views/SpecificLoad.vue
Owners: @Ryun1, @MSzalowski

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose
