Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

Update govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
Owners: @MSzalowski, @jdyczka

feat: add skipIfMainnet helper function to conditionally skip tests on mainnet
  tests/govtool-frontend/playwright/lib/helpers/cardano.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegationFunctionality.delegation.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.ga.spec.ts
  tests/govtool-frontend/playwright/tests/dRep.setup.ts
  tests/govtool-frontend/playwright/tests/dRep.teardown.ts
  tests/govtool-frontend/playwright/tests/delegation.teardown.ts
  tests/govtool-frontend/playwright/tests/faucet.setup.ts
  tests/govtool-frontend/playwright/tests/faucet.teardown.ts
  tests/govtool-frontend/playwright/tests/wallet.bootstrap.ts
Owners: @MSzalowski, @jdyczka

refactor: add cleanup logic for test-created proposals
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

fix: remove unnecessary mainnet dummy dRep id
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
Owners: @MSzalowski, @jdyczka

chore: show total dRep votes for all governance actions on full governance
  tests/govtool-frontend/playwright/lib/helpers/featureFlag.ts
Owners: @MSzalowski, @jdyczka

cleanup: remove unnecessary viewFirstDRepVoteEnabledGovernanceAction
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
Owners: @MSzalowski, @jdyczka

chore: remove restrictions and check on all governance actions for dRep
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: replace viewFirstDRepVoteEnabledGovAction with viewFirstGovAction
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

Update govtool/frontend/src/components/molecules/GovernanceActionNewConstitutionDetailsTabContent.tsx
  govtool/frontend/src/components/molecules/GovernanceActionNewConstitutionDetailsTabContent.tsx
Owners: @MSzalowski, @jdyczka

Update CHANGELOG.md
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

fix(#2571): add support for searching by cip-129 identifiers
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
  govtool/frontend/src/components/molecules/GovernanceActionNewCommitteeDetailsTabContent.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/services/requests/getDRepList.ts
  govtool/frontend/src/services/requests/getProposals.ts
  govtool/metadata-validation/package-lock.json
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: optimize the db connection and drep list sql
  govtool/backend/app/Main.hs
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @MSzalowski

fix(#2460): fix calculating live voting power
  CHANGELOG.md
  govtool/backend/sql/get-voting-power.sql
Owners: @Ryun1, @MSzalowski

fix: increase heap memory limit
  govtool/frontend/Dockerfile
  govtool/frontend/Dockerfile.qovery
Owners: @MSzalowski, @jdyczka

fix(#2403): fix DRep link and description validation
  CHANGELOG.md
  govtool/frontend/src/components/molecules/DRepDataForm.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepForm.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RegisterAsDRepForm.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: count rewards with drep voting power
  CHANGELOG.md
  govtool/backend/sql/get-stake-key-voting-power.sql
  govtool/backend/sql/get-voting-power.sql
Owners: @Ryun1, @MSzalowski

fix(#2509): fix nested @value in metadatas
  CHANGELOG.md
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/context/featureFlag.tsx
  govtool/frontend/src/context/governanceAction.test.tsx
  govtool/frontend/src/context/governanceAction.tsx
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/hooks/forms/useVoteContextForm.tsx
  govtool/frontend/src/utils/generateJsonld.ts
  govtool/frontend/src/utils/generateMetadataBody.ts
  govtool/frontend/src/utils/tests/generateMetadataBody.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool to v2.0.3
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix: increase Node.js memory limit to 4GB in storybook dockerfile
  govtool/frontend/storybook.Dockerfile
Owners: @MSzalowski, @jdyczka

hotfix: fetching latest drep voting anchor
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
  govtool/frontend/src/services/requests/getDRepList.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

feat: enhance dRep metadata handling with image and language support
  tests/govtool-frontend/playwright/lib/_mock/index.ts
  tests/govtool-frontend/playwright/lib/helpers/dRep.ts
  tests/govtool-frontend/playwright/lib/helpers/metadata.ts
  tests/govtool-frontend/playwright/lib/types.ts
Owners: @MSzalowski, @jdyczka

Update deploy script
  .github/workflows/build-and-deploy-test-stack.yml
  tests/test-infrastructure/docker-compose-cardano.yml
  tests/test-infrastructure/docker-compose-govaction-loader.yml
  tests/test-infrastructure/docker-compose-govtool.yml
Owners: @placek, @adgud, @Ryun1, @MSzalowski

Test: Fix GOVTOOL_TAG env variable
  .github/workflows/build-and-deploy-test-stack.yml
Owners: @placek, @adgud

Test: Load .env file before build
  .github/workflows/build-and-deploy-test-stack.yml
  tests/test-infrastructure/build-and-deploy.sh
Owners: @placek, @adgud, @Ryun1, @MSzalowski

nix: fix garnix checks
  flake.nix
  govtool/frontend/.envrc
  govtool/frontend/README.md
  govtool/frontend/default.nix
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

Update govtool/frontend/src/utils/drepSearchPhraseProcessor.ts
  govtool/frontend/src/utils/drepSearchPhraseProcessor.ts
Owners: @MSzalowski, @jdyczka

fix(#2583): fix encoding and decoding cip-129 drep_script identifiers
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
  govtool/frontend/src/services/requests/getDRepList.ts
  govtool/frontend/src/utils/drepSearchPhraseProcessor.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/isValidFormat.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: fix failed storybook footer test
  govtool/frontend/src/components/organisms/Footer.tsx
  govtool/frontend/src/i18n/locales/en.json
Owners: @MSzalowski, @jdyczka, @Ryun1

fix(#2535): fix bad request on ga list
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/context/dataActionsBar.tsx
  govtool/frontend/src/hooks/queries/useGetProposalsQuery.ts
  govtool/frontend/src/services/requests/getProposals.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore(#2600): reduce CSL version to 12.1.1
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/patches/@emurgo+cardano-serialization-lib-asmjs+12.1.1.patch
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2535): fix bad request on ga list
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/context/dataActionsBar.tsx
  govtool/frontend/src/hooks/queries/useGetProposalsQuery.ts
  govtool/frontend/src/services/requests/getProposals.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: wrong drep activity conditions
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @MSzalowski

fix: fetching metadata from ipfs.io gateway
  CHANGELOG.md
  govtool/metadata-validation/src/app.service.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

nix: fix garnix checks
  flake.nix
  govtool/frontend/.envrc
  govtool/frontend/default.nix
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool to v2.0.4
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

feat: add DRep conversion functions to CIP129
  tests/govtool-frontend/playwright/lib/helpers/dRep.ts
Owners: @MSzalowski, @jdyczka

feat: update test to check both CIP129 and CIP105 dRep
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
Owners: @MSzalowski, @jdyczka

fix: search govAction by id instead of title
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

refactor: remove debug console logs from DRepDirectoryPage
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
Owners: @MSzalowski, @jdyczka

feat: convert dRep according to script base
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
  tests/govtool-frontend/playwright/lib/types.ts
Owners: @MSzalowski, @jdyczka
