Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

feat(#2391): display supporing links in columns
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardLinks.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2332): fix inconsistend display of pending delegation DRep card
  CHANGELOG.md
  govtool/frontend/src/hooks/index.ts
  govtool/frontend/src/hooks/usePrevious.test.ts
  govtool/frontend/src/hooks/usePrevious.ts
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: assert dRep ID card display before view button click
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

test: add ability to search dReps by name
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.drep.spec.ts
Owners: @MSzalowski, @jdyczka

fix: fix ada holder voting power calculation
  CHANGELOG.md
  govtool/backend/sql/get-stake-key-voting-power.sql
Owners: @Ryun1, @MSzalowski

feat: extend IPFS url regex
  govtool/frontend/src/utils/isValidFormat.ts
Owners: @MSzalowski, @jdyczka

chore: add epoch params and fullgovernance DRep vote action type
  tests/govtool-frontend/playwright/lib/types.ts
Owners: @MSzalowski, @jdyczka

chore: add feature flag for vote totals display
  tests/govtool-frontend/playwright/lib/constants/index.ts
  tests/govtool-frontend/playwright/lib/helpers/featureFlag.ts
Owners: @MSzalowski, @jdyczka

test: update Vote visibility of govAction for registered dRep.
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: remove minimum ada format
  tests/govtool-frontend/playwright/lib/helpers/adaFormat.ts
Owners: @MSzalowski, @jdyczka

test: update vote visibility of govAction for disconnect state
  tests/govtool-frontend/playwright/lib/constants/index.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add function to encode CIP 129 identifier
  tests/govtool-frontend/playwright/lib/helpers/cborEncodeDecode.ts
  tests/govtool-frontend/playwright/lib/helpers/computeTxHash.ts
  tests/govtool-frontend/playwright/lib/helpers/encodeDecode.ts
  tests/govtool-frontend/playwright/lib/services/kuberService.ts
Owners: @MSzalowski, @jdyczka

test: assert CIP129 and govActionId on details page
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

feat(#2010): add more DRep metrics to network metrics endpoint
  CHANGELOG.md
  govtool/backend/sql/get-network-metrics.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Network.hs
  govtool/backend/src/VVA/Types.hs
  govtool/frontend/src/models/api.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: fix wrong status of past DRep information
  CHANGELOG.md
  govtool/backend/sql/get-drep-info.sql
Owners: @Ryun1, @MSzalowski

chore(#2292): change link to support page
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DrawerMobile.tsx
  govtool/frontend/src/components/organisms/Footer.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump pdf-ui to v0.5.0
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @jdyczka

chore: remove governance-action-setup dependencies form playwright project
  tests/govtool-frontend/playwright/playwright.config.ts
Owners: @MSzalowski, @jdyczka

chore: add proposal submission static wallet
  tests/govtool-frontend/playwright/lib/_mock/proposalSubmissionWallet.json
  tests/govtool-frontend/playwright/lib/constants/staticWallets.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: use proposal static wallet to submit governance action
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.ga.spec.ts
Owners: @MSzalowski, @jdyczka

fix: wrong dRep hash on dRep register
  tests/govtool-frontend/playwright/lib/helpers/metadata.ts
Owners: @MSzalowski, @jdyczka

chore: bump GovTool to v1.0.28
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

chore: bump NodeJS to v20 LTS
  govtool/frontend/.nvmrc
  govtool/frontend/Dockerfile
  govtool/frontend/Dockerfile.qovery
  govtool/frontend/Dockerfile.qovey
Owners: @MSzalowski, @jdyczka

chore: remove duplicated Dockerfile
  govtool/frontend/Dockerfile.qovey
Owners: @MSzalowski, @jdyczka

clenup: remove unused governance action setup
  tests/govtool-frontend/playwright/tests/governance-action.setup.ts
Owners: @MSzalowski, @jdyczka

fix(#2407): fix fetching voting power for newly registered DRep
  CHANGELOG.md
  govtool/backend/sql/get-voting-power.sql
Owners: @Ryun1, @MSzalowski

chore: remove proposalSubmission faucet wallet json file
  tests/govtool-frontend/playwright/lib/_mock/proposalSubmissionWallet.json
  tests/govtool-frontend/playwright/lib/constants/staticWallets.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: retrieve proposal faucet wallet keys from environment variables
  .github/workflows/test_integration_playwright.yml
  tests/govtool-frontend/playwright/.env.example
  tests/govtool-frontend/playwright/lib/constants/environments.ts
  tests/govtool-frontend/playwright/lib/constants/proposalFaucetWallet.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.ga.spec.ts
Owners: @placek, @adgud, @Ryun1, @MSzalowski, @jdyczka

chore: remove unneded unregistered stake key addresses warning
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @jdyczka

chore: reorder exports of pages
  govtool/frontend/src/pages/index.ts
Owners: @MSzalowski, @jdyczka

remove default value
  govtool/frontend/Dockerfile.qovery
Owners: @MSzalowski, @jdyczka

fix(#1713): fix inconsistent voting status
  CHANGELOG.md
  govtool/backend/sql/get-network-metrics.sql
  govtool/backend/sql/get-transaction-status.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/Transaction.hs
  govtool/backend/src/VVA/Types.hs
  govtool/frontend/package-lock.json
  govtool/frontend/src/context/pendingTransaction/usePendingTransaction.ts
  govtool/frontend/src/context/pendingTransaction/utils.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/services/requests/getTransactionStatus.ts
  govtool/frontend/tsconfig.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

feat: enable sentry init only when the enable flag is set
  govtool/frontend/.env.example
  govtool/frontend/Dockerfile.qovery
  govtool/frontend/src/main.tsx
Owners: @MSzalowski, @jdyczka

chore: add missing sentryenv on backend config
  tests/test-infrastructure/configs_template/backend_config.json
Owners: @Ryun1, @MSzalowski

chore: Update docs URLs to reflect recent changes in the docs
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
  tests/govtool-frontend/playwright/lib/constants/environments.ts
Owners: @MSzalowski, @jdyczka

feat: add blockfrost service to submit transaction
  tests/govtool-frontend/playwright/.env.example
  tests/govtool-frontend/playwright/lib/constants/environments.ts
  tests/govtool-frontend/playwright/lib/services/blockfrostService.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: sign transaction with Kuber and submit via Blockfrost
  tests/govtool-frontend/playwright/lib/services/kuberService.ts
Owners: @MSzalowski, @jdyczka

chore: add blockfrost api key on workflow env
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

chore: bump @intersect.mbo/pdf-ui to v0.5.2
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @jdyczka

chore: use blockfrost apiUrl from env
  tests/govtool-frontend/playwright/lib/constants/environments.ts
  tests/govtool-frontend/playwright/lib/services/blockfrostService.ts
Owners: @MSzalowski, @jdyczka
