Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

fix: limit drep-info to one row only
  govtool/backend/sql/get-drep-info.sql
  govtool/backend/src/VVA/API/Types.hs
Owners: @Ryun1, @MSzalowski

fix: add missing select on stake key addr id
  govtool/backend/sql/get-stake-key-voting-power.sql
Owners: @Ryun1, @MSzalowski

fix(#2671): searching for drep off_chain data
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @MSzalowski

feat(#2686): add share button to every DRep
  CHANGELOG.md
  govtool/frontend/src/components/molecules/DataMissingHeader.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCardHeader.tsx
Owners: @Ryun1, @MSzalowski

chore(#2681): remove logging to sentry on failed drep registration tx
  CHANGELOG.md
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
Owners: @Ryun1, @MSzalowski

chore(#2682): remove logging to sentry on failed delegation
  CHANGELOG.md
  govtool/frontend/src/hooks/useDelegateToDrep.ts
Owners: @Ryun1, @MSzalowski

fix(#2408): fix blank screen on registering as a DRep
  CHANGELOG.md
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/WhatRetirementMeans.tsx
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/hooks/forms/useVoteActionForm.tsx
  govtool/frontend/src/hooks/useDelegateToDrep.ts
  govtool/frontend/src/pages/RegisterAsDirectVoter.tsx
  govtool/frontend/src/pages/RetireAsDirectVoter.tsx
Owners: @Ryun1, @MSzalowski

feat(#2178): show metadata anchor in governance action details
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
Owners: @Ryun1, @MSzalowski

fix(#2676): handle unexpected drep-info query result
  CHANGELOG.md
  govtool/backend/src/VVA/DRep.hs
Owners: @Ryun1, @MSzalowski

chore: bump GovTool to v2.0.8
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4

hotfix: 500 on ada-holder/stake key voting power
  govtool/backend/sql/get-stake-key-voting-power.sql
Owners: @Ryun1, @MSzalowski

hotfix: handle type mismatch between haskell and sql result
  CHANGELOG.md
  govtool/backend/app/Main.hs
  govtool/backend/sql/get-stake-key-voting-power.sql
  govtool/backend/src/VVA/AdaHolder.hs
Owners: @Ryun1, @MSzalowski

change: copy for governance action details
  govtool/frontend/src/components/molecules/GovernanceActionNewConstitutionDetailsTabContent.tsx
  govtool/frontend/src/i18n/locales/en.json
Owners: @MSzalowski, @Ryun1

change: order of new constitution detials element
  govtool/frontend/src/components/molecules/GovernanceActionNewConstitutionDetailsTabContent.tsx
Owners: @MSzalowski

docs: update changelog
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

change: new constitution link has a link button
  govtool/frontend/src/components/molecules/GovernanceActionNewConstitutionDetailsTabContent.tsx
Owners: @MSzalowski

feat: improve naming conventions for API service actions and simulation scenarios
  tests/load-testing/src/test/java/org/cardano/govtool/ApiService.java
  tests/load-testing/src/test/java/org/cardano/govtool/feeders/PageVisits.java
  tests/load-testing/src/test/java/org/cardano/govtool/simulations/VvaSimulation.java
Owners: @Ryun1, @MSzalowski

fix(#2711): fix opening ipfs links
  CHANGELOG.md
  govtool/frontend/src/utils/openInNewTab.ts
Owners: @Ryun1, @MSzalowski

fix: fetching latest voting anchor images
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @MSzalowski

chore: bump GovTool to v2.0.9
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4

fix: change env source to meta instead of process
  govtool/frontend/src/utils/mapDtoToDrep.ts
  govtool/frontend/src/utils/openInNewTab.ts
Owners: @MSzalowski

chore: add missing ipfs secrets to workflows
  .github/workflows/merge.yaml
  .github/workflows/pr.yaml
Owners: @placek, @adgud

chore(#2757): add exception handle on voting power query execution
  CHANGELOG.md
  govtool/backend/src/VVA/AdaHolder.hs
Owners: @Ryun1, @MSzalowski

chore: add missing ipfs envs for validation service
  .github/workflows/merge.yaml
  .github/workflows/pr.yaml
Owners: @placek, @adgud

chore: lint format
  govtool/metadata-validation/src/utils/parseMetadata.ts
Owners: @MSzalowski

chore: update integration workflow to include new network options and adjust API key handling
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

chore: update backend test workflow to include new preview/mainnet deployment options and network selection
  .github/workflows/test_backend.yml
Owners: @placek, @adgud

chore: remove unecessary https on deployment options
  .github/workflows/test_backend.yml
Owners: @placek, @adgud

chore: add dev api options on backend test deployment
  .github/workflows/test_backend.yml
  tests/govtool-backend/config.py
Owners: @placek, @adgud, @Ryun1, @MSzalowski

chore: update network input handling in integration test workflow
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

fix(#2778): exception when there is no voting power for given stake key
  govtool/backend/src/VVA/AdaHolder.hs
Owners: @Ryun1, @MSzalowski

chore: increase concurrent connections
  govtool/backend/app/Main.hs
Owners: @Ryun1, @MSzalowski

chore: adjust connection pooling
  govtool/backend/app/Main.hs
Owners: @Ryun1, @MSzalowski

chore: bump @intersect.mbo/pdf-ui to v0.5.8
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @MSzalowski

chore: set ipfs environments inside dockerfile
  govtool/metadata-validation/Dockerfile
Owners: @Ryun1, @MSzalowski

chore: bump @intersect.mbo/pdf-uii to v0.5.10
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

feat(#2745): add script hash to new constitution governance action
  CHANGELOG.md
  govtool/backend/sql/list-proposals.sql
  govtool/frontend/src/components/molecules/DataMissingHeader.tsx
  govtool/frontend/src/components/molecules/GovernanceActionNewConstitutionDetailsTabContent.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/i18n/locales/en.json
Owners: @Ryun1, @MSzalowski

chore: bump @intersect.mbo/pdf-ui to v0.5.11
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

chore: bump GovTool to v2.0.10
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4

fix: displaying DReps whose doNotList is of type string
  CHANGELOG.md
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/parseBoolean.ts
  govtool/frontend/src/utils/tests/parseBoolean.test.ts
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski
*.tsx                                                                       @MSzalowski
*.ts                                                                        @MSzalowski
*.css                                                                       @MSzalowski

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose
