Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

[#291] Allow Sentry error reporting in CSP settings across environments
  scripts/govtool/docker-compose.beta.yml
  scripts/govtool/docker-compose.dev.yml
  scripts/govtool/docker-compose.staging.yml
  scripts/govtool/docker-compose.test.yml
Owners: @Ryun1, @kickloop

Updated CHANGELOG.md to include recent enhancements
  CHANGELOG.md
Owners: @Ryun1, @kickloop

Add environment-specific warning to .env.example for clarity and safety
  scripts/govtool/.env.example
Owners: @Ryun1, @kickloop

[#333] fix drep type detection
  CHANGELOG.md
  govtool/backend/sql/get-drep-info.sql
Owners: @Ryun1, @kickloop

[#239 #240 #338] DRep can become Sole Voter, Sole Voter can become DRep
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/RegisterAsSoleVoterBox.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/hooks/forms/useUpdatedRepMetadataForm.tsx
  govtool/frontend/src/hooks/queries/useGetDRepInfoQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#239 #240 #338] Fixes after CR
  govtool/frontend/src/App.tsx
  govtool/frontend/src/context/walletUtils.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/hooks/forms/useUpdatedRepMetadataForm.tsx
  govtool/frontend/src/hooks/queries/index.ts
  govtool/frontend/src/hooks/queries/useGetVoterInfoQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/services/requests/getVoterInfo.ts
  govtool/frontend/src/services/requests/index.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#152] change step 3 components
  CHANGELOG.md
  govtool/frontend/src/components/organisms/BgCard.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepThree.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/components/organisms/types.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/hooks/forms/useUrlAndHashFormController.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#152] improve form
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#152] fix inprogress copy
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#152] change continue on register/ reset store data agreement when back to previous step
  govtool/frontend/src/components/organisms/RegisterAsdRepStepThree.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#351] dashboard refactor
  govtool/frontend/index.html
  govtool/frontend/src/components/molecules/CenteredBoxPageWrapper.tsx
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/components/molecules/WalletInfoCard.tsx
  govtool/frontend/src/components/organisms/BgCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardDrawerMobile.tsx
  govtool/frontend/src/components/organisms/DashboardTopNav.tsx
  govtool/frontend/src/components/organisms/Drawer.tsx
  govtool/frontend/src/components/organisms/DrawerMobile.tsx
  govtool/frontend/src/components/organisms/GovernanceActionsToVote.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/components/organisms/types.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/pages/DelegateTodRep.tsx
  govtool/frontend/src/pages/RegisterAsdRep.tsx
  govtool/frontend/src/pages/UpdatedRepMetadata.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#350] change styles for home page RWD
  govtool/frontend/src/components/molecules/ActionCard.tsx
  govtool/frontend/src/components/organisms/DrawerMobile.tsx
  govtool/frontend/src/components/organisms/Hero.tsx
  govtool/frontend/src/components/organisms/HomeCards.tsx
  govtool/frontend/src/components/organisms/TopNav.tsx
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#350] delete curly braces
  govtool/frontend/src/components/organisms/Hero.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#351] add comment for part of code
  govtool/frontend/src/components/organisms/DashboardDrawerMobile.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#320] Optimized Docker image build and push process for frontend and backend
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

Refined deployment info to use commit variable for branch details
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

Refined Makefile for enhanced clarity and configuration management
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

Enhanced ENVs configuration examples for GovTool deployments
  scripts/govtool/.env.example
Owners: @Ryun1, @kickloop

Removed unused fake DB Sync configuration from deployment scripts
  scripts/govtool/prepare-config.sh
Owners: @Ryun1, @kickloop

Added README for GovTool Deployment Process
  README.md
  scripts/govtool/README.md
Owners: @Ryun1, @kickloop

Renamed Grafana Panels and Monitoring Rules for GovTool
  scripts/govtool/config/grafana-provisioning/alerting/alerting.yml
  scripts/govtool/config/grafana-provisioning/dashboards/govtool.json
Owners: @Ryun1, @kickloop

Enhanced ENVs configuration examples for GovTool deployments
  scripts/govtool/.env.example
Owners: @Ryun1, @kickloop

[#320] Implemented separate version tagging for frontend and backend deployments
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.beta.yml
  scripts/govtool/docker-compose.dev.yml
  scripts/govtool/docker-compose.staging.yml
  scripts/govtool/docker-compose.test.yml
Owners: @Ryun1, @kickloop

[#320] Introduced version tracking scripts for application components
  scripts/govtool/utils/backend-base-version
  scripts/govtool/utils/backend-version
  scripts/govtool/utils/frontend-version
Owners: @Ryun1, @kickloop

Removed unused fake DB Sync configuration from deployment scripts
  scripts/govtool/prepare-config.sh
Owners: @Ryun1, @kickloop

[#320] Centralized version control for Cardano Node and DB Sync
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.beta.yml
  scripts/govtool/docker-compose.dev.yml
  scripts/govtool/docker-compose.staging.yml
  scripts/govtool/docker-compose.test.yml
Owners: @Ryun1, @kickloop

Renamed Grafana Panels and Monitoring Rules for GovTool
  scripts/govtool/config/grafana-provisioning/alerting/alerting.yml
  scripts/govtool/config/grafana-provisioning/dashboards/govtool.json
Owners: @Ryun1, @kickloop

[#320] Optimized Docker image build and push process for frontend and backend
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

Refined deployment info to use commit variable for branch details
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

Refined Makefile for enhanced clarity and configuration management
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

Added README for GovTool Deployment Process
  README.md
  scripts/govtool/README.md
Owners: @Ryun1, @kickloop

[#320] Enhanced Slack deployment notifications with detailed version info
  .github/workflows/build-and-deploy.yml
  scripts/govtool/Makefile
Owners: @placek, @adgud, @kickloop, @Ryun1

Optimized verbosity in base backend image build and push checks
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

[#223] exted drep/list endpoint, and provide voting power
  CHANGELOG.md
  govtool/backend/sql/get-drep-info.sql
  govtool/backend/sql/list-dreps.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
Owners: @Ryun1, @kickloop

Refactor Makefile structure for enhanced modularity and deployment efficiency
  govtool/backend/Makefile
  govtool/frontend/Makefile
  scripts/govtool/Makefile
  scripts/govtool/README.md
  scripts/govtool/common.mk
  scripts/govtool/info.mk
  scripts/govtool/utils.mk
  scripts/govtool/utils/backend-base-version
  scripts/govtool/utils/backend-version
  scripts/govtool/utils/frontend-version
Owners: @MSzalowski, @jankun4, @kickloop, @Sworzen1, @JanJaroszczak, @Ryun1

[#358] [#359] [#151] choose GA type/ abadoning registration and creation modals
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/ActionRadio.tsx
  govtool/frontend/src/components/molecules/BackToButton.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/BgCard.tsx
  govtool/frontend/src/components/organisms/ChooseGovernanceActionType.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepOne.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/governanceActionTypes.ts
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/hooks/forms/index.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/CreateGovernanceAction.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add to changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

Integrate prepare-config script functionality into Makefile system
  govtool/frontend/Makefile
  scripts/govtool/Makefile
  scripts/govtool/common.mk
  scripts/govtool/config.mk
  scripts/govtool/config/secrets/backend-config.json
  scripts/govtool/config/secrets/postgres_db
  scripts/govtool/config/secrets/postgres_password
  scripts/govtool/config/secrets/postgres_user
  scripts/govtool/config/templates/backend-config.json.tpl
  scripts/govtool/config/templates/grafana-provisioning/alerting/alerting.yml
  scripts/govtool/config/templates/grafana-provisioning/dashboards/dashboard.yml
  scripts/govtool/config/templates/grafana-provisioning/dashboards/govtool.json
  scripts/govtool/config/templates/grafana-provisioning/dashboards/traefik_rev4.json
  scripts/govtool/config/templates/grafana-provisioning/datasources/datasource.yml
  scripts/govtool/config/templates/prometheus.yml
  scripts/govtool/info.mk
  scripts/govtool/prepare-config.sh
  scripts/govtool/utils.mk
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop, @Ryun1

[#317] do not list sole voters in drep/list endpoint
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @kickloop

[#317] do not list sole voters in drep/list endpoint
  CHANGELOG.md
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @kickloop

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @placek @adgud @kickloop
config/govtool/*                                                            @placek @adgud @kickloop
infra/terraform/*                                                           @placek @adgud @kickloop

# Testing
gov-action-loader/*                                                         @IntersectMBO/govtool-test @kickloop
tests/*                                                                     @IntersectMBO/govtool-test @kickloop
