Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

fix: test 3A by navigate to info proposal
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: update test ids of learn more button
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.spec.ts
Owners: @MSzalowski, @jdyczka

fix: tests failed due to update on submit and registre btn test ids
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

fix: test 3E_1 accept valid data of dRep from by updating field and assertion
  tests/govtool-frontend/playwright/lib/forms/dRepForm.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

fix: dRep name error text on white space
  tests/govtool-frontend/playwright/lib/forms/dRepForm.ts
Owners: @MSzalowski, @jdyczka

fix: test 3M_1 and 3M_2 validation of edit dRep
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: update in progress assertion with testid
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: update docs urls
  tests/govtool-frontend/playwright/lib/constants/docsUrl.ts
Owners: @MSzalowski, @jdyczka

fix: incorrectly formatted dRep registration
  tests/govtool-frontend/playwright/lib/_mock/index.ts
  tests/govtool-frontend/playwright/lib/helpers/metadata.ts
Owners: @MSzalowski, @jdyczka

fix: test 3D verification of dRep registration form by updating field
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

chore: extend timeout to load dRep list properly
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
Owners: @MSzalowski, @jdyczka

fix: usersnap failing test
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add ipfs link on valid url
  tests/govtool-frontend/playwright/lib/_mock/index.ts
Owners: @MSzalowski, @jdyczka

chore: update metedata anchor validation with valid url
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

Add multiple testnet feature
  .gitignore
  gov-action-loader/backend/.env.example
  gov-action-loader/backend/app/funds.py
  gov-action-loader/backend/app/guardrails/guardrails-sanchonet.plutus
  gov-action-loader/backend/app/main.py
  gov-action-loader/backend/app/models.py
  gov-action-loader/backend/app/network.py
  gov-action-loader/backend/app/settings.py
  gov-action-loader/backend/app/transaction.py
Owners: @Ryun1, @MSzalowski

FIx api network selection
  gov-action-loader/backend/app/network.py
Owners: @Ryun1, @MSzalowski

Add guardrail script input and remove mock database
  gov-action-loader/frontend/src/views/SpecificLoad.vue
Owners: @Ryun1, @MSzalowski

Add network header on api calls
  gov-action-loader/frontend/src/App.vue
  gov-action-loader/frontend/src/api.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

bump node.js version to v20
  govtool/frontend/.nvmrc
Owners: @MSzalowski, @jdyczka

chore(#1906): bump cardano-db-sync version to 13.5.0.1
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/custom-cardano-db-sync.Dockerfile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

chore(#1895): bump cardano-node version to 9.1.1
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

[#1850] extend DRep reference type
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/models/metadataValidation.ts
  govtool/frontend/src/stories/DRepDetailsCard.stories.ts
  govtool/frontend/src/types/global.d.ts
Owners: @MSzalowski, @jdyczka

[#1850] adjust DRep details to new designs
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCardHeader.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDetails.tsx
  govtool/frontend/src/stories/DRepDetailsCard.stories.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#1850] add support for Do not list checkbox for DRep
  govtool/frontend/src/components/atoms/FormHelpfulText.tsx
  govtool/frontend/src/components/atoms/types.ts
  govtool/frontend/src/components/molecules/DRepDataForm.tsx
  govtool/frontend/src/components/molecules/Field/Checkbox.tsx
  govtool/frontend/src/components/molecules/Field/types.ts
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
  govtool/frontend/src/types/dRep.ts
Owners: @MSzalowski, @jdyczka

[#1850] add support for dRep references type and label
  govtool/frontend/src/components/molecules/DRepDataForm.tsx
  govtool/frontend/src/components/molecules/Field/TextArea.tsx
  govtool/frontend/src/components/molecules/Field/types.ts
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/DRepDetailsCard.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepForm.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RegisterAsDRepForm.tsx
  govtool/frontend/src/consts/dRepActions/fields.ts
  govtool/frontend/src/consts/dRepActions/jsonContext.ts
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/stories/DRepDetailsCard.stories.ts
  govtool/frontend/src/types/dRep.ts
  govtool/frontend/src/types/global.d.ts
  govtool/frontend/src/utils/generateMetadataBody.ts
  govtool/metadata-validation/src/utils/parseMetadata.ts
Owners: @MSzalowski, @jdyczka

Enable explicit guardrail script parsing
  gov-action-loader/backend/app/main.py
Owners: @Ryun1, @MSzalowski

Add guardrail script field for parameter update
  gov-action-loader/frontend/src/views/SpecificLoad.vue
Owners: @Ryun1, @MSzalowski

Fix loading balance placeholer
  gov-action-loader/backend/app/guardrails/guardrails-sanchonet.plutus
  gov-action-loader/frontend/src/App.vue
Owners: @Ryun1, @MSzalowski

fix(#1894): fix DRep metadata validation
  govtool/metadata-validation/src/app.service.ts
  govtool/metadata-validation/src/schemas/cipStandardSchema.ts
  govtool/metadata-validation/src/utils/parseMetadata.ts
Owners: @MSzalowski, @jdyczka

fix(#1894): add custom metadata validation utils
  govtool/metadata-validation/src/app.service.test.ts
  govtool/metadata-validation/src/app.service.ts
  govtool/metadata-validation/src/dto/validateMetadata.dto.ts
  govtool/metadata-validation/src/schemas/cipStandardSchema.test.ts
  govtool/metadata-validation/src/schemas/cipStandardSchema.ts
  govtool/metadata-validation/src/schemas/index.ts
  govtool/metadata-validation/src/utils/getFieldValue.ts
  govtool/metadata-validation/src/utils/getStandard.ts
  govtool/metadata-validation/src/utils/index.ts
  govtool/metadata-validation/src/utils/parseMetadata.ts
  govtool/metadata-validation/src/utils/validateCIP108body.ts
  govtool/metadata-validation/src/utils/validateMetadataStandard.ts
Owners: @MSzalowski, @jdyczka

chore(#1894): adjust frontend to metadata-validation api changes
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/models/metadataValidation.ts
  govtool/frontend/src/utils/mapDtoToDrep.ts
  govtool/frontend/src/utils/mapDtoToProposal.ts
Owners: @MSzalowski, @jdyczka

fix(#1894): fix displaying CIP-108 metadata when validation fails
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
Owners: @MSzalowski, @jdyczka

[#1910] fix runtime error when navigating to GA details from Voted on by me tab
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardVotes.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/hooks/forms/useVoteActionForm.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool version to v1.0.15
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
  govtool/metadata-validation/yarn.lock
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix(#1894): make response of the metadata restricted to be raw text
  govtool/metadata-validation/src/app.service.ts
Owners: @MSzalowski, @jdyczka

fix(#1894): fix metadata hash generation
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
  govtool/frontend/src/context/governanceAction.test.tsx
  govtool/frontend/src/context/governanceAction.tsx
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/hooks/forms/useEditDRepInfoForm.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/hooks/forms/useVoteContextForm.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/metadata-validation/src/app.service.ts
  govtool/metadata-validation/src/utils/validateCIP108body.ts
Owners: @MSzalowski, @jdyczka

Generate valid hardfork action
  gov-action-loader/backend/app/transaction.py
Owners: @Ryun1, @MSzalowski

[#1916] change the spelling of ADA
  CHANGELOG.md
  govtool/frontend/src/components/atoms/VotingPowerChips.test.tsx
  govtool/frontend/src/context/getUtxos.ts
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/utils/tests/adaFormat.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: incorrect documentation link on proposal learn more button
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DashboardCards/ProposeGovActionDashboardCard.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix: incorrect documentation link on proposal learn more button
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DashboardCards/ProposeGovActionDashboardCard.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose
