Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

chore: bump GovTool to v1.0.25
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

docs: update backend readme to use proper ghc and cabal versions
  govtool/backend/README.md
  govtool/frontend/README.md
Owners: @MSzalowski, @jankun4, @jdyczka

chore(#2325): change en translation resource to json
  CHANGELOG.md
  govtool/frontend/src/i18n/index.ts
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/types/governanceAction.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

test: navigation to edit proposal on invalid metadata url modal 'go to data edit screen'
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

chore: move space validation from invalid to valid name check
  tests/govtool-frontend/playwright/lib/_mock/index.ts
Owners: @MSzalowski, @jdyczka

chore: update dRep name validation with mockValid name
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.loggedin.spec.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

feat(#2183): add support for CIP-129 governance identifiers
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionCard.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/services/requests/getProposal.ts
  govtool/frontend/src/services/requests/getProposals.ts
  govtool/frontend/src/stories/GovernanceAction.stories.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/src/utils/cip129identifier.ts
  govtool/frontend/src/utils/getGovActionId.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/tests/cip129identifier.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

feat: display full Governance Action ID on desktop
  CHANGELOG.md
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

feat(#2276): add support for space in given name
  CHANGELOG.md
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStorageInformation.tsx
  govtool/frontend/src/consts/dRepActions/fields.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2305): change displaying ada to locale string format
  CHANGELOG.md
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/utils/adaFormat.ts
  govtool/frontend/src/utils/tests/adaFormat.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

feat(#2070): add labels to supporting links in governance action details
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardLinks.tsx
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/src/utils/mapDtoToProposal.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2333): fix wrong order of vote and registration certificates
  CHANGELOG.md
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
  govtool/frontend/src/hooks/useDelegateToDrep.ts
  govtool/frontend/src/pages/RegisterAsDirectVoter.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool to v1.0.26
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix(#1845): fix submitting guardrail related governance actions
  CHANGELOG.md
  govtool/frontend/src/context/wallet.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#1845): set guardrail script network related
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski, @jdyczka

fix: remove unneeded login step on workflow action
  .github/workflows/add-issue-to-project.yml
  CHANGELOG.md
Owners: @placek, @adgud, @Ryun1, @MSzalowski

fix: add new issues to project workflow
  .github/workflows/add-issue-to-project.yml
Owners: @placek, @adgud

fix: incorrect org labelling for action
  .github/workflows/add-issue-to-project.yml
Owners: @placek, @adgud

feat(#2316): hide vote totals for the particular governance actions
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardVotes.tsx
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/context/appContext.tsx
  govtool/frontend/src/context/featureFlag.test.tsx
  govtool/frontend/src/context/featureFlag.tsx
  govtool/frontend/src/models/api.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

feat: update configuration to support running tests on different networks
  .github/workflows/test_integration_playwright.yml
  tests/govtool-frontend/playwright/lib/constants/environments.ts
  tests/govtool-frontend/playwright/playwright.config.ts
Owners: @placek, @adgud, @MSzalowski, @jdyczka

feat: add support for the rest of the Governance Actions
  CHANGELOG.md
  govtool/backend/app/Main.hs
  govtool/backend/example-config.json
  govtool/backend/sql/list-proposals.sql
  govtool/frontend/src/components/molecules/DataMissingHeader.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCard.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardLinks.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardOnChainData.tsx
  govtool/frontend/src/components/molecules/GovernanceActionNewCommitteeDetailsTabContent.tsx
  govtool/frontend/src/components/molecules/GovernanceVotedOnCard.tsx
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/DRepDetailsCardHeader.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCard.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/stories/GovernanceAction.stories.ts
  govtool/frontend/src/stories/GovernanceActionDetailsCard.stories.ts
  govtool/frontend/src/types/global.d.ts
  govtool/frontend/src/utils/cip129identifier.ts
  govtool/frontend/src/utils/getGovActionVotingThresholdKey.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/tests/cip129identifier.test.ts
  govtool/frontend/src/utils/tests/getGovActionVotingThresholdKey.test.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

chore: bump pdf-ui to v0.4.1
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @jdyczka

fix(#1960): make calculation of the DRep voting power on the backend
  CHANGELOG.md
  govtool/backend/sql/get-voting-power.sql
Owners: @Ryun1, @MSzalowski

feat(#1616): add support for ipfs in metadata validation service
  CHANGELOG.md
  govtool/metadata-validation/.env.example
  govtool/metadata-validation/Dockerfile
  govtool/metadata-validation/docker-compose.yml
  govtool/metadata-validation/src/app.service.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: add ipfs properties to instrastructure config
  .github/workflows/build-and-deploy-beta.yml
  .github/workflows/build-and-deploy-dev.yml
  .github/workflows/build-and-deploy-staging.yml
  .github/workflows/build-and-deploy-test.yml
  scripts/govtool/config/templates/docker-compose.yml.tpl
  scripts/govtool/metadata-validation.mk
Owners: @placek, @adgud, @Ryun1, @MSzalowski

Use valid metadata and withdrawal return account in gov-action bulk loader
  gov-action-loader/backend/app/transaction.py
Owners: @Ryun1, @MSzalowski

Update stake address on update committee action
  gov-action-loader/backend/app/transaction.py
Owners: @Ryun1, @MSzalowski

feat(#1600): add support for list of withdrawals in treasury gov action
  CHANGELOG.md
  docs/GOVERNANCE_ACTION_SUBMISSION.md
  govtool/backend/sql/list-proposals.sql
  govtool/frontend/src/components/molecules/GovernanceActionCardTreasuryWithdrawalElement.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/theme.ts
  govtool/frontend/src/types/@mui.d.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore(#2310): bump cardano node (10.1.2) and cardano-db-sync (13.6.0.1)
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

chore: bump GovTool to v1.0.27
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

chore: update GovTool-v1.0.27 release date
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

chore: add mock temp wallet on gitignore
  tests/govtool-frontend/playwright/.gitignore
Owners: @Ryun1, @MSzalowski

Tweak copy for maintenance page
  govtool/frontend/maintenance-page/index.html
Owners: @Ryun1, @MSzalowski

update change log
  CHANGELOG.md
Owners: @Ryun1, @MSzalowski

chore: format vote ada for governance action
  tests/govtool-frontend/playwright/lib/helpers/adaFormat.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
Owners: @MSzalowski, @jdyczka

fix(#2379): fix listing voted-on governance actions
  CHANGELOG.md
  govtool/backend/src/VVA/DRep.hs
Owners: @Ryun1, @MSzalowski

chore: update csl patch file
  govtool/frontend/patches/@emurgo+cardano-serialization-lib-asmjs+13.2.0.patch
Owners: @Ryun1, @MSzalowski

chore(#2169): bump CSL to v13.1.0
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/patches/@emurgo+cardano-serialization-lib-asmjs+12.0.0-beta.2.patch
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2263): remove markdown from slider card
  CHANGELOG.md
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/removeMarkdown.ts
  govtool/frontend/src/utils/tests/removeMarkdown.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2372): fix ada quantities format
  CHANGELOG.md
  govtool/frontend/src/utils/adaFormat.ts
  govtool/frontend/src/utils/tests/adaFormat.test.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose
