Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

chore: cleanup ga submission code
  docs/operations/HANDLE_NEW_GOVERNANCE_ACTION_TYPE.md
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/types/global.d.ts
  govtool/frontend/src/types/governanceAction.ts
  govtool/frontend/src/utils/generateJsonld.ts
  govtool/frontend/src/utils/govActionValidations/bech32.ts
  govtool/frontend/src/utils/govActionValidations/index.ts
  govtool/frontend/src/utils/govActionValidations/number.ts
  govtool/frontend/src/utils/index.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

update CSL
  govtool/frontend/package.json
  node_modules/.package-lock.json
  node_modules/.yarn-integrity
  package-lock.json
  yarn.lock
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop, @Ryun1

npm / yarn
  govtool/frontend/package-lock.json
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

move CSL into dependencies/ patch CSL pacakge
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/patches/@emurgo+cardano-serialization-lib-asmjs+12.0.0-alpha.19.patch
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop, @Ryun1

delete unnecessary files
  node_modules/.package-lock.json
  node_modules/.yarn-integrity
  package-lock.json
  yarn.lock
Owners: @Ryun1, @kickloop

add info to changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#498] Implement a workflow that triggers deployment to `dev` when a tag is created (from a specific pattern)
  .github/workflows/deploy-dev-from-tag.yml
Owners: @placek, @adgud, @kickloop

code review changes
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RegisterAsDRepForm.tsx
  govtool/frontend/src/consts/index.ts
  govtool/frontend/src/consts/placeholders.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#514] chore: fix tsc errors
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/molecules/GovernanceActionsSorting.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/CreateGovernanceActionForm.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionsVotedOn.tsx
  govtool/frontend/src/context/modal.tsx
  govtool/frontend/src/hooks/forms/useVoteActionForm.tsx
  govtool/frontend/src/mock/index.ts
  govtool/frontend/src/mock/toVote.ts
  govtool/frontend/src/stories/modals/ExternalLinkModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusModal.stories.tsx
  govtool/frontend/src/stories/modals/StatusWithLink.stories.tsx
  govtool/frontend/src/stories/modals/VotingPowerModal.stories.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#514] chore: add to changelog
  CHANGELOG.md
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#513] chore: remove postinstall-postinstall package
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#513] fix: fix code check workflow
  .github/workflows/code_check_frontend.yml
  govtool/frontend/src/hooks/forms/useRegisterAsdRepForm.tsx
Owners: @placek, @adgud, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#510] fix file doesnt match to existed hash
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

fix lint
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add eslint comment
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

fix eslint
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/yarn.lock
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#526] Add a default entrypoint for scripts
  scripts/govtool/README.md
  scripts/govtool/default.nix
  scripts/govtool/shell.nix
Owners: @Ryun1, @kickloop

[#526] Create a Nix Flake and Default Entrypoint
  flake.lock
  flake.nix
  scripts/govtool/default.nix
Owners: @Ryun1, @kickloop

[#526] Move the .envrc example to the root directory
  .env.example
Owners: @Ryun1, @kickloop

[#526] Incorporate backend environment into Nix Flakes as an output
  .env.example
  flake.nix
  govtool/backend/default.nix
  govtool/backend/shell.nix
  govtool/backend/sources.nix
Owners: @Ryun1, @kickloop, @MSzalowski, @jankun4

[#526] Apply infrastructure environment to the Nix Flakes configuration
  .gitignore
  flake.nix
  infra/terraform/.env.example
  infra/terraform/default.nix
  infra/terraform/shell.nix
Owners: @Ryun1, @kickloop, @placek, @adgud

[#526] Add modules .envrc files
  .envrc.example
  govtool/backend/.envrc
  infra/terraform/.envrc
  scripts/govtool/.envrc
Owners: @Ryun1, @kickloop, @MSzalowski, @jankun4, @placek, @adgud

[#522] extract transaction state logic to hook
  govtool/frontend/src/context/useTransactions.ts
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/context/walletUtils.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#526] Move DOMAIN definition to the master .envrc file in the root of the project
  .envrc.example
  scripts/govtool/default.nix
Owners: @Ryun1, @kickloop

[#526] Add a frontend module to Nix Flakes
  flake.lock
  flake.nix
  govtool/frontend/.env.example
  govtool/frontend/.envrc
  govtool/frontend/Dockerfile
  govtool/frontend/default.nix
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#526] Add documentation on Nix usage
  govtool/backend/README.md
  govtool/frontend/README.md
Owners: @MSzalowski, @jankun4, @kickloop, @Sworzen1, @JanJaroszczak

[#526] Add Nix Flakes configuration to handle unified developer setups
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#522] refactor useTransactions hook
  govtool/frontend/.eslintrc.cjs
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionsVotedOn.tsx
  govtool/frontend/src/components/organisms/DelegateTodRepStepOne.tsx
  govtool/frontend/src/components/organisms/GovernanceActionsToVote.tsx
  govtool/frontend/src/components/organisms/RegisterAsSoleVoterBox.tsx
  govtool/frontend/src/components/organisms/RetireAsSoleVoterBox.tsx
  govtool/frontend/src/context/useTransactions.ts
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/context/walletUtils.ts
  govtool/frontend/src/hooks/forms/useCreateGovernanceActionForm.ts
  govtool/frontend/src/hooks/forms/useDelegateTodRepForm.tsx
  govtool/frontend/src/hooks/forms/useUpdatedRepMetadataForm.tsx
  govtool/frontend/src/hooks/forms/useVoteActionForm.tsx
  govtool/frontend/src/hooks/queries/useGetAdaHolderCurrentDelegationQuery.ts
  govtool/frontend/src/hooks/queries/useGetDRepListQuery.ts
  govtool/frontend/src/hooks/queries/useGetDRepVotesQuery.ts
  govtool/frontend/src/hooks/queries/useGetProposalsInfiniteQuery.ts
  govtool/frontend/src/hooks/queries/useGetProposalsQuery.ts
  govtool/frontend/src/hooks/queries/useGetVoterInfoQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/utils/localStorage.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#522] check if DBSync updated after transaction
  govtool/frontend/src/context/getUtxos.ts
  govtool/frontend/src/context/pendingTransaction/index.ts
  govtool/frontend/src/context/pendingTransaction/types.ts
  govtool/frontend/src/context/pendingTransaction/usePendingTransaction.ts
  govtool/frontend/src/context/pendingTransaction/utils.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/context/walletUtils.ts
  govtool/frontend/src/main.tsx
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/wait.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#522] delete unnecessary code
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/VotingPowerChips.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardDrawerMobile.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/components/organisms/DelegateTodRepStepOne.tsx
  govtool/frontend/src/components/organisms/Drawer.tsx
  govtool/frontend/src/components/organisms/GovernanceActionsToVote.tsx
  govtool/frontend/src/components/organisms/RegisterAsSoleVoterBox.tsx
  govtool/frontend/src/components/organisms/RetireAsSoleVoterBox.tsx
  govtool/frontend/src/components/organisms/RetireAsSoleVoterBoxContent.tsx
  govtool/frontend/src/components/organisms/Slider.tsx
  govtool/frontend/src/context/getUtxos.ts
  govtool/frontend/src/context/pendingTransaction/usePendingTransaction.ts
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/hooks/forms/useDelegateTodRepForm.tsx
  govtool/frontend/src/hooks/queries/useGetDRepVotingPowerQuery.ts
  govtool/frontend/src/hooks/queries/useGetProposalsQuery.ts
  govtool/frontend/src/hooks/queries/useGetVoterInfoQuery.ts
  govtool/frontend/src/pages/DashboardGovernanceActionsCategory.tsx
  govtool/frontend/src/pages/GovernanceActions.tsx
  govtool/frontend/src/pages/GovernanceActionsCategory.tsx
  govtool/frontend/src/services/requests/getProposals.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#500] chore: fix frontend package tests
  CHANGELOG.md
  govtool/frontend/.eslintrc.cjs
  govtool/frontend/src/consts/governanceAction/fields.ts
  govtool/frontend/src/utils/bech32Validation.ts
  govtool/frontend/src/utils/govActionValidations/index.ts
  govtool/frontend/src/utils/index.ts
  govtool/frontend/src/utils/jsonUtils.ts
  govtool/frontend/src/utils/numberValidation.ts
  govtool/frontend/src/utils/tests/basicReducer.test.ts
  govtool/frontend/src/utils/tests/bech32Validation.test.ts
  govtool/frontend/src/utils/tests/callAll.test.ts
  govtool/frontend/src/utils/tests/jsonUtils.test.ts
  govtool/frontend/src/utils/tests/validateMetadataHash.test.ts
  govtool/frontend/yarn.lock
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#500] chore: increase max old space size for test action
  .github/workflows/code_check_frontend.yml
Owners: @placek, @adgud, @kickloop

[#539] fix: endless spinner on a dashbord
  CHANGELOG.md
  govtool/frontend/.eslintrc.cjs
  govtool/frontend/src/components/organisms/DashboardCards.tsx
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#506] Adjustment the contributing guidelines to reflect recent changes
  CONTRIBUTING.md
Owners: @Ryun1, @kickloop

[#543] Update frontend package readme
  CHANGELOG.md
  govtool/frontend/README.md
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#216] add Automated Voting Options component
  CHANGELOG.md
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/molecules/types.ts
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#216] use Accordion from MUI to improve user experience
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/DRepDirectoryContent.tsx
  govtool/frontend/src/theme.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#217] add dRep directory page and nav items
  govtool/frontend/public/icons/DRepDirectory.svg
  govtool/frontend/public/icons/DRepDirectoryActive.svg
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/ContentBox.tsx
  govtool/frontend/src/components/atoms/PagePaddingBox.tsx
  govtool/frontend/src/components/atoms/index.ts
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/PageTitle.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/DRepDirectoryContent.tsx
  govtool/frontend/src/components/organisms/index.ts
  govtool/frontend/src/consts/icons.ts
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/consts/paths.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/DRepDirectory.tsx
  govtool/frontend/src/pages/index.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#217] use translations in menu items
  govtool/frontend/src/consts/navItems.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

docs: add missing link to swagger
  README.md
Owners: @Ryun1, @kickloop

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @placek @adgud @kickloop
config/govtool/*                                                            @placek @adgud @kickloop
infra/terraform/*                                                           @placek @adgud @kickloop

# Testing
gov-action-loader/*                                                         @IntersectMBO/govtool-test @kickloop
tests/*                                                                     @IntersectMBO/govtool-test @kickloop
