Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski
*.tsx                                                                       @MSzalowski
*.ts                                                                        @MSzalowski
*.css                                                                       @MSzalowski

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

fix(#2994): fix refetching the drep directory
  CHANGELOG.md
  govtool/frontend/src/components/molecules/DataActionsBar.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/components/organisms/GovernanceActionDetailsCardData.tsx
  govtool/frontend/src/hooks/queries/useGetDrepDetailsQuery.ts
  govtool/frontend/src/main.tsx
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski

feat(#2984): add mathematical styling inside governance action metadata
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
Owners: @Ryun1, @MSzalowski

chore: add script to update GovTool version
  .github/workflows/update-govtool-version.yml
  CHANGELOG.md
Owners: @placek, @adgud, @Ryun1, @MSzalowski

fix: update dRep abstain vote display in governance details page visibility
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
Owners: @MSzalowski

fix: remove timeout and add possible assertion/waited function
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
  tests/govtool-frontend/playwright/lib/pages/proposalDiscussionPage.ts
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/editDRep.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/6-miscellaneous/miscellaneous.dRep.spec.ts
Owners: @MSzalowski

feat: add waitedLoop helper function for conditional waiting in tests
  tests/govtool-frontend/playwright/lib/helpers/waitedLoop.ts
Owners: @MSzalowski

fix: intercept and search intercepted title on test 8C
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski

feat: add functionWaitedAssert for enhanced function execution with timeout and interval
  tests/govtool-frontend/playwright/lib/helpers/waitedLoop.ts
Owners: @MSzalowski

fix: check api response on show more test
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
Owners: @MSzalowski

fix: wrong path to main metadata validation file
  .github/workflows/update-govtool-version.yml
Owners: @placek, @adgud

fix: integrate functionWaitedAssert for proposal search validation
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski

fix: replace test 4L visibility checks with functionWaitedAssert
  tests/govtool-frontend/playwright/lib/helpers/waitedLoop.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.loggedin.spec.ts
Owners: @MSzalowski

fix: ensure NoDRepText is visible for invalid DRep Id
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.loggedin.spec.ts
Owners: @MSzalowski

fix: add waitedAssert function on test 2O
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
Owners: @MSzalowski

feat: add proposal submission wallet setup
  tests/govtool-frontend/playwright/.gitignore
  tests/govtool-frontend/playwright/lib/helpers/shellyWallet.ts
  tests/govtool-frontend/playwright/lib/services/kuberService.ts
  tests/govtool-frontend/playwright/lib/walletManager.ts
  tests/govtool-frontend/playwright/playwright.config.ts
  tests/govtool-frontend/playwright/tests/dRep.setup.ts
  tests/govtool-frontend/playwright/tests/faucet.teardown.ts
  tests/govtool-frontend/playwright/tests/proposal.setup.ts
Owners: @Ryun1, @MSzalowski

fix: use temp proposal wallet to submit the proposal
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.ga.spec.ts
Owners: @MSzalowski

chore: bump actions/cache to v4 across workflows
  .github/workflows/code_check_frontend.yml
  .github/workflows/frontend_sonar_scan.yml
  .github/workflows/merge.yaml
  .github/workflows/pr.yaml
  .github/workflows/test_integration_playwright.yml
  CHANGELOG.md
Owners: @placek, @adgud, @Ryun1, @MSzalowski

chore(outcomes): upgrade outcomes package to latest version
  govtool/frontend/package.json
Owners: @MSzalowski

chore(outcomes): sync yarn.lock changes
  govtool/frontend/yarn.lock
Owners: @MSzalowski

fix: test-2O add response promise on test start
  tests/govtool-frontend/playwright/lib/pages/dRepDirectoryPage.ts
  tests/govtool-frontend/playwright/tests/2-delegation/delegation.spec.ts
Owners: @MSzalowski

feat: add failure handling with console messages on logger
  tests/govtool-frontend/playwright/lib/helpers/exceptionHandler.ts
Owners: @MSzalowski

feat(#2384): add `isStakeKeyRegistered` utility method
  CHANGELOG.md
  govtool/frontend/src/context/wallet.tsx
Owners: @Ryun1, @MSzalowski

feat: integrate failure handling with console messages in proposal submission tests
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.ga.spec.ts
  tests/govtool-frontend/playwright/tests/proposal.setup.ts
Owners: @MSzalowski

feat: kept proposal setup on playwright setup epic
  tests/govtool-frontend/playwright/tests/proposal.setup.ts
Owners: @MSzalowski
