Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak, @jankun4, @placek, @adgud, @IntersectMBO/govtool-test

[#119] Post code review adjustments
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/pages/Dashboard.tsx
  govtool/frontend/src/pages/DelegateTodRep.tsx
  govtool/frontend/src/pages/RegisterAsSoleVoter.tsx
  govtool/frontend/src/pages/RegisterAsdRep.tsx
  govtool/frontend/src/pages/RetireAsSoleVoter.tsx
  govtool/frontend/src/pages/UpdatedRepMetadata.tsx
  govtool/frontend/src/utils/checkIsWalletConnected.ts
  govtool/frontend/src/utils/index.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add sole voter into IMAGES
  govtool/frontend/src/consts/images.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

change props and dashabord card sizes
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add sole voter into IMAGES
  govtool/frontend/src/consts/images.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#265] make button disabled when tries to connect
  CHANGELOG.md
  govtool/frontend/src/components/molecules/WalletOption.tsx
  govtool/frontend/src/context/wallet.tsx
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#210] Sole voter wallet logic for registration and retirement
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/VotingPowerChips.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/components/organisms/DashboardTopNav.tsx
  govtool/frontend/src/components/organisms/DelegateTodRepStepOne.tsx
  govtool/frontend/src/components/organisms/Drawer.tsx
  govtool/frontend/src/components/organisms/RetireAsSoleVoterBoxContent.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/context/walletUtils.ts
  govtool/frontend/src/hooks/index.ts
  govtool/frontend/src/hooks/mutations/index.ts
  govtool/frontend/src/hooks/mutations/useAdaHolderDelegateAbstainMutation.ts
  govtool/frontend/src/hooks/mutations/useAdaHolderDelegateMutation.ts
  govtool/frontend/src/hooks/mutations/useAdaHolderDelegateNoMutation.ts
  govtool/frontend/src/hooks/mutations/useAdaHolderRemoveDelegationMutation.ts
  govtool/frontend/src/hooks/mutations/useDRepRegisterMutation.ts
  govtool/frontend/src/hooks/mutations/useDRepRemoveVoteMutation.ts
  govtool/frontend/src/hooks/mutations/useDRepRetireMutation.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/pages/DashboardGovernanceActionsCategory.tsx
  govtool/frontend/src/pages/GovernanceActionsCategory.tsx
  govtool/frontend/src/services/requests/getDRepInfo.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#119] Make voting on governance actions possible
  govtool/frontend/src/components/organisms/BgCard.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/components/organisms/DashboardTopNav.tsx
  govtool/frontend/src/components/organisms/DelegateTodRepStepOne.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#212] fix drep/info sql query
  govtool/backend/sql/get-drep-info.sql
Owners: @Ryun1, @kickloop

[#210] Sole voter wallet logic for registration and retirement - part 2
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/context/walletUtils.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add translations for sole voter card
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Minor refactor
  govtool/frontend/src/components/molecules/CenteredBoxBottomButtons.tsx
  govtool/frontend/src/components/molecules/index.ts
  govtool/frontend/src/components/organisms/RegisterAsSoleVoterBox.tsx
  govtool/frontend/src/components/organisms/RetireAsSoleVoterBox.tsx
  govtool/frontend/src/components/organisms/RetireAsSoleVoterBoxContent.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#210] 'user' changed to 'voter'
  govtool/frontend/src/App.tsx
  govtool/frontend/src/components/atoms/VotingPowerChips.tsx
  govtool/frontend/src/components/molecules/VoteActionForm.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActionDetails.tsx
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/components/organisms/DashboardTopNav.tsx
  govtool/frontend/src/components/organisms/DelegateTodRepStepOne.tsx
  govtool/frontend/src/components/organisms/Drawer.tsx
  govtool/frontend/src/components/organisms/RetireAsSoleVoterBoxContent.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/context/walletUtils.ts
  govtool/frontend/src/pages/DashboardGovernanceActionsCategory.tsx
  govtool/frontend/src/pages/GovernanceActionsCategory.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

add retirement to changelog
  CHANGELOG.md
Owners: @Ryun1, @kickloop

Updated CHANGELOG.md to include recent enhancements
  CHANGELOG.md
Owners: @Ryun1, @kickloop

[#212] provide sole voter information in drep/info
  govtool/backend/sql/get-drep-info.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/API/Types.hs
  govtool/backend/src/VVA/DRep.hs
  govtool/backend/src/VVA/Types.hs
Owners: @Ryun1, @kickloop

change way to display cards on dashboard/ add sole voter card
  govtool/frontend/src/components/organisms/DashboardCards.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#119] Fixes after CR
  govtool/frontend/src/components/molecules/CenteredBoxBottomButtons.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

sort IMAGES asc
  govtool/frontend/src/consts/images.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#212] fix swagger drep info example
  govtool/backend/src/VVA/API/Types.hs
Owners: @Ryun1, @kickloop

[#212] udpate CHANGELOG.md
  CHANGELOG.md
Owners: @Ryun1, @kickloop

update home cards
  govtool/frontend/src/components/molecules/ActionCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/Hero.tsx
  govtool/frontend/src/components/organisms/HomeCards.tsx
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/pages/Home.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#119] add registration as sole voter
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/hooks/queries/useGetDRepVotingPowerQuery.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#280] Fix get drep voting power request
  govtool/frontend/src/hooks/queries/useGetDRepVotingPowerQuery.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#210] 'UserInfo' changed to 'VoterInfo'
  govtool/frontend/src/context/wallet.tsx
  govtool/frontend/src/context/walletUtils.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/services/requests/getDRepInfo.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

fix get drep voting power
  govtool/frontend/src/hooks/queries/useGetDRepVotingPowerQuery.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#119] Duplicated lines removed
  govtool/frontend/src/consts/images.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Add environment-specific warning to .env.example for clarity and safety
  scripts/govtool/.env.example
Owners: @Ryun1, @kickloop

[#239 #240 #338] DRep can become Sole Voter, Sole Voter can become DRep
  govtool/frontend/src/components/organisms/DashboardCards.tsx
  govtool/frontend/src/components/organisms/RegisterAsSoleVoterBox.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/hooks/forms/useUpdatedRepMetadataForm.tsx
  govtool/frontend/src/hooks/queries/useGetDRepInfoQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#239 #240 #338] Fixes after CR
  govtool/frontend/src/App.tsx
  govtool/frontend/src/context/walletUtils.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/hooks/forms/useUpdatedRepMetadataForm.tsx
  govtool/frontend/src/hooks/queries/index.ts
  govtool/frontend/src/hooks/queries/useGetVoterInfoQuery.ts
  govtool/frontend/src/i18n/locales/en.ts
  govtool/frontend/src/services/requests/getVoterInfo.ts
  govtool/frontend/src/services/requests/index.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#152] change step 3 components
  CHANGELOG.md
  govtool/frontend/src/components/organisms/BgCard.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepThree.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/components/organisms/types.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/hooks/forms/useUrlAndHashFormController.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#152] improve form
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#152] fix inprogress copy
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#152] change continue on register/ reset store data agreement when back to previous step
  govtool/frontend/src/components/organisms/RegisterAsdRepStepThree.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#152] improve form
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#152] change continue on register/ reset store data agreement when back to previous step
  govtool/frontend/src/components/organisms/RegisterAsdRepStepThree.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

[#152] change step 3 components
  CHANGELOG.md
  govtool/frontend/src/components/organisms/BgCard.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepThree.tsx
  govtool/frontend/src/components/organisms/RegisterAsdRepStepTwo.tsx
  govtool/frontend/src/components/organisms/types.ts
  govtool/frontend/src/hooks/forms/useRegisterAsdRepFormContext.tsx
  govtool/frontend/src/hooks/forms/useUrlAndHashFormController.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @Ryun1, @kickloop, @MSzalowski, @Sworzen1, @JanJaroszczak

[#152] fix inprogress copy
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/i18n/locales/en.ts
Owners: @MSzalowski, @Sworzen1, @JanJaroszczak, @kickloop

Optimized verbosity in base backend image build and push checks
  scripts/govtool/Makefile
Owners: @Ryun1, @kickloop

[#320] Introduced version tracking scripts for application components
  scripts/govtool/utils/backend-base-version
  scripts/govtool/utils/backend-version
  scripts/govtool/utils/frontend-version
Owners: @Ryun1, @kickloop

[#320] Implemented separate version tagging for frontend and backend deployments
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.beta.yml
  scripts/govtool/docker-compose.dev.yml
  scripts/govtool/docker-compose.staging.yml
  scripts/govtool/docker-compose.test.yml
Owners: @Ryun1, @kickloop

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @kickloop

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.tsx                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.ts                                                                        @MSzalowski @Sworzen1 @JanJaroszczak @kickloop
*.css                                                                       @MSzalowski @Sworzen1 @JanJaroszczak @kickloop

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4 @kickloop

# DevOps
.github/workflows/*                                                         @placek @adgud @kickloop
config/govtool/*                                                            @placek @adgud @kickloop
infra/terraform/*                                                           @placek @adgud @kickloop

# Testing
gov-action-loader/*                                                         @IntersectMBO/govtool-test @kickloop
tests/*                                                                     @IntersectMBO/govtool-test @kickloop
