Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jdyczka, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

chore: bump cardano-test-wallet version to 3.0.0
  tests/govtool-frontend/playwright/package-lock.json
  tests/govtool-frontend/playwright/package.json
Owners: @Ryun1, @MSzalowski

chore: add blockfrost url and api key on wallet config
  tests/govtool-frontend/playwright/lib/fixtures/loadExtension.ts
Owners: @MSzalowski, @jdyczka

chore: update proposal.details type and add additional field types
  tests/govtool-backend/models/TestData.py
Owners: @Ryun1, @MSzalowski

chore: use kuber api url from github vars
  .github/workflows/test_backend.yml
  tests/govtool-backend/config.py
Owners: @placek, @adgud, @Ryun1, @MSzalowski

chore: add missing kuber api key env on backend test workflow
  .github/workflows/test_backend.yml
Owners: @placek, @adgud

chore: set kuber api url and faucet url based on network
  tests/govtool-backend/.env.example
  tests/govtool-backend/config.py
  tests/govtool-backend/lib/faucet_api.py
  tests/govtool-backend/lib/kuber_api.py
Owners: @Ryun1, @MSzalowski

chore: use faucet api key based on network
  .github/workflows/test_backend.yml
Owners: @placek, @adgud

refactor: remove unwanted env and get api keys based on network
  .github/workflows/test_integration_playwright.yml
  tests/govtool-frontend/playwright/.env.example
  tests/govtool-frontend/playwright/lib/constants/environments.ts
Owners: @placek, @adgud, @Ryun1, @MSzalowski, @jdyczka

fix: backend and integration test faucet and blockfrost env
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

fix(#2398): fix unnecessary node remove in metadata actions
  CHANGELOG.md
  govtool/frontend/src/utils/jsonUtils.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

[#2450] Initialize Sentry service at application start
  govtool/backend/app/Main.hs
Owners: @Ryun1, @MSzalowski

fix: use first dRep-eligible governance action in dRep vote dependent tests
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

fix: parallelize bootstrap dRep vote tests and improve visibility checks
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: remove unnecessary async from areCCVoteTotalsDisplayed
  tests/govtool-frontend/playwright/lib/helpers/featureFlag.ts
Owners: @MSzalowski, @jdyczka

fix: governance action type typo
  tests/govtool-frontend/playwright/lib/helpers/featureFlag.ts
  tests/govtool-frontend/playwright/lib/pages/governanceActionsPage.ts
  tests/govtool-frontend/playwright/lib/types.ts
  tests/govtool-frontend/playwright/tests/3-drep-registration/dRepRegistration.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add assertion on governance list to wait until loading button is hidden
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

feat(#1806): add support for CIP-119 DRep images
  CHANGELOG.md
  govtool/frontend/.env.example
  govtool/frontend/Dockerfile
  govtool/frontend/Dockerfile.qovery
  govtool/frontend/public/icons/DefaultDRep.svg
  govtool/frontend/src/components/molecules/DataMissingHeader.tsx
  govtool/frontend/src/components/organisms/DRepCard.tsx
  govtool/frontend/src/components/organisms/DRepDetailsCardHeader.tsx
  govtool/frontend/src/consts/icons.ts
  govtool/frontend/src/models/api.ts
  govtool/frontend/src/utils/mapDtoToDrep.ts
  govtool/frontend/src/utils/tests/dRep.test.ts
  scripts/govtool/frontend.mk
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2408): fix app crash on delegation
  CHANGELOG.md
  govtool/frontend/src/hooks/useDelegateToDrep.ts
Owners: @Ryun1, @MSzalowski, @jdyczka

chore(#2411): bump cardano db-sync to 13.6.0.4
  CHANGELOG.md
  scripts/govtool/Makefile
  scripts/govtool/docker-compose.node+dbsync.yml
Owners: @Ryun1, @MSzalowski

chore: bump @intersect.mbo/pdf-ui to v0.5.3
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2417): fix broken guides links
  CHANGELOG.md
  README.md
  docs/architecture/README.md
  govtool/frontend/src/components/molecules/DataMissingInfoBox.tsx
  govtool/frontend/src/components/organisms/AutomatedVotingOptions.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StorageInformation.tsx
  govtool/frontend/src/components/organisms/CreateGovernanceActionSteps/StoreDataInfo.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DRepDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DelegateDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/DirectVoterDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ListGovActionsDashboardCard.tsx
  govtool/frontend/src/components/organisms/DashboardCards/ProposeGovActionDashboardCard.tsx
  govtool/frontend/src/components/organisms/DrawerMobile.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/EditDRepInfoSteps/EditDRepStoreDataInfo.tsx
  govtool/frontend/src/components/organisms/Footer.tsx
  govtool/frontend/src/components/organisms/HomeCards.tsx
  govtool/frontend/src/components/organisms/Modal/ChooseWalletModal.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStorageInformation.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/DRepStoreDataInfo.tsx
  govtool/frontend/src/components/organisms/RegisterAsDRepSteps/RolesAndResponsibilities.tsx
  govtool/frontend/src/components/organisms/TopBanners.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextStoringInformation.tsx
  govtool/frontend/src/components/organisms/VoteContext/VoteContextTerms.tsx
  govtool/frontend/src/consts/links.ts
  govtool/frontend/src/consts/navItems.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump @intersect.mbo/pdf-ui to v0.5.4
  CHANGELOG.md
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/frontend/yarn.lock
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: bump GovTool to v1.0.29
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix: use bootstrap governance action type to check the dRep vote test during bootstrap.
  tests/govtool-frontend/playwright/lib/types.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/5-proposal-functionality/proposalFunctionality.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

fix(#2478): fix double signing of transaction
  CHANGELOG.md
  govtool/frontend/src/context/wallet.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

fix(#2446): fix mzero on multiple reloads of Governance Actions
  CHANGELOG.md
  govtool/backend/app/Main.hs
  govtool/backend/sql/list-proposals.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/Proposal.hs
Owners: @Ryun1, @MSzalowski

chore: update tesId of receiving address and amout input/error message
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
Owners: @MSzalowski, @jdyczka

chore: add assertion for withdrawal address btn visibility
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

chore: use infoAction directly in bootstrap dRep vote test
  tests/govtool-frontend/playwright/lib/types.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
Owners: @MSzalowski, @jdyczka

chore: add missing ipfs gateway and project id env for test stack
  .github/workflows/build-and-deploy-test-stack.yml
  tests/test-infrastructure/.env.example
  tests/test-infrastructure/docker-compose-govtool.yml
Owners: @placek, @adgud, @Ryun1, @MSzalowski

fix(#2446): fix mzero on multiple reloads of Governance Actions
  CHANGELOG.md
  govtool/backend/app/Main.hs
  govtool/backend/sql/list-proposals.sql
  govtool/backend/src/VVA/API.hs
  govtool/backend/src/VVA/Proposal.hs
Owners: @Ryun1, @MSzalowski

fix(#2490): add registration cert when stake key is not registered
  CHANGELOG.md
  govtool/frontend/src/context/wallet.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: add extra assertion on save proposal as a draft
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

refactor: proposal info content testIds
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski, @jdyczka

chore: bump GovTool to v1.0.30
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

fix(#2044): fix missing validation for url length
  CHANGELOG.md
  govtool/frontend/src/components/organisms/VoteContext/VoteContextStoringInformation.tsx
Owners: @Ryun1, @MSzalowski, @jdyczka

chore: decrease number of active connections
  govtool/backend/app/Main.hs
Owners: @Ryun1, @MSzalowski

chore: bump GovTool to v2.0.0
  CHANGELOG.md
  govtool/backend/Dockerfile
  govtool/backend/Dockerfile.qovery
  govtool/backend/vva-be.cabal
  govtool/frontend/package-lock.json
  govtool/frontend/package.json
  govtool/metadata-validation/package-lock.json
  govtool/metadata-validation/package.json
  govtool/metadata-validation/src/main.ts
Owners: @Ryun1, @MSzalowski, @jankun4, @jdyczka

chore: add missing sentryenv on backend config
  tests/test-infrastructure/configs_template/backend_config.json
Owners: @Ryun1, @MSzalowski

feat: enable sentry init only when the enable flag is set
  .github/workflows/build-and-deploy-test-stack.yml
  govtool/frontend/.env.example
  govtool/frontend/Dockerfile.qovery
  govtool/frontend/src/main.tsx
  tests/test-infrastructure/.env.example
Owners: @placek, @adgud, @MSzalowski, @jdyczka, @Ryun1

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @jdyczka
*.tsx                                                                       @MSzalowski @jdyczka
*.ts                                                                        @MSzalowski @jdyczka
*.css                                                                       @MSzalowski @jdyczka

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose
