Repository IntersectMBO/govtool, changes with the owners that CODEOWNERS names for each.
All owners: @Ryun1, @MSzalowski, @jankun4, @placek, @adgud, @spannercode, @mesudip, @kneerose

CODEOWNERS:

# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski
*.tsx                                                                       @MSzalowski
*.ts                                                                        @MSzalowski
*.css                                                                       @MSzalowski

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @spannercode @mesudip @kneerose
gov-action-loader/*                                                         @spannercode @mesudip @kneerose

fix: proposal test due to updates on proposal type
  tests/govtool-frontend/playwright/lib/constants/index.ts
  tests/govtool-frontend/playwright/lib/pages/proposalDiscussionPage.ts
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/lib/types.ts
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski

feat: update form verification for new constitution
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

refactor: rename skipIfTreasuryAndBootstrapping to skipIfNotInfoAndBootstrapping for clarity
  tests/govtool-frontend/playwright/lib/helpers/cardano.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

feat: add new proposal 8 wallet
  tests/govtool-frontend/playwright/lib/constants/staticWallets.ts
  tests/govtool-frontend/playwright/package.json
  tests/govtool-frontend/playwright/tests/auth.setup.ts
Owners: @MSzalowski, @Ryun1

feat: add test for updating the constitution proposal draft
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

fix: correct expected count for Governance actions visibility test
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
Owners: @MSzalowski

feat: randomize proposal type selection in createProposal method
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
Owners: @MSzalowski

feat(#2968): add workflow to update any of the @intersect.mbo package
  .github/workflows/update-intersect-package.yml
  CHANGELOG.md
Owners: @placek, @adgud, @Ryun1, @MSzalowski

chore: update @intersect.mbo package workflow path adjustment
  .github/workflows/update-intersect-package.yml
Owners: @placek, @adgud

chore: update @intersect.mbo package workflow path adjustment
  .github/workflows/update-intersect-package.yml
Owners: @placek, @adgud

chore: add actor to PR description
  .github/workflows/update-intersect-package.yml
Owners: @placek, @adgud

chore: branch name update
  .github/workflows/update-intersect-package.yml
Owners: @placek, @adgud

chore: remove unnecessary step
  .github/workflows/update-intersect-package.yml
Owners: @placek, @adgud

chore: PR description changes
  .github/workflows/update-intersect-package.yml
Owners: @placek, @adgud

chore: change automated pillar package update commit message
  .github/workflows/update-intersect-package.yml
Owners: @placek, @adgud

fix: missing wallet api in new-constitution action
  govtool/frontend/src/context/wallet.tsx
Owners: @MSzalowski

fix: update commit status API to use workflow run head SHA
  .github/scripts/set_commit_status.sh
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @Ryun1, @MSzalowski, @placek, @adgud

fix: update checkout step to use workflow run head SHA in test
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @placek, @adgud

fix: commit sha for manual trigger
  .github/scripts/set_commit_status.sh
  .github/workflows/test_backend.yml
  .github/workflows/test_integration_playwright.yml
Owners: @Ryun1, @MSzalowski, @placek, @adgud

feat(#1188): add button to submit a governance action
  CHANGELOG.md
  govtool/frontend/src/components/organisms/DashboardGovernanceActions.tsx
  govtool/frontend/src/i18n/locales/en.json
  govtool/frontend/src/pages/GovernanceActions.tsx
Owners: @Ryun1, @MSzalowski

fix: test 8D by removing unecessary intercept and testid updates
  tests/govtool-frontend/playwright/lib/_mock/infoProposedGAs.json
  tests/govtool-frontend/playwright/lib/_mock/treasuryProposedGAs.json
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @Ryun1, @MSzalowski

chore: update test id of guardrailsScript checkbox
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
Owners: @MSzalowski

fix: lint error on unused import
  govtool/frontend/src/pages/GovernanceActions.tsx
Owners: @MSzalowski

fix(#2929): fix high severity code smells
  CHANGELOG.md
  govtool/frontend/.eslintrc.cjs
  govtool/frontend/src/components/atoms/Background.tsx
  govtool/frontend/src/components/atoms/CopyButton.tsx
  govtool/frontend/src/components/atoms/StakeRadio.tsx
  govtool/frontend/src/components/atoms/Tooltip.tsx
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/CopyableInfo.tsx
  govtool/frontend/src/components/molecules/DRepInfoCard.tsx
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/components/molecules/DataActionsFilters.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardLinks.tsx
  govtool/frontend/src/components/organisms/TopNav.tsx
  govtool/frontend/src/context/getUtxos.ts
  govtool/frontend/src/stories/Checkbox.stories.tsx
  govtool/frontend/src/stories/GovernanceAction.stories.ts
  govtool/frontend/src/utils/bech32Validation.ts
  govtool/frontend/src/utils/getGovActionVotingThresholdKey.ts
Owners: @Ryun1, @MSzalowski

fix: type error on voting threshold value
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/utils/getGovActionVotingThresholdKey.ts
Owners: @MSzalowski

feat(#2993): allow searching for yourself in DRep directory
  CHANGELOG.md
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Owners: @Ryun1, @MSzalowski

fix: unhandled exception when member hash is not correct
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @MSzalowski

chore: get rid of window functions in drep list query
  govtool/backend/sql/list-dreps.sql
Owners: @Ryun1, @MSzalowski

feat: add method to calculate total abstain votes for DRep proposals
  tests/govtool-frontend/playwright/lib/pages/governanceActionDetailsPage.ts
Owners: @MSzalowski

fix: remove dRepNotVoted assertion
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.dRep.spec.ts
  tests/govtool-frontend/playwright/tests/4-proposal-visibility/proposalVisibility.spec.ts
Owners: @MSzalowski

fix: await page interaction in proposal show-all-button
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski

feat: add guardrails script handling in proposal submission
  tests/govtool-frontend/playwright/lib/constants/index.ts
  tests/govtool-frontend/playwright/lib/helpers/metadata.ts
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/lib/types.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

fix: add dynamic CORS middleware to handle cross-origin requests
  tests/test-metadata-api/index.js
Owners: @Ryun1, @MSzalowski

fix: gov action votes filtering
  govtool/backend/sql/list-proposals.sql
Owners: @Ryun1, @MSzalowski

fix: type error on voting threshold value
  govtool/frontend/src/components/molecules/VotesSubmitted.tsx
  govtool/frontend/src/utils/getGovActionVotingThresholdKey.ts
Owners: @MSzalowski

fix(#2929): fix high severity code smells
  CHANGELOG.md
  govtool/frontend/.eslintrc.cjs
  govtool/frontend/src/components/atoms/Background.tsx
  govtool/frontend/src/components/atoms/CopyButton.tsx
  govtool/frontend/src/components/atoms/StakeRadio.tsx
  govtool/frontend/src/components/atoms/Tooltip.tsx
  govtool/frontend/src/components/molecules/AutomatedVotingCard.tsx
  govtool/frontend/src/components/molecules/CopyableInfo.tsx
  govtool/frontend/src/components/molecules/DRepInfoCard.tsx
  govtool/frontend/src/components/molecules/DashboardActionCard.tsx
  govtool/frontend/src/components/molecules/DataActionsFilters.tsx
  govtool/frontend/src/components/molecules/GovernanceActionCardElement.tsx
  govtool/frontend/src/components/molecules/GovernanceActionDetailsCardLinks.tsx
  govtool/frontend/src/components/organisms/TopNav.tsx
  govtool/frontend/src/context/getUtxos.ts
  govtool/frontend/src/stories/Checkbox.stories.tsx
  govtool/frontend/src/stories/GovernanceAction.stories.ts
  govtool/frontend/src/utils/bech32Validation.ts
  govtool/frontend/src/utils/getGovActionVotingThresholdKey.ts
Owners: @Ryun1, @MSzalowski

refactor: use different url and hash for validation in generateValidProposalFormFields
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/tests/7-proposal-submission/proposalSubmission.loggedin.spec.ts
Owners: @MSzalowski

feat: add and handle motionOfNoConfidence type proposal
  tests/govtool-frontend/playwright/lib/pages/proposalSubmissionPage.ts
  tests/govtool-frontend/playwright/lib/types.ts
Owners: @MSzalowski

refactor: replace hardcoded proposal type filters with dynamic values from ProposalType
  tests/govtool-frontend/playwright/lib/constants/index.ts
  tests/govtool-frontend/playwright/lib/pages/proposalDiscussionPage.ts
  tests/govtool-frontend/playwright/tests/8-proposal-discussion/proposalDiscussion.spec.ts
Owners: @MSzalowski

feat(#2993): allow searching for yourself in DRep directory
  CHANGELOG.md
  govtool/frontend/src/pages/DRepDirectoryContent.tsx
Owners: @Ryun1, @MSzalowski
